Repository sveltejs/kit, pull requests merged in 2021-08, with the labels that each got.

#1807 [docs] clarify and add warning for load function
  documentation/docs/03-loading.md
Labels: documentation

#2062 [fix] consider protocol-relative URLs as external
  .changeset/wet-lemons-cheat.md
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/runtime/server/page/load_node.js
Labels: bug

#2059 [docs] document what hash function is being used
  packages/kit/src/runtime/hash.js
Labels: documentation

#2070 [docs] clarify that you must use `@next` version of adapter
  documentation/docs/10-adapters.md
Labels: documentation

#2072 [fix] correctly do fallthrough in simple case
  .changeset/wet-beds-thank.md
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/test/apps/basics/src/routes/routing/_tests.js
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-advanced/[animal].json.js
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-advanced/[animal].svelte
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-advanced/[mineral].json.js
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-advanced/[mineral].svelte
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-advanced/[vegetable].json.js
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-advanced/[vegetable].svelte
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-advanced/__layout.svelte
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-simple/[legal].svelte
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-simple/[page].svelte
  packages/kit/test/apps/basics/src/routes/routing/fallthrough/__layout.svelte
Labels: bug

#2074 [fix] allow endpoint shadowing to work
  .changeset/smooth-icons-yell.md
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/test/apps/basics/src/routes/routing/fallthrough-simple/[page].svelte
Labels: bug

#2076 [fix] successfully load nested error pages
  .changeset/angry-maps-divide.md
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/types/internal.d.ts
Labels: bug

#2077 [fix] successfully handle client errors
  .changeset/fast-cameras-bow.md
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/src/runtime/utils.js
Labels: bug

#2078 [fix] solve regression parsing unicode URLs
  .changeset/smart-papayas-look.md
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/dev/index.js
Labels: bug

#2075 [docs] mention `serverFetch`
  documentation/docs/04-hooks.md
Labels: documentation

#2085 [chore] use pnpm to build Netlify example
  .gitignore
  examples/hn.svelte.dev/.netlify/netlify-plugin-pnpm/index.js
  examples/hn.svelte.dev/.netlify/netlify-plugin-pnpm/manifest.yml
  examples/hn.svelte.dev/netlify.toml
Labels: examples

#2079 [docs] add documentation for fetch
  documentation/docs/03-loading.md
Labels: documentation

#2089 [fix] fully initialize router before rendering
  .changeset/nervous-laws-rule.md
  packages/kit/src/runtime/client/router.js
  packages/kit/src/runtime/client/start.js
Labels: bug

#2096 [fix] update broken file path
  .changeset/honest-bikes-pull.md
  packages/adapter-node/rollup.config.js
  packages/adapter-node/src/index.js
Labels: bug, pkg:adapter-node

#2094 [fix] JSONValue can't be a Date
  packages/kit/types/endpoint.d.ts
Labels: bug, types / typescript

#2095 [docs] document body parsing
  documentation/docs/01-routing.md
Labels: documentation

#2109 [breaking] standardize final output dir as /build (vs /.svelte-kit)
  .changeset/funny-trainers-hammer.md
  documentation/docs/10-adapters.md
  documentation/docs/80-adapter-api.md
  packages/adapter-netlify/README.md
  packages/adapter-netlify/files/entry.js
  packages/adapter-netlify/index.js
  packages/adapter-node/README.md
  packages/adapter-node/index.js
  packages/adapter-node/rollup.config.js
  packages/adapter-node/src/index.js
  packages/adapter-static/README.md
  packages/adapter-static/index.js
  packages/adapter-static/test/test.js
  packages/adapter-static/test/utils.js
  packages/create-svelte/templates/default/.gitignore
  packages/create-svelte/templates/skeleton/.gitignore
Labels: breaking change

#2117 [fix] take into account page-level options on error pages
  .changeset/warm-icons-teach.md
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond.js
Labels: bug, error handling

#2112 [docs] numerous FAQ updates
  documentation/docs/10-adapters.md
  documentation/faq/45-assets.md
  documentation/faq/65-read-package-json.md
  documentation/faq/70-packages.md
  documentation/faq/80-integrations.md
  documentation/faq/90-fs-strict.md
Labels: documentation

#2134 [fix] provide explicit JS entry point for Vite dev mode
  .changeset/tough-timers-serve.md
  packages/kit/src/core/create_app/index.js
  packages/kit/src/core/dev/index.js
Labels: bug, vite

#2131 [docs] highlight importance of context="module"
  documentation/docs/03-loading.md
Labels: documentation

#1817 [chore] move adapter-begin to architect org
  .changeset/red-cooks-fix.md
  packages/adapter-begin/README.md
  packages/adapter-begin/index.js
  packages/adapter-begin/package.json
  packages/adapter-begin/rollup.config.js
  packages/adapter-begin/src/index.js
  pnpm-lock.yaml
Labels: pkg:adapter-begin

#2151 [docs] linkify changelog PR references
  packages/adapter-begin/CHANGELOG.md
  packages/adapter-cloudflare-workers/CHANGELOG.md
  packages/adapter-netlify/CHANGELOG.md
  packages/adapter-node/CHANGELOG.md
  packages/adapter-static/CHANGELOG.md
  packages/adapter-vercel/CHANGELOG.md
  packages/create-svelte/CHANGELOG.md
  packages/kit/CHANGELOG.md
Labels: documentation

#2137 [fix] enable Vite pre-bundling except for Svelte packages
  .changeset/cuddly-files-decide.md
  packages/kit/src/core/build/index.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/utils.js
  packages/kit/test/apps/basics/src/routes/load/change-detection/__layout.svelte
  packages/kit/test/apps/basics/src/routes/load/change-detection/one/[x].svelte
  packages/kit/test/apps/basics/src/routes/load/change-detection/two/[y].svelte
  pnpm-lock.yaml
Labels: bug, vite

#2157 Update Layout Documentation Incorrect routes
  documentation/docs/02-layouts.md
Labels: documentation

#2128 [fix] fallback should still be generated when prerender is disabled
  .changeset/grumpy-onions-applaud.md
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/adapt/utils.js
Labels: bug

#2171 [fix] handle paths consistently between dev and various production adapters
  .changeset/brave-seas-invent.md
  packages/adapter-node/package.json
  packages/adapter-node/src/server.js
  packages/adapter-node/tests/smoke.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/preview/index.js
  packages/kit/src/runtime/client/router.js
  packages/kit/src/runtime/server/index.js
  packages/kit/test/apps/basics/src/routes/encoded/_tests.js
  pnpm-lock.yaml
Labels: bug, p1-important

#2048 [feat] allow node adapter to configure listen path
  .changeset/eighty-waves-obey.md
  packages/adapter-node/index.js
  packages/adapter-node/src/index.js
Labels: awaiting submitter

#2178 [docs] update `handle` docs to clarify when it runs
  documentation/docs/04-hooks.md
Labels: documentation

#2183 add note to fallback code
  packages/kit/src/core/create_app/index.js
Labels: documentation

#2170 [chore] allow `EndpointOutput` response objects with `toJSON` property
  .changeset/thirty-frogs-mix.md
  packages/kit/types/endpoint.d.ts
Labels: types / typescript

#2182 update kit peerDependency on svelte to ^3.39.0
  .changeset/brave-falcons-approve.md
  packages/kit/package.json
Labels: breaking change

#2191 [fix] upgrade polka and sirv. fixes handling of URLs with unicode characters
  .changeset/tame-lions-jump.md
  packages/adapter-node/package.json
  packages/adapter-node/src/server.js
  pnpm-lock.yaml
Labels: bug, p1-important

#2203 [fix] match regex against route only once
  .changeset/serious-dolphins-approve.md
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
Labels: bug

#2206 [fix] match route against decoded path on client
  .changeset/clever-pillows-sing.md
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/client/router.js
  packages/kit/src/runtime/client/types.d.ts
Labels: bug, p0-urgent

#2197 [chore] clean up fixable `ts-expect-error` comments
  packages/kit/src/core/adapt/test/index.js
  packages/kit/src/core/build/index.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/test/index.js
  packages/kit/src/core/create_manifest_data/index.js
  packages/kit/src/core/create_manifest_data/index.spec.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/server/cert.js
  packages/kit/src/runtime/app/navigation.js
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/client/start.js
  packages/kit/test/apps/basics/src/routes/caching/private/uses-fetch.svelte
  packages/kit/test/apps/basics/src/routes/errors/load-error-malformed-client.svelte
  packages/kit/test/apps/basics/src/routes/errors/load-error-malformed-server.svelte
  packages/kit/test/apps/basics/src/routes/load/fetch-request.svelte
  packages/kit/test/apps/basics/src/routes/xss/_tests.js
Labels: types / typescript

#2135 Adapter-static documentation: Github pages
  packages/adapter-static/README.md
Labels: documentation

#2215 [chore] Make `rawBody` be the bytes
  .changeset/short-beds-punch.md
  documentation/docs/01-routing.md
  documentation/docs/04-hooks.md
  packages/adapter-cloudflare-workers/files/entry.js
  packages/adapter-netlify/files/entry.js
  packages/kit/package.json
  packages/kit/rollup.config.js
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/adapter-utils.js
  packages/kit/src/core/node/index.js
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/parse_body/index.js
  packages/kit/test/apps/basics/src/routes/load/raw-body.json.js
  packages/kit/types/helper.d.ts
  packages/kit/types/hooks.d.ts
  packages/kit/types/internal.d.ts
Labels: breaking change

#2110 rename serverFetch to externalFetch
  .changeset/thirty-spies-sparkle.md
  documentation/docs/04-hooks.md
  packages/kit/src/core/build/index.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/test/apps/basics/src/hooks.js
  packages/kit/types/hooks.d.ts
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: p1-important, breaking change

#2208 [docs] update `handle` docs to clarify when it runs
  documentation/docs/04-hooks.md
Labels: documentation

#2184 [docs] update introduction
  documentation/docs/00-introduction.md
Labels: documentation

#2244 [fix] provide default port only if path not provided
  .changeset/beige-beers-explain.md
  packages/adapter-node/index.js
Labels: bug

#2259 [chore] export App types
  .changeset/nice-ways-search.md
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/preview/index.js
  packages/kit/src/runtime/server/index.js
  packages/kit/types/app.d.ts
  packages/kit/types/helper.d.ts
  packages/kit/types/hooks.d.ts
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
  packages/kit/types/page.d.ts
Labels: types / typescript

#2248 [chore] separate RequestHeaders and ResponseHeaders types
  .changeset/empty-donuts-smell.md
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/preview/index.js
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/parse_body/index.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/src/utils/http.js
  packages/kit/test/apps/basics/src/hooks.js
  packages/kit/types/app.d.ts
  packages/kit/types/endpoint.d.ts
  packages/kit/types/helper.d.ts
  packages/kit/types/hooks.d.ts
Labels: types / typescript

#2317 [docs] add docs for sequence
  documentation/docs/04-hooks.md
  documentation/docs/05-modules.md
Labels: documentation

#2315 [fix] HMR on Windows
  .changeset/thin-bats-protect.md
  packages/kit/src/core/dev/index.js
Labels: bug
