Repository sveltejs/kit, pull requests merged in 2021-11, with the labels that each got.

#2723 [docs] add svelte.dev to list of examples
  documentation/docs/90-additional-resources.md
Labels: documentation, examples

#2692 [docs] `adapter-cloudflare-workers`: describe how to skip webpack bundling
  packages/adapter-cloudflare-workers/README.md
Labels: documentation, pkg:adapter-cloudflare-workers

#2732 [feat] ignore `.env` in starter templates
  .changeset/mean-pumpkins-compete.md
  packages/create-svelte/templates/default/.gitignore
  packages/create-svelte/templates/skeleton/.gitignore
Labels: enhancement, template

#2724 [docs] add deployment section for adapter-node
  packages/adapter-node/README.md
Labels: documentation, pkg:adapter-node

#2729 [fix] make HN example RSS feed work
  examples/hn.svelte.dev/src/routes/[list]/rss.js
Labels: examples

#2735 [fix] reset scroll when navigated from scrolled page
  .changeset/wet-papayas-live.md
  packages/kit/src/runtime/client/renderer.js
  packages/kit/test/apps/basics/src/routes/anchor-with-manual-scroll/_tests.js
  packages/kit/test/apps/basics/src/routes/anchor/_tests.js
  packages/kit/test/apps/basics/src/routes/anchor/index.svelte
  packages/kit/test/apps/basics/src/routes/use-action/_tests.js
  packages/kit/test/test.js
  packages/kit/test/types.d.ts
Labels: router, p1-important

#2749 [fix] increase scroll debounce timeout
  .changeset/eight-glasses-sparkle.md
  packages/kit/src/runtime/client/router.js
Labels: router

#2752 [fix] Correct type definition of `window.started`
  packages/kit/test/ambient.d.ts
Labels: types / typescript

#2761 [fix] properly scroll if body has margin
  .changeset/tender-pans-explode.md
  packages/kit/src/runtime/client/renderer.js
  packages/kit/test/apps/basics/src/routes/anchor-with-manual-scroll/_tests.js
  packages/kit/test/apps/basics/src/routes/anchor-with-manual-scroll/anchor.svelte
  packages/kit/test/apps/basics/src/routes/anchor/_tests.js
  packages/kit/test/apps/basics/src/routes/anchor/index.svelte
Labels: router

#2755 [fix] unselect before navigation
  .changeset/seven-avocados-hug.md
  packages/kit/src/runtime/client/renderer.js
  packages/kit/test/apps/basics/src/routes/selection/__layout.svelte
  packages/kit/test/apps/basics/src/routes/selection/_tests.js
  packages/kit/test/apps/basics/src/routes/selection/a.svelte
  packages/kit/test/apps/basics/src/routes/selection/b.svelte
Labels: router

#2743 [docs] add types for error load function
  documentation/docs/01-routing.md
  documentation/docs/02-layouts.md
  documentation/docs/03-loading.md
  documentation/docs/80-adapter-api.md
Labels: documentation

#2810 [docs] update FAQ with newer info about Firebase and Vite
  documentation/faq/60-env-vars.md
  documentation/faq/80-integrations.md
Labels: documentation

#2823 [docs] update cloudflare adapter readmes
  packages/adapter-cloudflare-workers/README.md
  packages/adapter-cloudflare/README.md
  packages/adapter-cloudflare/files/worker.js
Labels: documentation

#2819 [fix] use defaults when no opts passed to router
  .changeset/fast-poems-notice.md
  packages/kit/src/runtime/client/renderer.js
Labels: router

#2860 add adapter-cloudflare to adapters docs
  documentation/docs/10-adapters.md
Labels: documentation

#2857 [fix] prevent text unselection for keepfocus
  .changeset/empty-grapes-own.md
  packages/kit/src/runtime/client/renderer.js
  packages/kit/test/apps/basics/src/routes/keepfocus/_tests.js
  packages/kit/test/apps/basics/src/routes/keepfocus/index.svelte
Labels: router

#2811 [docs] Add more info on query params
  documentation/docs/03-loading.md
Labels: documentation

#2910 [docs] Clarify usage of `page.query`
  documentation/docs/11-ssr-and-javascript.md
Labels: documentation
