Repository sveltejs/kit, pull requests merged in 2021-09, with the labels that each got.

#2354 [fix] don't decode URL when finding matching route
  .changeset/two-tigers-cry.md
  packages/kit/src/core/create_manifest_data/index.js
  packages/kit/src/core/create_manifest_data/index.spec.js
  packages/kit/src/core/create_manifest_data/test/samples/encoding/土豆.svelte
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/client/router.js
  packages/kit/src/runtime/client/types.d.ts
  packages/kit/src/runtime/server/index.js
  packages/kit/test/apps/basics/src/routes/encoded/_tests.js
Labels: bug

#2380 [breaking] rename prerender.pages config option to prerender.entries
  .changeset/early-lemons-collect.md
  documentation/docs/14-configuration.md
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/adapt/test/index.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/config/test/index.js
  packages/kit/types/config.d.ts
Labels: breaking change

#2414 [feat] adapter-node entryPoint option
  .changeset/young-cougars-poke.md
  packages/adapter-node/README.md
  packages/adapter-node/index.d.ts
  packages/adapter-node/index.js
Labels: enhancement, pkg:adapter-node

#2413 [chore] expose Body generic to hook functions
  .changeset/two-buttons-eat.md
  documentation/docs/04-hooks.md
  packages/kit/types/hooks.d.ts
Labels: types / typescript

#2445 [docs] add link to envPrefix option in env var FAQ
  documentation/faq/60-env-vars.md
Labels: documentation

#2446 [docs] rename troubleshooting docs section and link more resources
  documentation/docs/90-additional-resources.md
  documentation/docs/90-troubleshooting.md
  documentation/faq/80-integrations.md
Labels: documentation

#2439 [breaking] rename context param of load to stuff
  .changeset/neat-garlics-buy.md
  documentation/docs/03-loading.md
  documentation/migrating/04-pages.md
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/client/types.d.ts
  packages/kit/src/runtime/load.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/src/runtime/server/page/types.d.ts
  packages/kit/test/apps/basics/src/routes/load/_tests.js
  packages/kit/test/apps/basics/src/routes/load/stuff/[x]/[y]/[z].svelte
  packages/kit/test/apps/basics/src/routes/load/stuff/[x]/[y]/__layout.svelte
  packages/kit/test/apps/basics/src/routes/load/stuff/[x]/__layout.svelte
  packages/kit/test/apps/basics/src/routes/load/stuff/__layout.svelte
  packages/kit/types/internal.d.ts
  packages/kit/types/page.d.ts
Labels: breaking change

#2430 [feat] prefer functions to globs
  .changeset/nasty-seas-reflect.md
  .changeset/stupid-laws-jog.md
  documentation/docs/14-configuration.md
  packages/kit/package.json
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/config/test/index.js
  packages/kit/src/core/create_manifest_data/index.js
  packages/kit/src/core/create_manifest_data/index.spec.js
  packages/kit/src/packaging/index.js
  packages/kit/src/packaging/test/fixtures/exports-replace/svelte.config.js
  packages/kit/src/packaging/test/fixtures/files-exclude/svelte.config.js
  packages/kit/src/utils/object.js
  packages/kit/types/config.d.ts
  pnpm-lock.yaml
Labels: breaking change

#2485 [docs] update service worker docs to match recent change to files option
  documentation/docs/05-modules.md
Labels: documentation

#2504 [docs] add list of examples to docs
  documentation/docs/90-additional-resources.md
Labels: documentation, examples

#2512 [fix] allow passing in https certs again
  .changeset/late-monkeys-call.md
  packages/kit/src/core/dev/index.js
Labels: bug

#2525 [fix] restore functioning of --host CLI flag with no arg
  .changeset/swift-jokes-compete.md
  packages/kit/src/cli.js
  packages/kit/src/core/dev/index.js
Labels: bug

#2496 Improved documentation for cloudflare-workers
  packages/adapter-cloudflare-workers/README.md
Labels: documentation, pkg:adapter-cloudflare-workers
