Repository sveltejs/kit, pull requests merged in 2021-04, with the labels that each got.

#695 Remove sandbox example
  examples/sandbox/CHANGELOG.md
  examples/sandbox/package.json
  examples/sandbox/src/app.html
  examples/sandbox/src/hooks/index.js
  examples/sandbox/src/lib/Counter.svelte
  examples/sandbox/src/routes/doubler.js
  examples/sandbox/src/routes/index.svelte
  examples/sandbox/src/service-worker/index.js
  examples/sandbox/static/favicon.ico
  examples/sandbox/static/robots.txt
  examples/sandbox/svelte.config.cjs
  pnpm-lock.yaml
Labels: examples

#462 support https
  .changeset/blue-squids-march.md
  packages/kit/package.json
  packages/kit/src/cli.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/server/cert.js
  packages/kit/src/core/server/index.js
  packages/kit/src/core/start/index.js
  pnpm-lock.yaml
Labels: enhancement

#886 Update 07-a-options.md
  documentation/docs/07-a-options.md
Labels: documentation

#877 Flesh out the FAQ content
  documentation/faq/10-version-numbers.md
  documentation/faq/20-hmr.md
  documentation/faq/30-fallthrough.md
  documentation/faq/40-adapters.md
  documentation/faq/50-aliases.md
  documentation/faq/60-env-vars.md
  documentation/faq/70-packages.md
  documentation/faq/80-integrations.md
Labels: documentation

#970 Add some upfront documentation about pages vs endpoints
  documentation/docs/01-routing.md
Labels: documentation

#938 Fix links to prerendering docs
  documentation/docs/13-configuration.md
Labels: documentation

#1017 Improve Vite bundling FAQ
  documentation/faq/70-packages.md
Labels: documentation

#1025 Enhancements to docs around the `query` page attribute
  documentation/docs/03-loading.md
  documentation/docs/05-modules.md
Labels: documentation

#1023 Add an FAQ on how to use Sass/Less
  documentation/faq/80-integrations.md
Labels: documentation

#1021 Fix default `$error.svelte` page
  .changeset/great-queens-rule.md
  packages/kit/assets/components/error.svelte
Labels: bug

#1030 Simplify project creation instructions
  documentation/docs/00-introduction.md
  packages/kit/README.md
Labels: documentation

#1024 types: organize into folder
  packages/kit/package.json
  packages/kit/src/core/adapt/index.js
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/adapt/test/index.js
  packages/kit/src/core/adapt/utils.js
  packages/kit/src/core/build/index.js
  packages/kit/src/core/create_app/index.js
  packages/kit/src/core/create_manifest_data/index.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/load_config/index.js
  packages/kit/src/core/start/index.js
  packages/kit/src/core/utils.js
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/client/router.js
  packages/kit/src/runtime/client/start.js
  packages/kit/src/runtime/client/types.d.ts
  packages/kit/src/runtime/load.js
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/src/runtime/server/page/types.d.ts
  packages/kit/tsconfig.enforced.json
  packages/kit/tsconfig.json
  packages/kit/types.d.ts
  packages/kit/types/ambient-modules.d.ts
  packages/kit/types/config.d.ts
  packages/kit/types/endpoint.d.ts
  packages/kit/types/helper.d.ts
  packages/kit/types/hooks.d.ts
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
  packages/kit/types/page.d.ts
Labels: types / typescript

#1062 Better error logging
  .changeset/lazy-actors-add.md
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/build/index.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/start/index.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/test/apps/basics/src/routes/errors/__tests__.js
  packages/kit/test/test.js
  packages/kit/test/types.d.ts
  packages/kit/types/internal.d.ts
Labels: error handling

#1096 Fix Windows build output containing backslashes
  .changeset/witty-ligers-listen.md
  packages/kit/src/core/build/index.js
Labels: windows

#1132 Update troubleshooting documentation
  documentation/docs/11-ssr-and-javascript.md
  documentation/docs/99-troubleshooting.md
  documentation/faq/80-integrations.md
Labels: documentation

#884 add support for multiple rel values when checking for external links
  .changeset/fast-goats-argue.md
  packages/kit/src/runtime/client/router.js
Labels: router

#1213 Explain layout can also export the load function
  documentation/docs/03-loading.md
Labels: documentation

#1217 add install instructions and warning for netlify adapter
  packages/adapter-netlify/README.md
Labels: documentation

#1237 Remove Axios FAQ, add Firebase FAQ, and update preprocess and env FAQs
  documentation/faq/60-env-vars.md
  documentation/faq/80-integrations.md
Labels: documentation

#1246 Replace outdated TODO with migration docs
  documentation/migrating/99-integrations.md
  packages/kit/src/core/adapt/prerender.js
Labels: documentation

#1264 Link session sections in docs
  documentation/docs/04-hooks.md
Labels: documentation
