Repository sveltejs/kit, pull requests merged in 2021-12, with the labels that each got.

#2961 [docs] adapter clarifications
  documentation/docs/10-adapters.md
Labels: documentation

#2964 remove unused reload flag on NavigationResult
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/client/types.d.ts
Labels: router

#2985 feat: bump eslint ecmaVersion to 2020
  .changeset/gorgeous-toys-rule.md
  packages/create-svelte/shared/+eslint+prettier+typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+prettier-typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint-typescript/.eslintrc.cjs
Labels: pkg:create-svelte

#2990 [fix] rename dotfiles to avoid template problems
  .changeset/odd-ligers-march.md
  packages/create-svelte/bin.js
  packages/create-svelte/scripts/build-templates.js
Labels: bug, pkg:create-svelte

#3085 [chore] run pnpm with --frozen-lockfile in pre-push hook
  .githooks/pre-push
Labels: meta, task

#2995 fix: update `sveltekit:prefetch` mouse detection
  .changeset/lazy-ways-swim.md
  packages/kit/src/runtime/client/router.js
Labels: router

#3115 fix: <Route> received an unexpected slot "default"
  .changeset/moody-students-report.md
  packages/kit/src/core/create_app/index.js
Labels: router

#3070 Fixing typo in readme
  packages/adapter-cloudflare-workers/README.md
Labels: pkg:adapter-cloudflare-workers
