Repository sveltejs/kit, pull requests merged in 2021-05, with the labels that each got.

#1287 [adapter-cloudflare-workers] add es2020 target to esbuild function to solve Unexpected character '#' error
  .changeset/early-wasps-obey.md
  packages/adapter-cloudflare-workers/index.js
Labels: pkg:adapter-cloudflare-workers

#1297 Link to Vite issue in docs for more details
  documentation/docs/12-cli.md
Labels: documentation

#1316 Add `prerendering` to `$app/env` typings
  .changeset/strong-cooks-turn.md
  packages/kit/types/ambient-modules.d.ts
Labels: types / typescript

#1312 Improve promts, turn confirms into toggle
  .changeset/healthy-moons-attend.md
  packages/create-svelte/bin.js
Labels: pkg:create-svelte

#1375 fix: make ServerResponse Headers more flexible
  .changeset/yellow-wombats-breathe.md
  packages/kit/types/endpoint.d.ts
Labels: types / typescript

#830 let hash changes be handled by the router
  .changeset/five-shirts-allow.md
  packages/kit/src/runtime/client/router.js
  packages/kit/test/apps/basics/src/routes/routing/_tests.js
  packages/kit/test/apps/basics/src/routes/routing/hashes/a.svelte
  packages/kit/test/apps/basics/src/routes/routing/hashes/b.svelte
Labels: router

#1481 docs: explain form handling using Netlify Adapter
  packages/adapter-netlify/README.md
Labels: documentation

#1430 docs: sync up types
  documentation/docs/01-routing.md
  documentation/docs/03-loading.md
  documentation/docs/04-hooks.md
Labels: documentation, types / typescript

#1558 Use sveltekit tag on StackOverflow
  .github/ISSUE_TEMPLATE/questions-and-help.md
  documentation/docs/99-troubleshooting.md
Labels: documentation

#1539 types: group related and reduce potential inconsistencies
  packages/kit/src/core/node/index.js
  packages/kit/src/runtime/hash.js
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/types/ambient-modules.d.ts
  packages/kit/types/endpoint.d.ts
  packages/kit/types/helper.d.ts
  packages/kit/types/hooks.d.ts
  packages/kit/types/index.d.ts
  packages/kit/types/page.d.ts
Labels: types / typescript

#1578 type fixes for adapter-node and adapter-static
  packages/adapter-node/index.d.ts
  packages/adapter-static/index.d.ts
  packages/adapter-static/index.js
Labels: types / typescript

#1507 fix: append trailing slash in manifest
  packages/kit/src/core/adapt/prerender.js
Labels: bug

#1594 fix: ignore 'content-type' header capitalization (#1463)
  .changeset/pretty-cycles-learn.md
  packages/kit/src/runtime/server/parse_body/index.js
  packages/kit/src/runtime/server/parse_body/parse_body.spec.js
Labels: bug

#1447 Make it possible to type context and props for LoadInput and LoadOutput
  .changeset/tricky-rockets-agree.md
  packages/kit/types/endpoint.d.ts
  packages/kit/types/helper.d.ts
  packages/kit/types/hooks.d.ts
  packages/kit/types/index.d.ts
  packages/kit/types/page.d.ts
Labels: types / typescript
