Repository sveltejs/kit, pull requests merged in 2021-06, with the labels that each got.

#1586 fix(adapter-netlify): Append to _redirects
  .changeset/selfish-ligers-allow.md
  packages/adapter-netlify/index.js
Labels: pkg:adapter-netlify

#1620 Attempt to fix peerDependencies specification
  .changeset/lovely-mice-search.md
  packages/adapter-begin/package.json
  packages/adapter-cloudflare-workers/package.json
  packages/adapter-netlify/package.json
  packages/adapter-node/package.json
  packages/adapter-static/package.json
  packages/adapter-vercel/package.json
Labels: bug

#1621 Remove peerDependencies due to pnpm bug
  .changeset/funny-terms-repair.md
  packages/adapter-begin/package.json
  packages/adapter-cloudflare-workers/package.json
  packages/adapter-netlify/package.json
  packages/adapter-node/package.json
  packages/adapter-static/package.json
  packages/adapter-vercel/package.json
Labels: bug

#1633 (feat) svelte package: transpile TS
  .changeset/twenty-dryers-hope.md
  packages/kit/rollup.config.js
  packages/kit/src/core/make_package/index.js
Labels: types / typescript

#1613 Clarify the use of svelte-kit preview and adapters
  documentation/docs/10-adapters.md
  documentation/docs/13-cli.md
Labels: documentation

#1693 feat(adapter-node): precompress (gzip & brotli) assets
  .changeset/clever-eagles-live.md
  packages/adapter-node/README.md
  packages/adapter-node/index.d.ts
  packages/adapter-node/index.js
  packages/adapter-node/package.json
  packages/adapter-node/src/server.js
  pnpm-lock.yaml
Labels: pkg:adapter-node

#1691 ensure router is initialized when subscribing to session
  .changeset/hip-elephants-judge.md
  packages/kit/src/runtime/client/renderer.js
Labels: bug, router

#1708 Remove suggestion to upgrade Vite from FAQ
  documentation/faq/70-packages.md
Labels: documentation

#1707 Remove the instructions to install vite when migrating
  documentation/migrating/02-pkg.md
Labels: documentation

#1713 docs: mention package in cli section
  documentation/docs/13-cli.md
Labels: documentation

#1700 Stricter regex for getting element attributes during prerendering
  .changeset/seven-planes-fly.md
  packages/kit/src/core/adapt/prerender.js
Labels: bug

#1665 Add faq docs about limitation in vite-plugin-svelte
  documentation/faq/70-packages.md
Labels: documentation

#1719 Add missing comma
  packages/adapter-node/README.md
Labels: documentation

#1754 allow customisation of HOST and PORT env vars in adapter-node
  .changeset/curvy-eggs-sip.md
  packages/adapter-node/README.md
  packages/adapter-node/index.d.ts
  packages/adapter-node/index.js
  packages/adapter-node/rollup.config.js
  packages/adapter-node/src/index.js
Labels: enhancement, pkg:adapter-node

#1704 Add note to install test dependencies
  README.md
Labels: documentation
