Repository sveltejs/kit, pull requests merged in 2021-07, with the labels that each got.

#1805 fix(test): Parse quoted paths instead of blindly splitting on spaces
  packages/adapter-static/test/utils.js
Labels: tests

#1804 fix: Externalize app initialization to adapters
  .changeset/polite-ducks-notice.md
  packages/adapter-begin/src/index.js
  packages/adapter-cloudflare-workers/files/entry.js
  packages/adapter-netlify/files/entry.js
  packages/adapter-node/src/index.js
  packages/adapter-node/src/require_shim.js
  packages/adapter-vercel/files/entry.js
  packages/kit/src/core/build/index.js
  packages/kit/src/install-fetch.js
Labels: adapters - general, bug

#1646 svelte-kit package: Generate type definitions
  .changeset/odd-islands-heal.md
  documentation/docs/12-packaging.md
  documentation/docs/14-configuration.md
  packages/kit/package.json
  packages/kit/rollup.config.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/make_package/index.js
  packages/kit/src/core/make_package/test/fixtures/javascript/expected/Test.svelte
  packages/kit/src/core/make_package/test/fixtures/javascript/expected/Test.svelte.d.ts
  packages/kit/src/core/make_package/test/fixtures/javascript/expected/Test2.svelte
  packages/kit/src/core/make_package/test/fixtures/javascript/expected/Test2.svelte.d.ts
  packages/kit/src/core/make_package/test/fixtures/javascript/expected/foo.d.ts
  packages/kit/src/core/make_package/test/fixtures/javascript/expected/index.d.ts
  packages/kit/src/core/make_package/test/fixtures/javascript/expected/index.js
  packages/kit/src/core/make_package/test/fixtures/javascript/expected/package.json
  packages/kit/src/core/make_package/test/fixtures/javascript/jsconfig.json
  packages/kit/src/core/make_package/test/fixtures/javascript/package.json
  packages/kit/src/core/make_package/test/fixtures/javascript/src/app.html
  packages/kit/src/core/make_package/test/fixtures/javascript/src/lib/Test.svelte
  packages/kit/src/core/make_package/test/fixtures/javascript/src/lib/Test2.svelte
  packages/kit/src/core/make_package/test/fixtures/javascript/src/lib/foo.d.ts
  packages/kit/src/core/make_package/test/fixtures/javascript/src/lib/index.js
  packages/kit/src/core/make_package/test/fixtures/javascript/svelte.config.js
  packages/kit/src/core/make_package/test/fixtures/typescript/expected/Test.svelte
  packages/kit/src/core/make_package/test/fixtures/typescript/expected/Test.svelte.d.ts
  packages/kit/src/core/make_package/test/fixtures/typescript/expected/Test2.svelte
  packages/kit/src/core/make_package/test/fixtures/typescript/expected/Test2.svelte.d.ts
  packages/kit/src/core/make_package/test/fixtures/typescript/expected/foo.d.ts
  packages/kit/src/core/make_package/test/fixtures/typescript/expected/index.d.ts
  packages/kit/src/core/make_package/test/fixtures/typescript/expected/index.js
  packages/kit/src/core/make_package/test/fixtures/typescript/expected/package.json
  packages/kit/src/core/make_package/test/fixtures/typescript/package.json
  packages/kit/src/core/make_package/test/fixtures/typescript/src/app.html
  packages/kit/src/core/make_package/test/fixtures/typescript/src/lib/Test.svelte
  packages/kit/src/core/make_package/test/fixtures/typescript/src/lib/Test2.svelte
  packages/kit/src/core/make_package/test/fixtures/typescript/src/lib/foo.d.ts
  packages/kit/src/core/make_package/test/fixtures/typescript/src/lib/index.ts
  packages/kit/src/core/make_package/test/fixtures/typescript/svelte.config.cjs
  packages/kit/src/core/make_package/test/fixtures/typescript/tsconfig.json
  packages/kit/src/core/make_package/test/index.js
  packages/kit/src/runtime/client/router.js
  pnpm-lock.yaml
Labels: types / typescript

#1822 fix: Use esbuild inject API
  .changeset/ninety-games-flow.md
  packages/adapter-netlify/files/entry.js
  packages/adapter-netlify/files/shims.js
  packages/adapter-netlify/index.js
  packages/adapter-node/index.js
  packages/adapter-node/rollup.config.js
  packages/adapter-node/src/index.js
  packages/adapter-node/src/require_shim.js
  packages/adapter-node/src/server.js
  packages/adapter-node/src/shims.js
  packages/adapter-vercel/files/entry.js
  packages/adapter-vercel/files/shims.js
  packages/adapter-vercel/index.js
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/start/index.js
  packages/kit/src/install-fetch.js
Labels: adapters - general

#1827 Surface Svelte compiler errors
  .changeset/hot-bags-jump.md
  examples/hn.svelte.dev/src/routes/__error.svelte
  packages/kit/assets/components/error.svelte
  packages/kit/src/core/build/index.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/runtime/server/page/render.js
Labels: error handling

#1839 Link to Changelogs from Readmes
  packages/adapter-begin/README.md
  packages/adapter-cloudflare-workers/README.md
  packages/adapter-netlify/README.md
  packages/adapter-node/README.md
  packages/adapter-static/README.md
  packages/adapter-vercel/README.md
  packages/kit/README.md
Labels: documentation

#1645 Add SW files exclusion support
  .changeset/pink-poets-begin.md
  documentation/docs/05-modules.md
  documentation/docs/14-configuration.md
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/config/test/index.js
  packages/kit/src/core/create_manifest_data/index.js
  packages/kit/src/core/create_manifest_data/index.spec.js
  packages/kit/types/config.d.ts
Labels: enhancement

#1846 Docs for writing an adapter API
  documentation/docs/10-adapters.md
  documentation/docs/80-adapter-api.md
Labels: documentation

#1821 Pass along custom properties added to Error
  .changeset/neat-walls-buy.md
  packages/kit/src/runtime/server/page/render.js
Labels: enhancement

#1525 Add appendix regarding different rendering methods
  documentation/docs/00-introduction.md
  documentation/docs/11-ssr-and-javascript.md
  documentation/docs/90-troubleshooting.md
  documentation/docs/99-appendix.md
Labels: documentation

#1687 [fix] Expand list of allowed mime types for binary bodies
  .changeset/great-guests-visit.md
  packages/adapter-cloudflare-workers/files/entry.js
  packages/adapter-netlify/files/entry.js
  packages/kit/package.json
  packages/kit/rollup.config.js
  packages/kit/src/core/adapter-utils.js
  packages/kit/src/core/node/index.js
  packages/kit/src/runtime/server/endpoint.js
Labels: awaiting submitter

#1900 Fix endpoint validation to allow returning string for all content types
  .changeset/violet-mugs-brake.md
  README.md
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/basics/src/routes/content-type-header/_tests.js
  packages/kit/test/apps/basics/src/routes/endpoint-output/_tests.js
  packages/kit/test/apps/basics/src/routes/endpoint-output/xml-bytes.js
  packages/kit/test/apps/basics/src/routes/endpoint-output/xml-text.js
Labels: bug

#1906 [fix] adapter-netlify: support for multivalue headers
  .changeset/happy-otters-provide.md
  packages/adapter-netlify/files/entry.js
Labels: bug, pkg:adapter-netlify

#1907 [docs] update $app/paths configuration path
  packages/kit/types/ambient-modules.d.ts
Labels: documentation

#1910 [feat] Friendlier error messages for common config errors
  .changeset/little-boats-allow.md
  packages/kit/src/core/config/index.js
  packages/kit/src/core/config/test/fixtures/export-missing/src/app.html
  packages/kit/src/core/config/test/fixtures/export-missing/svelte.config.js
  packages/kit/src/core/config/test/fixtures/export-string/src/app.html
  packages/kit/src/core/config/test/fixtures/export-string/svelte.config.js
  packages/kit/src/core/config/test/index.js
Labels: enhancement, error handling

#1934 Document load reactivity
  documentation/docs/03-loading.md
Labels: documentation

#1926 [netlify adapter] add note on Netlify node version
  packages/adapter-netlify/README.md
Labels: documentation, pkg:adapter-netlify

#1984 [fix] correctly find links during prerendering
  .changeset/blue-bees-jump.md
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/adapt/prerender.spec.js
Labels: bug

#1983 Handle errors with incorrect type
  .changeset/modern-news-rhyme.md
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/src/runtime/server/utils.js
Labels: error handling

#1989 [chore] stricter TypeScript checking
  .changeset/stupid-bottles-approve.md
  package.json
  packages/adapter-begin/package.json
  packages/adapter-netlify/package.json
  packages/adapter-node/package.json
  packages/adapter-static/package.json
  packages/adapter-vercel/package.json
  packages/create-svelte/package.json
  packages/create-svelte/templates/default/package.json
  packages/kit/package.json
  packages/kit/src/core/adapt/utils.js
  packages/kit/src/runtime/client/router.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/tsconfig.json
  pnpm-lock.yaml
Labels: types / typescript

#1993 [chore] improved typing on core library
  .changeset/sixty-rice-cough.md
  packages/kit/package.json
  packages/kit/src/cli.js
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/build/index.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/create_manifest_data/index.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/make_package/index.js
  packages/kit/src/core/node/index.js
  packages/kit/src/core/start/index.js
  packages/kit/src/core/utils.js
  packages/kit/types/internal.d.ts
  pnpm-lock.yaml
Labels: types / typescript

#1998 [chore] enable TypeScript strict mode
  .changeset/loud-dancers-cough.md
  packages/kit/src/core/adapt/prerender.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/test/index.js
  packages/kit/src/core/create_manifest_data/index.js
  packages/kit/src/core/node/index.js
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/client/types.d.ts
  packages/kit/src/runtime/load.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/tsconfig.json
  packages/kit/types/internal.d.ts
Labels: types / typescript

#1999 Use @ts-expect-error over @ts-ignore
  packages/kit/src/core/adapt/test/index.js
  packages/kit/src/core/build/index.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/test/index.js
  packages/kit/src/core/create_manifest_data/index.js
  packages/kit/src/core/create_manifest_data/index.spec.js
  packages/kit/src/core/server/cert.js
  packages/kit/src/runtime/app/navigation.js
  packages/kit/src/runtime/app/stores.js
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/client/router.js
  packages/kit/src/runtime/client/start.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/test/apps/basics/src/routes/caching/private/uses-fetch.svelte
  packages/kit/test/apps/basics/src/routes/errors/load-error-malformed-client.svelte
  packages/kit/test/apps/basics/src/routes/errors/load-error-malformed-server.svelte
  packages/kit/test/apps/basics/src/routes/load/fetch-request.svelte
  packages/kit/test/apps/basics/src/routes/load/server-fetch-request.svelte
  packages/kit/test/apps/basics/src/routes/routing/shadow/action.js
  packages/kit/test/apps/basics/src/routes/xss/_tests.js
  packages/kit/test/apps/basics/src/service-worker.js
  packages/kit/test/test.js
Labels: types / typescript

#2003 [docs] fix typo
  documentation/docs/80-adapter-api.md
Labels: documentation

#2010 [chore] prefer interfaces to types
  .changeset/curvy-dots-join.md
  packages/kit/test/types.d.ts
  packages/kit/types/config.d.ts
  packages/kit/types/endpoint.d.ts
  packages/kit/types/hooks.d.ts
  packages/kit/types/internal.d.ts
  packages/kit/types/page.d.ts
Labels: types / typescript

#2019 [chore] typecheck example
  examples/hn.svelte.dev/src/routes/[list]/rss.js
  examples/hn.svelte.dev/src/routes/rss.js
  examples/hn.svelte.dev/tsconfig.json
Labels: examples, types / typescript

#2018 [chore] convert remaining type aliases
  packages/kit/test/apps/basics/src/routes/routing/shadow/action.js
  packages/kit/types/endpoint.d.ts
  packages/kit/types/helper.d.ts
  packages/kit/types/hooks.d.ts
  packages/kit/types/page.d.ts
Labels: types / typescript
