Repository sveltejs/kit, pull requests merged in 2022-10, with the labels that each got.

#7159 [fix] clear out build directory when running `adapter-netlify`
  .changeset/sharp-lies-grin.md
  packages/adapter-netlify/index.js
Labels: pkg:adapter-netlify

#4448 feat: use config.kit.paths.base for static assets
  .changeset/smooth-waves-accept.md
  packages/adapter-cloudflare-workers/files/entry.js
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare/index.js
  packages/adapter-cloudflare/src/worker.js
  packages/adapter-netlify/index.js
  packages/adapter-netlify/src/edge.js
  packages/adapter-node/index.js
  packages/adapter-node/src/handler.js
  packages/adapter-vercel/index.js
  packages/kit/src/core/adapt/builder.js
  packages/kit/src/core/generate_manifest/index.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/index.js
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: p1-important, paths.base

#7338 prefix all route IDs with `/`
  .changeset/strange-crabs-shop.md
  packages/kit/src/core/prerender/prerender.js
  packages/kit/src/core/sync/create_manifest_data/index.js
  packages/kit/src/core/sync/create_manifest_data/index.spec.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/src/utils/routing.js
  packages/kit/src/utils/routing.spec.js
  packages/kit/test/apps/basics/test/server.test.js
  packages/kit/test/apps/basics/test/test.js
  packages/kit/test/build-errors/prerender.spec.js
Labels: breaking change

#7401 Drop CJS version of adapter-netlify
  .changeset/bright-countries-jump.md
  packages/adapter-netlify/rollup.config.js
Labels: pkg:adapter-netlify

#7343 Use `req.originalUrl` for better Vite compatibility
  .changeset/lucky-moles-count.md
  packages/kit/src/exports/vite/dev/index.js
Labels: vite
