Repository sveltejs/kit, pull requests merged in 2022-03, with the labels that each got.

#4120 Generated types
  .changeset/honest-cows-notice.md
  documentation/docs/01-routing.md
  documentation/docs/03-loading.md
  documentation/docs/14-types.md
  packages/create-svelte/templates/default/tsconfig.json
  packages/kit/package.json
  packages/kit/src/core/build/build_client.js
  packages/kit/src/core/create_app/index.js
  packages/kit/src/core/dev/plugin.js
  packages/kit/src/core/tsconfig.js
  packages/kit/src/runtime/server/index.js
  packages/kit/test/ambient.d.ts
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/amp/tsconfig.json
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/basics/src/global.d.ts
  packages/kit/test/apps/basics/src/routes/encoded/[slug].svelte
  packages/kit/test/apps/basics/src/routes/load/fetch-headers.json.js
  packages/kit/test/apps/basics/test/test.js
  packages/kit/test/apps/basics/tsconfig.json
  packages/kit/test/apps/options-2/package.json
  packages/kit/test/apps/options-2/src/app.d.ts
  packages/kit/test/apps/options-2/tsconfig.json
  packages/kit/test/apps/options/package.json
  packages/kit/test/apps/options/source/hooks.js
  packages/kit/test/apps/options/tsconfig.json
  packages/kit/test/prerendering/basics/package.json
  packages/kit/test/prerendering/basics/tsconfig.json
  packages/kit/test/prerendering/options/package.json
  packages/kit/test/prerendering/options/src/hooks.js
  packages/kit/test/prerendering/options/tsconfig.json
  packages/kit/tsconfig.json
  packages/kit/types/index.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sites/kit.svelte.dev/src/lib/docs/client/docs.css
  sites/kit.svelte.dev/src/lib/docs/server/index.js
  sites/kit.svelte.dev/tsconfig.json
Labels: types / typescript

#4160 differentiate between `input` and `output` params inside `Load`
  .changeset/yellow-geese-tap.md
  packages/kit/types/index.d.ts
  packages/kit/types/private.d.ts
Labels: types / typescript, breaking change

#4187 [docs] remove options that no longer exist in the CLI
  documentation/docs/12-cli.md
Labels: documentation

#4190 Upgrade to TypeScript 4.6
  .changeset/polite-laws-cheat.md
  package.json
  packages/adapter-cloudflare/tsconfig.json
  packages/create-svelte/shared/+typescript/package.json
  packages/create-svelte/templates/default/package.json
  packages/create-svelte/tsconfig.json
  packages/kit/package.json
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/options-2/package.json
  packages/kit/test/apps/options/package.json
  packages/kit/test/prerendering/basics/package.json
  packages/kit/test/prerendering/options/package.json
  pnpm-lock.yaml
Labels: types / typescript

#4279 [docs] highlight need to set trailingSlash with adapter-static
  documentation/docs/09-adapters.md
  documentation/docs/13-configuration.md
  packages/adapter-static/README.md
Labels: documentation

#4295 [fix] check for app.d.ts rather than global.d.ts
  .changeset/wise-pens-ring.md
  packages/create-svelte/scripts/build-templates.js
Labels: bug

#4298 [docs] add code comment to Netlify adapter
  packages/adapter-netlify/index.js
Labels: documentation

#4305 allow `InputProps` and `OutputProps` to be typed in generated `Load`
  .changeset/calm-ravens-tell.md
  .changeset/little-toys-camp.md
  documentation/docs/14-types.md
  packages/kit/src/core/sync/write_types.js
  packages/kit/types/index.d.ts
  packages/kit/types/private.d.ts
Labels: types / typescript

#4304 [docs] adapter-static: document prerender.default and info about disabling ssr in dev
  packages/adapter-static/README.md
Labels: documentation

#4332 [breaking] rename `xForwardedForIndex` to `XFF_DEPTH`
  .changeset/sweet-parents-sell.md
  packages/adapter-node/README.md
  packages/adapter-node/index.d.ts
  packages/adapter-node/index.js
  packages/adapter-node/src/handler.d.ts
  packages/adapter-node/src/handler.js
Labels: breaking change

#4377 [docs] remove references to route fallthrough
  documentation/docs/01-routing.md
  documentation/docs/03-loading.md
  documentation/docs/80-migrating.md
  documentation/faq/30-fallthrough.md
Labels: documentation

#4414 [fix] don't redirect to external URLs
  .changeset/curvy-foxes-change.md
  packages/kit/src/runtime/server/index.js
Labels: bug

#4412 Add cloudflare cache
  .changeset/pretty-carpets-scream.md
  packages/adapter-cloudflare/files/worker.js
Labels: pkg:adapter-cloudflare

#4409 cleanup and lint types
  packages/kit/types/internal.d.ts
  packages/kit/types/private.d.ts
Labels: types / typescript

#4453 chore(cloudflare): optimize Cache usage; strict TS source
  .changeset/empty-falcons-run.md
  packages/adapter-cloudflare/.gitignore
  packages/adapter-cloudflare/files/worker.js
  packages/adapter-cloudflare/package.json
  packages/adapter-cloudflare/src/worker.js
  packages/adapter-cloudflare/tsconfig.json
  pnpm-lock.yaml
Labels: pkg:adapter-cloudflare
