Repository sveltejs/kit, pull requests merged in 2022-08, with the labels that each got.

#5889 [docs] Vite 1.0 update
  documentation/docs/18-assets.md
Labels: documentation

#5874 [fix] avoid manifest collisions
  .changeset/rare-deers-hunt.md
  packages/kit/src/vite/build/build_server.js
  packages/kit/src/vite/build/utils.js
  packages/kit/src/vite/index.js
Labels: bug, vite

#5848 [package] remove tooling specific settings in `publishConfig` from generated package.json
  .changeset/stale-apples-cry.md
  documentation/docs/13-packaging.md
  packages/kit/src/packaging/utils.js
Labels: svelte-kit package

#5887 fix: actually expose platform.caches in adapter-cloudflare-workers
  .changeset/smooth-bags-sell.md
  packages/adapter-cloudflare-workers/files/entry.js
Labels: pkg:adapter-cloudflare-workers

#5856 Add accessibility documentation
  documentation/docs/19-accessibility.md
Labels: documentation

#5961 [fix] allow additional keys in svelte.config.js
  .changeset/loud-moose-tap.md
  packages/kit/types/index.d.ts
Labels: types / typescript

#5974 [fix] Fix params and parent data types
  .changeset/sour-cherries-play.md
  packages/kit/src/core/sync/write_types.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/client/types.d.ts
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/load_data.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/types.d.ts
  packages/kit/src/utils/escape.js
  packages/kit/types/index.d.ts
  packages/kit/types/private.d.ts
Labels: breaking change

#4250 use relative asset paths
  .changeset/wicked-spoons-leave.md
  CONTRIBUTING.md
  packages/adapter-static/test/apps/spa/src/routes/fallback/[...rest]/+page.svelte
  packages/adapter-static/test/test.js
  packages/create-svelte/templates/default/package.json
  packages/create-svelte/templates/default/package.template.json
  packages/create-svelte/templates/skeleton/package.template.json
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/vite/build/build_server.js
  packages/kit/src/vite/build/utils.js
  packages/kit/src/vite/dev/index.js
  packages/kit/src/vite/index.js
  packages/kit/types/internal.d.ts
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
Labels: paths.base

#6007 remove ability for +page.server.js to respond to GET requests with JSON
  .changeset/fresh-pigs-tease.md
  packages/kit/src/runtime/server/page/index.js
  packages/kit/test/apps/basics/test/server.test.js
Labels: breaking change

#6123 Fix wrong LayoutServerLoad.name type
  .changeset/tidy-mice-kick.md
  packages/kit/src/core/sync/write_types.js
Labels: bug, types / typescript

#6109 [FIX] Use the 'browser' platform setting for esbuild for Vercel Edge Functions
  .changeset/wet-crews-smoke.md
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel

#6107 [docs] fold alias FAQ into alias docs
  documentation/docs/15-configuration.md
  documentation/faq/50-aliases.md
Labels: documentation

#6134 Update create front-page instructions
  .changeset/large-dolls-drop.md
  packages/create-svelte/templates/default/src/routes/+page.svelte
Labels: pkg:create-svelte

#6140 fix: Add support for vite.config.ts
  .changeset/quiet-comics-crash.md
  packages/kit/src/core/sync/write_tsconfig.js
Labels: types / typescript

#6200 [docs] clarify depends docs
  documentation/docs/05-load.md
Labels: documentation

#6241 [docs] update asset docs
  documentation/docs/18-assets.md
Labels: documentation

#6237 remove getters
  .changeset/khaki-foxes-applaud.md
  .changeset/loud-lions-walk.md
  .changeset/shiny-gifts-drive.md
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/load_data.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/src/utils/url.js
  packages/kit/src/utils/url.spec.js
  packages/kit/test/apps/basics/src/routes/load/invalidation/url/+page.server.js
  packages/kit/test/apps/basics/src/routes/load/invalidation/url/+page.svelte
  packages/kit/test/apps/basics/src/routes/routing/hashes/pagestore/+page.svelte
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/types/index.d.ts
Labels: breaking change

#6299 clarify when load runs
  documentation/docs/05-load.md
Labels: documentation

#6324 [docs] update path to vite plugin in contributing guide
  CONTRIBUTING.md
Labels: documentation

#6350 [feat] support for other aliases in package command
  .changeset/weak-hotels-hang.md
  packages/package/src/config.js
  packages/package/src/utils.js
  packages/package/test/fixtures/resolve-alias/expected/Test.svelte
  packages/package/test/fixtures/resolve-alias/expected/package.json
  packages/package/test/fixtures/resolve-alias/expected/utils/index.d.ts
  packages/package/test/fixtures/resolve-alias/expected/utils/index.js
  packages/package/test/fixtures/resolve-alias/src/lib/Test.svelte
  packages/package/test/fixtures/resolve-alias/src/lib/utils/index.ts
  packages/package/test/fixtures/resolve-alias/svelte.config.js
  packages/package/test/fixtures/resolve-alias/tsconfig.json
Labels: svelte-package

#6401 merge `resolve` options when using `sequence`
  .changeset/red-rice-bathe.md
  packages/kit/src/exports/hooks/sequence.js
  packages/kit/src/exports/hooks/sequence.spec.js
  packages/kit/types/ambient.d.ts
Labels: breaking change

#6428 [chore] bump TS to 4.8
  .changeset/four-meals-learn.md
  package.json
  packages/adapter-auto/package.json
  packages/adapter-cloudflare-workers/package.json
  packages/adapter-cloudflare/package.json
  packages/adapter-netlify/package.json
  packages/adapter-node/package.json
  packages/adapter-static/package.json
  packages/adapter-vercel/package.json
  packages/create-svelte/templates/default/package.json
  packages/create-svelte/templates/libskeleton/package.template.json
  packages/kit/package.json
  packages/kit/src/core/sync/write_types/index.js
  packages/kit/src/core/sync/write_types/test/layout-advanced/_expected/$types.d.ts
  packages/kit/src/core/sync/write_types/test/layout-advanced/_expected/(main)/$types.d.ts
  packages/kit/src/core/sync/write_types/test/layout-advanced/_expected/(main)/sub/$types.d.ts
  packages/kit/src/core/sync/write_types/test/layout/_expected/$types.d.ts
  packages/kit/src/core/sync/write_types/test/simple-page-server-and-shared/_expected/$types.d.ts
  packages/kit/src/core/sync/write_types/test/simple-page-server-only/_expected/$types.d.ts
  packages/kit/src/core/sync/write_types/test/simple-page-shared-only/_expected/$types.d.ts
  packages/kit/src/core/sync/write_types/test/slugs-layout-not-all-pages-have-load/_expected/$types.d.ts
  packages/kit/src/core/sync/write_types/test/slugs-layout-not-all-pages-have-load/_expected/nested/$types.d.ts
  packages/kit/src/core/sync/write_types/test/slugs-layout-not-all-pages-have-load/_expected/nested/[...rest]/$types.d.ts
  packages/kit/src/core/sync/write_types/test/slugs-layout-not-all-pages-have-load/_expected/nested/[slug]/$types.d.ts
  packages/kit/src/core/sync/write_types/test/slugs/_expected/$types.d.ts
  packages/kit/src/core/sync/write_types/test/slugs/_expected/[...rest]/$types.d.ts
  packages/kit/src/core/sync/write_types/test/slugs/_expected/[slug]/$types.d.ts
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/basics/src/routes/load/server-data-reuse/with-server-load/+page.svelte
  packages/kit/test/apps/dev-only/package.json
  packages/kit/test/apps/options-2/package.json
  packages/kit/test/apps/options/package.json
  packages/kit/test/apps/writes/package.json
  packages/kit/test/prerendering/basics/package.json
  packages/kit/test/prerendering/fallback/package.json
  packages/kit/test/prerendering/options/package.json
  packages/kit/test/prerendering/paths-base/package.json
  packages/kit/test/prerendering/trailing-slash/package.json
  packages/package/package.json
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
Labels: types / typescript

#6434 [breaking] render raw response when unexpected error occurs in endpoint
  .changeset/few-ghosts-attend.md
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/test/apps/basics/test/server.test.js
  packages/kit/test/apps/basics/test/test.js
Labels: error handling, breaking change
