Repository sveltejs/kit, pull requests merged in 2022-11, with the labels that each got.

#7476 [docs] add a JSDoc for create_manifest_data
  packages/kit/src/core/sync/create_manifest_data/index.js
Labels: documentation

#7491 [fix] bump required Vite version and address warning
  .changeset/grumpy-eyes-destroy.md
  packages/kit/package.json
  packages/kit/src/exports/vite/build/utils.js
  packages/kit/src/exports/vite/index.js
Labels: vite

#7484 [breaking] consistent casing in `goto`
  documentation/docs/40-best-practices/10-accessibility.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/keepfocus/+page.svelte
  packages/kit/types/ambient.d.ts
Labels: breaking change

#7575 Error handling docs
  documentation/docs/30-advanced/20-hooks.md
  documentation/docs/30-advanced/25-errors.md
Labels: documentation

#7566 [fix] error docs + handle expected error
  .changeset/rotten-files-work.md
  documentation/docs/20-core-concepts/10-routing.md
  documentation/docs/30-advanced/20-hooks.md
  documentation/docs/30-advanced/25-errors.md
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/test/apps/basics/src/hooks.server.js
  packages/kit/test/apps/basics/test/server.test.js
Labels: error handling

#7615 narrow down possible status codes for redirects to 300-308
  .changeset/brown-seas-sort.md
  packages/kit/src/exports/index.js
  packages/kit/src/runtime/control.js
  packages/kit/types/index.d.ts
Labels: types / typescript, breaking change

#7644 Use escape sequences to denote special characters
  .changeset/smooth-years-speak.md
  documentation/docs/30-advanced/10-advanced-routing.md
  packages/kit/src/core/sync/create_manifest_data/index.js
  packages/kit/src/core/sync/create_manifest_data/index.spec.js
  packages/kit/src/core/sync/create_manifest_data/test/samples/encoding/[x+22]/+page.svelte
  packages/kit/src/core/sync/create_manifest_data/test/samples/encoding/[x+23]/+page.svelte
  packages/kit/src/core/sync/create_manifest_data/test/samples/encoding/[x+3f]/+page.svelte
  packages/kit/src/utils/routing.js
  packages/kit/src/utils/routing.spec.js
  packages/kit/test/apps/basics/src/routes/encoded/%24[ticker]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/@[username]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/+layout.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/[u+82d7]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/[u+d83e][u+dd2a]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/[x+23]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/[x+25]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/[x+2f]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/[x+3a]-[x+29]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/[x+3c]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/[x+3f]/+page.svelte
  packages/kit/test/apps/basics/src/routes/encoded/escape-sequences/[x][x+3c][y]/+page.svelte
  packages/kit/test/apps/basics/src/routes/load/cors/server-only/+page.server.js
  packages/kit/test/apps/basics/src/routes/redirect/missing-status/b/+page.js
  packages/kit/test/apps/basics/test/test.js
Labels: breaking change

#7657 [chore] upgrade minor package versions
  pnpm-lock.yaml
Labels: types / typescript

#7653 [fix] safely join url segments in manifest
  .changeset/angry-windows-smell.md
  packages/kit/src/core/generate_manifest/index.js
  packages/kit/src/utils/filesystem.js
Labels: bug

#7494 [breaking] use devalue to (de)serialize action data
  .changeset/cool-emus-drive.md
  documentation/docs/20-core-concepts/30-form-actions.md
  packages/kit/src/runtime/app/forms.js
  packages/kit/src/runtime/server/page/actions.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/test/apps/basics/src/routes/actions/form-errors-persist-fields/+page.svelte
  packages/kit/test/apps/basics/src/routes/actions/success-data/+page.svelte
  packages/kit/test/apps/basics/test/server.test.js
  packages/kit/types/ambient.d.ts
Labels: breaking change

#4963 inject font preload links
  .changeset/odd-bears-greet.md
  documentation/docs/30-advanced/20-hooks.md
  packages/kit/src/exports/vite/build/build_server.js
  packages/kit/src/exports/vite/build/utils.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: enhancement

#7685 [feat] warn if svelte not found in dependencies or peerDependencies
  .changeset/gentle-rocks-run.md
  packages/package/src/index.js
Labels: svelte-package

#7724 [chore] don't override printUrls
  .changeset/green-timers-develop.md
  packages/kit/src/exports/vite/index.js
Labels: vite

#7741 [fix] handle root route for split config
  .changeset/serious-bottles-wave.md
  packages/adapter-vercel/index.js
Labels: bug, pkg:adapter-vercel

#7749 [fix] preserve Vite CLI opts
  .changeset/wise-spoons-promise.md
  packages/kit/src/exports/vite/utils.js
Labels: bug

#7767 disallow error status codes outside 400-599 range
  .changeset/four-lamps-walk.md
  packages/kit/src/exports/index.js
  packages/kit/src/runtime/control.js
  packages/kit/test/apps/basics/test/test.js
Labels: breaking change

#7762 rename `prerendering` to `building`, `remove config.kit.prerender.enabled`
  .changeset/silent-ducks-prove.md
  documentation/docs/20-core-concepts/40-page-options.md
  documentation/docs/50-api-reference/10-configuration.md
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/prerender/prerender.js
  packages/kit/src/exports/vite/build/build_server.js
  packages/kit/src/exports/vite/preview/index.js
  packages/kit/src/runtime/app/environment.js
  packages/kit/src/runtime/env.js
  packages/kit/test/prerendering/basics/src/hooks.server.js
  packages/kit/test/prerendering/fallback/package.json
  packages/kit/test/prerendering/fallback/src/app.html
  packages/kit/test/prerendering/fallback/src/hooks.server.js
  packages/kit/test/prerendering/fallback/src/routes/+page.svelte
  packages/kit/test/prerendering/fallback/svelte.config.js
  packages/kit/test/prerendering/fallback/tsconfig.json
  packages/kit/test/prerendering/fallback/vite.config.js
  packages/kit/types/ambient.d.ts
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: breaking change

#7809 Removed getStaticDirectory()
  .changeset/grumpy-maps-complain.md
  packages/kit/src/core/adapt/builder.js
  packages/kit/types/index.d.ts
Labels: breaking change

#7820 remove `format` option from `generateManifest(...)`
  .changeset/shy-queens-wash.md
  packages/kit/src/core/generate_manifest/index.js
  packages/kit/types/index.d.ts
  packages/kit/types/private.d.ts
Labels: breaking change

#7865 [docs] add missing declare
  documentation/docs/30-advanced/25-errors.md
Labels: documentation
