Repository sveltejs/kit, pull requests merged in 2022-04, with the labels that each got.

#4487 clarify load type
  packages/kit/types/index.d.ts
Labels: documentation

#4577 [docs] remove references to @next tag
  CONTRIBUTING.md
  documentation/docs/00-introduction.md
  documentation/docs/09-adapters.md
  packages/adapter-cloudflare-workers/README.md
  packages/adapter-cloudflare/README.md
  packages/adapter-netlify/README.md
  packages/adapter-node/README.md
  packages/adapter-static/README.md
  packages/adapter-static/test/apps/spa/README.md
  packages/create-svelte/shared/README.md
  packages/create-svelte/templates/default/src/routes/about.svelte
  packages/kit/README.md
  sites/kit.svelte.dev/src/routes/index.svelte
Labels: documentation

#4541 Deprioritise migration guide
  documentation/docs/80-migrating.md
  sites/kit.svelte.dev/src/lib/search/SearchBox.svelte
  sites/kit.svelte.dev/src/routes/content.json.js
Labels: documentation

#4608 [docs] increase contrast in sidebar
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
  sites/kit.svelte.dev/src/lib/docs/Contents.svelte
Labels: documentation

#4532 [fix] type check exception handling on form action
  .changeset/fuzzy-news-raise.md
  packages/create-svelte/templates/default/src/lib/form.ts
Labels: types / typescript, examples

#4276 refactor: use Module Worker pattern instead of Service Worker, add error handling
  .changeset/few-walls-obey.md
  packages/adapter-cloudflare-workers/README.md
  packages/adapter-cloudflare-workers/ambient.d.ts
  packages/adapter-cloudflare-workers/files/entry.js
  packages/adapter-cloudflare-workers/index.js
Labels: breaking change

#4699 ignore trailing slash on endpoints
  .changeset/tender-geckos-agree.md
  documentation/docs/14-configuration.md
  packages/kit/src/core/preview/index.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/utils/url.js
  packages/kit/src/utils/url.spec.js
  packages/kit/test/apps/options/source/pages/endpoint.js
  packages/kit/test/apps/options/test/test.js
Labels: breaking change

#4753 add some docs about cloudflare functions
  packages/adapter-cloudflare/README.md
Labels: documentation, pkg:adapter-cloudflare

#4738 remove try-catch around `server.respond`
  .changeset/brave-rabbits-provide.md
  packages/adapter-cloudflare-workers/files/entry.js
  packages/adapter-cloudflare/src/worker.js
  packages/adapter-netlify/src/edge.js
Labels: error handling

#4771 document how to get segment
  documentation/docs/80-migrating.md
Labels: documentation
