Repository sveltejs/kit, pull requests merged in 2022-06, with the labels that each got.

#5141 [chore] introduce `KitConfig` type
  .changeset/moody-lobsters-cough.md
  packages/kit/src/core/build/build_server.js
  packages/kit/src/core/build/build_service_worker.js
  packages/kit/src/core/build/index.js
  packages/kit/src/core/build/prerender/prerender.js
  packages/kit/src/core/build/utils.js
  packages/kit/src/core/dev/plugin.js
  packages/kit/src/core/sync/create_manifest_data/index.js
  packages/kit/src/core/sync/sync.js
  packages/kit/src/core/sync/write_tsconfig.js
  packages/kit/src/core/utils.js
  packages/kit/src/packaging/index.js
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: types / typescript

#5154 [docs] improve documentation for new developers
  CONTRIBUTING.md
  packages/kit/src/core/adapt/builder.js
  packages/kit/src/core/build/utils.js
  packages/kit/src/core/config/index.js
  packages/kit/src/core/generate_manifest/index.js
  packages/kit/src/core/sync/write_manifest.js
  packages/kit/src/core/sync/write_tsconfig.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond.js
Labels: documentation

#5164 fix: use inline element in heading
  .changeset/clean-spiders-sin.md
  packages/create-svelte/templates/default/src/routes/index.svelte
Labels: pkg:create-svelte

#5155 [breaking] remove `kit.browser.hydrate` config in favor of `compilerOptions.hydratable`
  .changeset/cold-sheep-yawn.md
  documentation/docs/11-page-options.md
  documentation/docs/14-configuration.md
  documentation/docs/16-seo.md
  packages/kit/src/core/build/build_server.js
  packages/kit/src/core/build/utils.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/dev/plugin.js
  packages/kit/test/apps/amp/svelte.config.js
Labels: breaking change

#5178 Revert "[breaking] remove `kit.browser.hydrate` config in favor of `compilerOptions.hydratable`"
  .changeset/good-peaches-roll.md
  documentation/docs/11-page-options.md
  documentation/docs/14-configuration.md
  documentation/docs/16-seo.md
  packages/kit/src/core/build/build_server.js
  packages/kit/src/core/build/utils.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/dev/plugin.js
  packages/kit/test/apps/amp/svelte.config.js
Labels: breaking change

#5198 [docs] be more specific about the definition of page endpoints
  documentation/docs/02-routing.md
Labels: documentation

#5187 [docs] update wrangler.toml example to wrangler@2
  .changeset/hip-kangaroos-check.md
  packages/adapter-cloudflare-workers/README.md
  packages/adapter-cloudflare-workers/index.js
Labels: documentation, pkg:adapter-cloudflare-workers

#5221 create-svelte: Add descriptions to select options
  .changeset/thick-swans-join.md
  packages/create-svelte/bin.js
  packages/create-svelte/templates/default/.meta.json
  packages/create-svelte/templates/skeleton/.meta.json
Labels: enhancement

#5266 Add types for @sveltejs/kit/experimental/vite
  .changeset/slow-shirts-retire.md
  packages/kit/types/ambient.d.ts
Labels: types / typescript

#5268 [chore] fix start_server type
  packages/kit/test/utils.d.ts
  packages/kit/test/utils.js
Labels: types / typescript

#5265 Ensure vite.config.js works on Windows
  .changeset/neat-monkeys-dream.md
  packages/kit/src/cli.js
  packages/kit/test/apps/options-2/svelte.config.js
  packages/kit/test/apps/options-2/vite.config.js
Labels: bug, vite, windows

#5262 [docs] suggest npm create rather than npm init
  documentation/docs/00-introduction.md
  sites/kit.svelte.dev/src/routes/index.svelte
Labels: documentation

#5303 [fix] allow user to set dev port
  .changeset/four-glasses-explain.md
  packages/kit/src/vite/index.js
Labels: bug
