Repository sveltejs/kit, pull requests merged in 2022-05, with the labels that each got.

#4791 update generated tsconfig
  .changeset/hip-ears-reflect.md
  packages/kit/src/core/sync/write_tsconfig.js
Labels: types / typescript

#4553 [chore] bump `eslint` from version 7 to 8
  .changeset/fast-crabs-applaud.md
  packages/create-svelte/shared/+eslint/package.json
Labels: pkg:create-svelte

#4826 Update tsconfig docs
  documentation/docs/15-types.md
Labels: documentation, types / typescript

#4868 specify `base` in `$app/paths` can be the default empty string
  packages/kit/types/ambient.d.ts
Labels: documentation

#4847 WebKit tests
  packages/kit/test/apps/basics/src/routes/load/fetch-headers.svelte
  packages/kit/test/apps/basics/src/routes/store/stuff/foo.svelte
  packages/kit/test/apps/basics/test/test.js
Labels: tests

#4845 add hint for adapter-node custom server to migration guide
  documentation/docs/80-migrating.md
Labels: documentation

#4824 Generate tsconfig when running svelte-kit package
  .changeset/twenty-windows-build.md
  packages/kit/src/packaging/index.js
Labels: types / typescript, svelte-kit package

#4875 bump adapter-static
  .changeset/soft-ears-share.md
Labels: documentation

#4880 [feat] more specific types for `kit.prerender.entries` config
  .changeset/long-turkeys-boil.md
  packages/kit/src/core/config/index.spec.js
  packages/kit/types/index.d.ts
Labels: enhancement, types / typescript

#4882 [fix] stop flash of unstyled content when using CSS flavours
  .changeset/cuddly-knives-learn.md
  packages/kit/src/core/dev/plugin.js
Labels: bug

#4887 [breaking] drop Wrangler 1 support in favour of Wrangler 2
  .changeset/little-pots-rule.md
  packages/adapter-cloudflare-workers/README.md
  packages/adapter-cloudflare-workers/index.js
  packages/create-svelte/templates/default/wrangler.toml
Labels: breaking change

#4893 Fix tsconfig used in create-svelte
  .changeset/rude-masks-kneel.md
  packages/create-svelte/shared/+checkjs/jsconfig.json
  packages/create-svelte/shared/+typescript/tsconfig.json
Labels: bug, types / typescript

#4897 delegate body validation
  .changeset/large-cows-suffer.md
  packages/kit/src/core/sync/write_types.js
  packages/kit/test/typings/endpoint.test.ts
  packages/kit/types/index.d.ts
  packages/kit/types/private.d.ts
Labels: types / typescript

#4846 prevent scroll when resetting page focus (#4065)
  .changeset/olive-vans-talk.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/no-ssr/margin.svelte
  packages/kit/test/apps/basics/test/test.js
Labels: bug, router

#4921 [docs] setting Node version in `adapter-netlify`
  .changeset/honest-rats-double.md
  packages/adapter-netlify/README.md
Labels: documentation, pkg:adapter-netlify

#4917 document how to link between pages
  documentation/docs/02-routing.md
Labels: documentation

#4922 [breaking] drop Node 14 support
  .changeset/lemon-oranges-pump.md
  .github/workflows/ci.yml
  packages/adapter-vercel/index.js
  packages/kit/package.json
Labels: breaking change

#4954 clarify that the fallback page is created by SvelteKit
  .changeset/wise-houses-work.md
  packages/adapter-static/README.md
Labels: documentation

#4951 Add `create-svelte` README
  .changeset/beige-mails-accept.md
  packages/create-svelte/README.md
Labels: documentation

#4950 delay automatic service worker registration until load event
  .changeset/swift-horses-march.md
  documentation/docs/07-service-workers.md
  packages/kit/src/runtime/server/page/render.js
Labels: breaking change

#4825 Add note about ambient dts files to App types
  packages/kit/types/ambient.d.ts
  turbo.json
Labels: documentation, types / typescript

#4809 move `RequestEvent` and `ResolveOptions` as public types
  .changeset/rude-geese-roll.md
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
  packages/kit/types/private.d.ts
Labels: types / typescript

#4945 document that status, error, redirect, cache are ignored when rendering error pages
  documentation/docs/04-loading.md
Labels: documentation

#4985 document that matchers run in the browser
  documentation/docs/02-routing.md
Labels: documentation

#4997 [fix] don't watch `outDir` except `generated`
  .changeset/eight-tomatoes-yawn.md
  packages/kit/src/core/dev/index.js
Labels: bug, windows

#4996 [docs] update docs to use new `__types` directory
  documentation/docs/02-routing.md
  documentation/docs/03-layouts.md
  documentation/docs/04-loading.md
Labels: documentation

#4958 warn if load uses `window.fetch`
  .changeset/twelve-snakes-tan.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/load/window-fetch/data.json.js
  packages/kit/test/apps/basics/src/routes/load/window-fetch/index.svelte
  packages/kit/test/apps/basics/test/test.js
Labels: enhancement

#4710 remove built-in AMP support
  .changeset/big-cups-exist.md
  documentation/docs/14-configuration.md
  documentation/docs/16-seo.md
  packages/adapter-vercel/index.js
  packages/amp/.gitignore
  packages/amp/index.d.ts
  packages/amp/index.js
  packages/amp/package.json
  packages/kit/package.json
  packages/kit/src/core/build/build_client.js
  packages/kit/src/core/build/build_server.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/dev/amp_hook.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/dev/plugin.js
  packages/kit/src/runtime/app/env.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/utils/filesystem.js
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/amp/src/app.html
  packages/kit/test/apps/amp/src/hooks.js
  packages/kit/test/apps/amp/src/routes/http-equiv/cache-control.svelte
  packages/kit/test/apps/amp/src/routes/invalid/has-stylesheet.svelte
  packages/kit/test/apps/amp/src/routes/styles/index.svelte
  packages/kit/test/apps/amp/src/routes/valid/index.svelte
  packages/kit/test/apps/amp/svelte.config.js
  packages/kit/test/apps/amp/test/test.js
  packages/kit/types/ambient.d.ts
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
Labels: breaking change

#4967 revert to using cjs for lambda
  .changeset/few-scissors-agree.md
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel

#5016 replace `%svelte.body%` etc with `%sveltekit.body%`
  .changeset/olive-lies-train.md
  documentation/docs/80-migrating.md
  packages/adapter-static/test/apps/prerendered/src/app.html
  packages/adapter-static/test/apps/spa/src/app.html
  packages/create-svelte/templates/default/src/app.html
  packages/create-svelte/templates/skeleton/src/app.html
  packages/kit/src/core/build/build_server.js
  packages/kit/src/core/config/index.js
  packages/kit/src/core/dev/plugin.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/test/apps/amp/src/app.html
  packages/kit/test/apps/basics/src/app.html
  packages/kit/test/apps/basics/test/test.js
  packages/kit/test/apps/options-2/src/app.html
  packages/kit/test/apps/options/source/template.html
  packages/kit/test/prerendering/basics/src/app.html
  packages/kit/test/prerendering/disabled/src/app.html
  packages/kit/test/prerendering/options/src/app.html
  packages/kit/test/prerendering/paths-base/src/app.html
  packages/kit/test/prerendering/trailing-slash/src/app.html
  sites/kit.svelte.dev/src/app.html
Labels: breaking change

#4726 explain how to make credentialled fetches in server-side code
  documentation/docs/01-web-standards.md
  documentation/docs/04-loading.md
Labels: documentation

#4969 Use `@vercel/nft` to create lambdas
  .changeset/lovely-seahorses-sell.md
  .prettierrc
  package.json
  packages/adapter-vercel/index.js
  packages/adapter-vercel/package.json
  packages/adapter-vercel/tsconfig.json
  packages/kit/test/apps/amp/src/app.d.ts
  pnpm-lock.yaml
  turbo.json
Labels: pkg:adapter-vercel, blocked by upstream

#5069 [docs] add link to Netlify Edge Function docs
  packages/adapter-netlify/README.md
Labels: documentation, pkg:adapter-netlify

#5068 add note about setting node version
  packages/adapter-vercel/README.md
  packages/adapter-vercel/settings.png
Labels: documentation

#4891 Fix double-mount bug
  .changeset/fluffy-seahorses-sell.md
  .github/workflows/ci.yml
  packages/kit/src/core/build/build_server.js
  packages/kit/src/core/dev/plugin.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/client/start.js
  packages/kit/src/runtime/client/types.d.ts
  packages/kit/src/runtime/server/page/render.js
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/basics/src/global.d.ts
  packages/kit/test/apps/basics/src/routes/double-mount/index.svelte
  packages/kit/test/apps/basics/test/test.js
  packages/kit/test/apps/options-2/package.json
  packages/kit/test/apps/options/package.json
  packages/kit/test/apps/options/test/test.js
  packages/kit/test/prerendering/basics/package.json
  packages/kit/test/prerendering/disabled/package.json
  packages/kit/test/prerendering/options/package.json
  packages/kit/test/prerendering/paths-base/package.json
  packages/kit/test/prerendering/trailing-slash/package.json
  packages/kit/types/internal.d.ts
  turbo.json
Labels: blocked by upstream
