Repository sveltejs/kit, pull requests merged in 2022-01, with the labels that each got.

#3177 fix: skip navigation if only url hash change
  .changeset/funny-trees-breathe.md
  packages/kit/src/runtime/client/router.js
  packages/kit/test/apps/basics/src/routes/routing/hashes/target.svelte
  packages/kit/test/apps/basics/test/test.js
Labels: router

#2804 [feat] add an `ssr` parameter to `resolve` for better skipping of SSR
  .changeset/spicy-moose-relate.md
  documentation/docs/04-hooks.md
  documentation/docs/11-page-options.md
  documentation/docs/14-configuration.md
  packages/kit/src/core/build/build_server.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/config/test/index.js
  packages/kit/src/core/dev/plugin.js
  packages/kit/src/runtime/app/stores.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/test/apps/basics/src/hooks.js
  packages/kit/test/apps/basics/src/routes/no-ssr/index.svelte
  packages/kit/types/config.d.ts
  packages/kit/types/hooks.d.ts
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: p1-important, breaking change

#3292 [docs] remove outdated line from faq
  documentation/faq/80-integrations.md
Labels: documentation

#3367 [fix] ignore hash links during prerendering (again)
  .changeset/grumpy-panthers-mate.md
  packages/kit/src/core/adapt/prerender/prerender.js
Labels: bug

#3390 [docs] fix broken link in docs
  documentation/docs/14-configuration.md
Labels: documentation

#3398 Fix hidden-text user-selection for Counter.svelte in default template
  packages/create-svelte/templates/default/src/lib/Counter.svelte
Labels: bug, examples

#3395 document serviceWorker register option
  documentation/docs/14-configuration.md
Labels: documentation

#3425 [docs] update docs to reflect new home of HN example
  CONTRIBUTING.md
  documentation/docs/90-additional-resources.md
Labels: documentation

#3423 [fix] rename `BASE` to `ORIGIN` and fix config handling
  .changeset/perfect-socks-sparkle.md
  packages/adapter-node/README.md
  packages/adapter-node/index.d.ts
  packages/adapter-node/index.js
  packages/adapter-node/src/handler.js
  packages/adapter-node/src/types.d.ts
Labels: bug, pkg:adapter-node, breaking change

#3492 [docs] update html-minifier docs
  documentation/migrating/99-integrations.md
Labels: documentation

#3540 [chore] remove TODO
  packages/kit/src/runtime/server/page/load_node.js
Labels: types / typescript

#3534 [chore] Documentation on `status` and `error` in page store
  documentation/docs/02-layouts.md
  documentation/docs/05-modules.md
Labels: documentation

#3580 [docs] add packaging guidelines
  documentation/faq/70-packages.md
Labels: documentation

#2632 [feat] add prerender.subfolders setting
  .changeset/modern-pillows-beam.md
  documentation/docs/14-configuration.md
  packages/kit/src/core/adapt/prerender/prerender.js
  packages/kit/src/core/adapt/test/index.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/test/prerendering/options/svelte.config.js
  packages/kit/test/prerendering/options/test/test.js
  packages/kit/types/config.d.ts
Labels: enhancement
