Repository sveltejs/kit, pull requests merged in 2022-07, with the labels that each got.

#5364 [docs] remove kit.vite config from docs
  documentation/docs/14-configuration.md
Labels: documentation

#5395 [breaking] require Node 16.9
  .changeset/angry-crabs-walk.md
  packages/kit/package.json
Labels: breaking change

#5314 Error handling fix
  .changeset/swift-dots-cry.md
  documentation/docs/02-routing.md
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/src/runtime/server/utils.spec.js
  packages/kit/src/utils/http.js
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/__error.svelte
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/_shared.js
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/get-explicit.js
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/get-explicit.svelte
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/get-implicit.js
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/get-implicit.svelte
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/index.svelte
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/post-explicit.js
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/post-explicit.svelte
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/post-implicit.js
  packages/kit/test/apps/basics/src/routes/errors/page-endpoint/post-implicit.svelte
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/index.d.ts
  sites/kit.svelte.dev/src/lib/docs/client/docs.css
Labels: error handling

#5056 Allow %-encoding in route filenames
  .changeset/strong-swans-hammer.md
  documentation/docs/02-routing.md
  packages/kit/src/vite/build/build_server.js
  packages/kit/src/vite/index.js
  packages/kit/test/apps/basics/src/routes/encoded/%24[ticker]/index.svelte
  packages/kit/test/apps/basics/src/routes/encoded/%40[username].svelte
  packages/kit/test/apps/basics/src/routes/encoded/index.svelte
  packages/kit/test/apps/basics/test/test.js
Labels: breaking change

#5430 [docs] project structure
  documentation/docs/01-project-structure.md
  documentation/docs/02-web-standards.md
  documentation/docs/03-routing.md
  documentation/docs/04-layouts.md
  documentation/docs/05-loading.md
  documentation/docs/06-hooks.md
  documentation/docs/07-modules.md
  documentation/docs/08-service-workers.md
  documentation/docs/09-a-options.md
  documentation/docs/10-events.md
  documentation/docs/11-adapters.md
  documentation/docs/12-page-options.md
  documentation/docs/13-packaging.md
  documentation/docs/14-cli.md
  documentation/docs/15-configuration.md
  documentation/docs/16-types.md
  documentation/docs/17-seo.md
  documentation/docs/18-assets.md
Labels: documentation

#5416 [fix] allow Vite plugins to output mutable assets
  .changeset/yellow-years-remember.md
  packages/kit/src/vite/build/build_server.js
  packages/kit/src/vite/build/build_service_worker.js
  packages/kit/src/vite/build/utils.js
  packages/kit/src/vite/index.js
Labels: bug

#5439 [fix] `adapt` in `closeBundle`
  .changeset/cool-drinks-press.md
  packages/kit/src/vite/index.js
Labels: bug, vite

#5483 [docs] clarify static route priority
  documentation/docs/03-routing.md
Labels: documentation

#5509 [docs] clarify that prerendering isn't handled by adapters
  documentation/docs/12-page-options.md
Labels: documentation

#5005 Upgrade to Vite 3
  .gitignore
  package.json
  packages/adapter-cloudflare-workers/package.json
  packages/adapter-cloudflare/package.json
  packages/adapter-netlify/package.json
  packages/adapter-node/package.json
  packages/adapter-static/package.json
  packages/adapter-static/test/apps/prerendered/package.json
  packages/adapter-static/test/apps/spa/package.json
  packages/adapter-vercel/package.json
  packages/create-svelte/templates/default/package.json
  packages/create-svelte/templates/default/package.template.json
  packages/create-svelte/templates/skeleton/package.template.json
  packages/create-svelte/test/check.js
  packages/kit/package.json
  packages/kit/src/core/sync/create_manifest_data/index.js
  packages/kit/src/core/utils.js
  packages/kit/src/vite/build/build_server.js
  packages/kit/src/vite/build/utils.js
  packages/kit/src/vite/dev/index.js
  packages/kit/src/vite/index.js
  packages/kit/src/vite/types.d.ts
  packages/kit/src/vite/utils.js
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/amp/vite.config.js
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/basics/test/test.js
  packages/kit/test/apps/basics/vite.config.js
  packages/kit/test/apps/options-2/package.json
  packages/kit/test/apps/options-2/vite.config.js
  packages/kit/test/apps/options/package.json
  packages/kit/test/apps/options/vite.config.js
  packages/kit/test/prerendering/basics/package.json
  packages/kit/test/prerendering/basics/vite.config.js
  packages/kit/test/prerendering/disabled/package.json
  packages/kit/test/prerendering/disabled/vite.config.js
  packages/kit/test/prerendering/options/package.json
  packages/kit/test/prerendering/options/vite.config.js
  packages/kit/test/prerendering/paths-base/package.json
  packages/kit/test/prerendering/paths-base/vite.config.js
  packages/kit/test/prerendering/trailing-slash/package.json
  packages/kit/test/prerendering/trailing-slash/vite.config.js
  packages/kit/test/utils.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sites/kit.svelte.dev/package.json
Labels: vite, breaking change

#4328 render page with correct status code when non-get endpoint returns validation error
  .changeset/twenty-carpets-enjoy.md
  documentation/docs/05-loading.md
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/load.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond.js
  packages/kit/test/apps/basics/src/routes/shadowed/error-post.svelte
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: bug, error handling

#5531 [docs] npm create needs `@latest` tag
  documentation/docs/01-project-structure.md
  sites/kit.svelte.dev/src/routes/index.svelte
Labels: documentation

#4665 handle non-200 status codes from root `__layout.svelte`
  .changeset/purple-rats-wink.md
  packages/kit/src/runtime/load.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/test/apps/basics/src/routes/__layout.svelte
  packages/kit/test/apps/basics/src/routes/errors/error-in-layout/index.svelte
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/test/apps/basics/test/server.test.js
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/internal.d.ts
Labels: error handling

#5556 document transition CSP caveat
  documentation/docs/15-configuration.md
Labels: documentation

#5570 [docs] fix link to Vite envPrefix option
  documentation/faq/60-env-vars.md
Labels: documentation

#5618 [breaking] remove `writeStatic` to align with Vite
  .changeset/smooth-cars-reflect.md
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare/index.js
  packages/adapter-netlify/index.js
  packages/adapter-node/index.js
  packages/adapter-static/index.js
  packages/adapter-vercel/index.js
  packages/kit/src/core/adapt/builder.js
  packages/kit/src/core/adapt/builder.spec.js
  packages/kit/types/index.d.ts
Labels: breaking change

#5639 [docs] update example Vite projects
  README.md
Labels: documentation

#5657 replace transformPage with transformPageChunk
  .changeset/nasty-seahorses-know.md
  documentation/docs/06-hooks.md
  documentation/docs/17-seo.md
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/test/apps/amp/src/hooks.js
  packages/kit/test/apps/basics/src/hooks.js
  packages/kit/test/apps/basics/src/routes/transform-page-chunk/index.svelte
  packages/kit/test/apps/basics/test/test.js
  packages/kit/test/prerendering/basics/src/hooks.js
  packages/kit/types/index.d.ts
Labels: breaking change

#5713 [docs] update vite ssr repro template
  README.md
Labels: documentation

#5755 [docs] update example image preprocessor
  documentation/docs/18-assets.md
Labels: documentation

#5726 fix: check url protocol instead of origin
  .changeset/big-coins-suffer.md
  packages/kit/src/runtime/client/client.js
Labels: bug
