Repository sveltejs/kit, pull requests merged in 2022-12, with the labels that each got.

#7907 [docs] update reference to `getClientAddress()`
  .changeset/few-bugs-retire.md
  packages/adapter-node/README.md
Labels: documentation, pkg:adapter-node

#7878 Disallow unknown exports
  .changeset/friendly-jobs-perform.md
  packages/kit/src/core/prerender/prerender.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/utils/exports.js
  packages/kit/src/utils/exports.spec.js
  packages/kit/test/apps/basics/src/routes/errors/init-error-endpoint/+server.js
  packages/kit/types/internal.d.ts
Labels: breaking change

#7993 [docs] add vitest option
  packages/create-svelte/README.md
Labels: documentation

#7983 [docs] give integrations their own page
  documentation/docs/60-appendix/05-integrations.md
  documentation/docs/60-appendix/20-additional-resources.md
  documentation/faq/80-integrations.md
Labels: documentation

#7979 [breaking] strip __data.json from url
  .changeset/stupid-panthers-learn.md
  packages/kit/src/runtime/server/cookie.js
  packages/kit/src/runtime/server/data/index.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/test/apps/basics/src/hooks.server.js
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/index.d.ts
Labels: breaking change

#7969 [breaking] add embedded option, turned off by default
  .changeset/popular-crabs-shop.md
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/exports/vite/build/build_server.js
  packages/kit/src/exports/vite/build/utils.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/index.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/test/apps/options/source/pages/routing/link-outside-app-target/source/+page.svelte
  packages/kit/test/apps/options/source/pages/routing/link-outside-app-target/state.js
  packages/kit/test/apps/options/source/pages/routing/link-outside-app-target/target/+page.svelte
  packages/kit/test/apps/options/source/template.html
  packages/kit/test/apps/options/svelte.config.js
  packages/kit/test/apps/options/test/test.js
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: breaking change

#8013 [breaking] add `builder.generateFallback(fallback)` API
  .changeset/shaggy-bikes-wink.md
  packages/adapter-static/index.js
  packages/kit/src/core/adapt/builder.js
  packages/kit/src/core/prerender/fallback.js
  packages/kit/src/core/prerender/prerender.js
  packages/kit/types/index.d.ts
Labels: breaking change

#7861 Use `satifies` operator
  .changeset/cool-seahorses-cross.md
  documentation/docs/20-core-concepts/20-load.md
  documentation/docs/30-advanced/20-hooks.md
  documentation/docs/30-advanced/25-errors.md
  documentation/docs/50-reference/40-types.md
  packages/create-svelte/templates/default/src/routes/sverdle/+page.server.ts
  packages/kit/src/core/sync/write_types/index.spec.js
  sites/kit.svelte.dev/src/lib/docs/server/index.js
  sites/kit.svelte.dev/src/lib/docs/server/index.spec.js
Labels: types / typescript

#8012 [breaking] rename `invalid(...)` and `ValidationError`
  .changeset/loud-phones-chew.md
  documentation/docs/20-core-concepts/30-form-actions.md
  packages/create-svelte/templates/default/src/routes/sverdle/+page.server.ts
  packages/kit/src/exports/index.js
  packages/kit/src/runtime/app/forms.js
  packages/kit/src/runtime/control.js
  packages/kit/src/runtime/server/page/actions.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/test/apps/basics/src/routes/actions/form-errors-persist-fields/+page.server.js
  packages/kit/test/apps/basics/src/routes/actions/form-errors/+page.server.js
  packages/kit/test/apps/basics/src/routes/actions/update-form/+page.svelte
  packages/kit/test/apps/basics/src/routes/shadowed/error-post/+page.server.js
  packages/kit/test/types/actions.test.ts
  packages/kit/types/index.d.ts
Labels: breaking change

#7543 Upgrade to Vite 4
  .changeset/honest-sheep-cross.md
  .changeset/old-singers-cough.md
  .changeset/perfect-news-pretend.md
  .changeset/smooth-doors-fly.md
  package.json
  packages/adapter-cloudflare-workers/package.json
  packages/adapter-cloudflare/package.json
  packages/adapter-netlify/package.json
  packages/adapter-node/package.json
  packages/adapter-static/package.json
  packages/adapter-static/test/apps/prerendered/package.json
  packages/adapter-static/test/apps/spa/package.json
  packages/adapter-vercel/package.json
  packages/create-svelte/package.json
  packages/create-svelte/templates/default/package.json
  packages/create-svelte/templates/default/package.template.json
  packages/create-svelte/templates/skeleton/package.template.json
  packages/create-svelte/templates/skeletonlib/package.template.json
  packages/kit/package.json
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/index.js
  packages/kit/src/exports/vite/preview/index.js
  packages/kit/src/exports/vite/utils.js
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/dev-only/package.json
  packages/kit/test/apps/options-2/package.json
  packages/kit/test/apps/options/package.json
  packages/kit/test/apps/options/public/favicon.png
  packages/kit/test/apps/options/source/template.html
  packages/kit/test/apps/options/test/test.js
  packages/kit/test/apps/writes/package.json
  packages/kit/test/build-errors/apps/prerenderable-incorrect-fragment/package.json
  packages/kit/test/build-errors/apps/prerenderable-not-prerendered/package.json
  packages/kit/test/build-errors/apps/private-dynamic-env-dynamic-import/package.json
  packages/kit/test/build-errors/apps/private-dynamic-env/package.json
  packages/kit/test/build-errors/apps/private-static-env-dynamic-import/package.json
  packages/kit/test/build-errors/apps/private-static-env/package.json
  packages/kit/test/build-errors/apps/server-only-folder-dynamic-import/package.json
  packages/kit/test/build-errors/apps/server-only-folder/package.json
  packages/kit/test/build-errors/apps/server-only-module-dynamic-import/package.json
  packages/kit/test/build-errors/apps/server-only-module/package.json
  packages/kit/test/prerendering/basics/package.json
  packages/kit/test/prerendering/options/package.json
  packages/kit/test/prerendering/paths-base/package.json
  packages/package/package.json
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
  sites/site-kit/package.json
Labels: breaking change

#8036 [feat] vitePreprocess
  .changeset/sour-bears-raise.md
  documentation/docs/60-appendix/05-integrations.md
  packages/create-svelte/package.json
  packages/create-svelte/shared/+default+checkjs/svelte.config.js
  packages/create-svelte/shared/+default+typescript/svelte.config.js
  packages/create-svelte/shared/+typescript/package.json
  packages/create-svelte/shared/+typescript/svelte.config.js
  packages/create-svelte/templates/default/package.json
  packages/create-svelte/templates/default/svelte.config.js
  packages/kit/src/exports/vite/index.js
  packages/package/test/fixtures/resolve-alias/svelte.config.js
  pnpm-lock.yaml
Labels: pkg:create-svelte

#8053 add type declaration for vitePreprocess reexport
  .changeset/violet-donuts-share.md
  packages/kit/types/ambient.d.ts
Labels: types / typescript

#8083 [fix] set platform to neutral for cloudflare build
  .changeset/chilly-pumas-look.md
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare/index.js
  packages/adapter-netlify/index.js
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel, pkg:adapter-netlify, pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#8131 [breaking] prerender shells when ssr false and prerender not false
  .changeset/witty-falcons-begin.md
  packages/kit/src/core/prerender/prerender.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/test/prerendering/ssr-false/.gitignore
  packages/kit/test/prerendering/ssr-false/package.json
  packages/kit/test/prerendering/ssr-false/src/app.d.ts
  packages/kit/test/prerendering/ssr-false/src/app.html
  packages/kit/test/prerendering/ssr-false/src/routes/+layout.js
  packages/kit/test/prerendering/ssr-false/src/routes/not-prerenderable/+page.server.js
  packages/kit/test/prerendering/ssr-false/src/routes/not-prerenderable/+page.svelte
  packages/kit/test/prerendering/ssr-false/src/routes/opt-out/+page.js
  packages/kit/test/prerendering/ssr-false/src/routes/opt-out/+page.svelte
  packages/kit/test/prerendering/ssr-false/src/routes/prerenderable-2/+page.server.js
  packages/kit/test/prerendering/ssr-false/src/routes/prerenderable-2/+page.svelte
  packages/kit/test/prerendering/ssr-false/src/routes/prerenderable/+page.js
  packages/kit/test/prerendering/ssr-false/src/routes/prerenderable/+page.svelte
  packages/kit/test/prerendering/ssr-false/svelte.config.js
  packages/kit/test/prerendering/ssr-false/test/test.js
  packages/kit/test/prerendering/ssr-false/tsconfig.json
  packages/kit/test/prerendering/ssr-false/vite.config.js
  pnpm-lock.yaml
Labels: breaking change

#8019 [breaking] remove warnings/errors about removed/changed APIs
  .changeset/forty-apricots-sin.md
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare/index.js
  packages/adapter-node/index.js
  packages/kit/src/cli.js
  packages/kit/src/core/adapt/builder.js
  packages/kit/src/core/config/index.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/prerender/prerender.js
  packages/kit/src/core/sync/create_manifest_data/index.js
  packages/kit/src/core/sync/create_manifest_data/index.spec.js
  packages/kit/src/core/sync/sync.js
  packages/kit/src/exports/vite/build/build_server.js
  packages/kit/src/exports/vite/build/build_service_worker.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/index.js
  packages/kit/src/runtime/app/forms.js
  packages/kit/src/runtime/app/navigation.js
  packages/kit/src/runtime/app/stores.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/load_data.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/utils.js
Labels: breaking change

#8199 [docs] remove pre-1.0 FAQ
  documentation/faq/40-adapters.md
Labels: documentation

#8265 [docs] fix typo in statement about `sequence` helper
  documentation/docs/30-advanced/20-hooks.md
Labels: documentation

#8193 [docs] clarify that server load should be used in example and isn't optional
  documentation/docs/20-core-concepts/20-load.md
Labels: documentation

#8192 [docs] remove confusion about next vs previous layout
  documentation/docs/20-core-concepts/10-routing.md
Labels: documentation
