Repository sveltejs/kit, pull requests merged in 2022-09, with the labels that each got.

#6493 future-proof `invalidate()`
  .changeset/ninety-tables-switch.md
  .changeset/rude-nails-work.md
  .changeset/shiny-vans-jam.md
  documentation/docs/05-load.md
  packages/create-svelte/templates/default/src/lib/form.ts
  packages/kit/src/runtime/app/navigation.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/client/types.d.ts
  packages/kit/test/apps/basics/src/routes/load/change-detection/one/[x]/+page.svelte
  packages/kit/test/apps/basics/src/routes/load/invalidation/forced/+page.svelte
  packages/kit/types/ambient.d.ts
Labels: breaking change

#6565 replace externalFetch with handleFetch
  .changeset/spotty-phones-love.md
  documentation/docs/06-hooks.md
  packages/kit/src/exports/vite/build/build_server.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/runtime/server/page/fetch.js
  packages/kit/test/apps/basics/src/hooks.js
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: breaking change

#6569 Add `filterSerializedResponseHeaders` function
  .changeset/silent-cycles-reply.md
  .gitignore
  documentation/docs/05-load.md
  documentation/docs/06-hooks.md
  packages/kit/src/core/prerender/prerender.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/fetch.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/src/runtime/server/page/serialize_data.js
  packages/kit/src/runtime/server/page/serialize_data.spec.js
  packages/kit/src/runtime/server/page/types.d.ts
  packages/kit/test/apps/basics/src/routes/load/+page.svelte
  packages/kit/test/apps/basics/src/routes/load/fetch-request-headers.json/+server.js
  packages/kit/test/apps/basics/src/routes/load/fetch-request-headers/+page.js
  packages/kit/test/apps/basics/src/routes/load/fetch-request-headers/+page.svelte
  packages/kit/test/apps/basics/src/routes/load/fetch-response-headers.json/+server.js
  packages/kit/test/apps/basics/src/routes/load/fetch-response-headers/+page.js
  packages/kit/test/apps/basics/src/routes/load/fetch-response-headers/+page.svelte
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/index.d.ts
Labels: breaking change

#6593 add new cookies API
  .changeset/grumpy-jobs-poke.md
  documentation/docs/03-routing.md
  documentation/docs/05-load.md
  documentation/docs/06-hooks.md
  packages/kit/src/runtime/server/cookie.js
  packages/kit/src/runtime/server/cookie.spec.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/cookie.js
  packages/kit/src/runtime/server/page/fetch.js
  packages/kit/test/apps/basics/src/hooks.js
  packages/kit/test/apps/basics/src/routes/headers/set-cookie/+layout.server.js
  packages/kit/test/apps/basics/src/routes/headers/set-cookie/sub/+page.server.js
  packages/kit/test/apps/basics/src/routes/load/set-cookie-fetch/b.json/+server.js
  packages/kit/test/apps/basics/src/routes/shadowed/redirect-get-with-cookie/+page.server.js
  packages/kit/test/apps/basics/src/routes/shadowed/redirect-post-with-cookie/+page.server.js
  packages/kit/types/index.d.ts
  packages/kit/types/private.d.ts
Labels: breaking change

#6615 [breaking] disallow default and named actions next to each other
  .changeset/tall-plums-join.md
  documentation/docs/06-form-actions.md
  packages/kit/src/runtime/server/page/actions.js
Labels: breaking change

#6621 [fix] address Vite warning when using base or asset path
  .changeset/five-seas-end.md
  packages/kit/src/exports/vite/build/utils.js
Labels: bug

#6633 change use:enhance signature to support `<button formaction>`
  .changeset/strange-adults-rest.md
  packages/create-svelte/templates/default/src/routes/todos/+page.svelte
  packages/kit/src/runtime/app/forms.js
  packages/kit/types/ambient.d.ts
Labels: breaking change

#6659 [breaking] change sveltekit.message to sveltekit.error.message
  .changeset/forty-news-kiss.md
  documentation/docs/01-project-structure.md
  packages/kit/src/core/config/default-error.html
  packages/kit/src/exports/vite/build/build_server.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/test/apps/basics/src/error.html
Labels: breaking change

#6662 [breaking] only allow enhance on form; pass abort controller
  .changeset/violet-wolves-reflect.md
  packages/kit/src/runtime/app/forms.js
  packages/kit/test/apps/basics/src/routes/actions/enhance/+page.server.js
  packages/kit/test/apps/basics/src/routes/actions/enhance/+page.svelte
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/ambient.d.ts
Labels: breaking change

#6681 [breaking] request creation cleanup
  .changeset/red-cherries-fly.md
  packages/adapter-node/src/handler.js
  packages/adapter-vercel/files/serverless.js
  packages/kit/src/exports/node/index.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/preview/index.js
  packages/kit/types/ambient.d.ts
Labels: breaking change

#6684 [breaking] limit adapter-node request size
  .changeset/tricky-ducks-kneel.md
  packages/adapter-node/README.md
  packages/adapter-node/src/handler.js
  packages/kit/src/exports/node/index.js
  packages/kit/types/ambient.d.ts
Labels: breaking change

#6678 make action passed to enhance callback a URL
  .changeset/tiny-houses-matter.md
  packages/kit/src/runtime/app/forms.js
  packages/kit/types/ambient.d.ts
Labels: breaking change

#6742 [docs] remove absolute host from some internal docs links
  documentation/docs/00-introduction.md
  documentation/docs/80-migrating.md
Labels: documentation

#6736 docs: add `skeletonlib` to readme
  packages/create-svelte/README.md
Labels: documentation

#6713 Remove "for an external resource" from the definition of `handleFetch`
  documentation/docs/07-hooks.md
Labels: documentation

#6756 Added comment about hook files and initialization
  documentation/docs/07-hooks.md
Labels: documentation

#6646 docs: Document `$lib/server` and `*.server.*` server-only modules
  .changeset/gold-walls-rush.md
  documentation/docs/01-project-structure.md
  documentation/docs/08-server-only-modules.md
  documentation/docs/09-modules.md
  documentation/docs/10-service-workers.md
  documentation/docs/11-link-options.md
  documentation/docs/12-adapters.md
  documentation/docs/13-page-options.md
  documentation/docs/14-packaging.md
  documentation/docs/15-cli.md
  documentation/docs/16-configuration.md
  documentation/docs/17-types.md
  documentation/docs/18-seo.md
  documentation/docs/19-assets.md
  documentation/docs/20-accessibility.md
  packages/kit/scripts/special-types/$env+dynamic+private.md
  packages/kit/scripts/special-types/$env+static+private.md
  packages/kit/scripts/special-types/$lib.md
  packages/kit/src/exports/vite/graph_analysis/index.js
  packages/kit/src/exports/vite/graph_analysis/index.spec.js
  packages/kit/test/apps/dev-only/test/test.js
  packages/kit/test/build-errors/env.spec.js
  packages/kit/test/build-errors/server-only.spec.js
Labels: documentation

#6782 clarify when fallback error page is rendered
  documentation/docs/03-routing.md
Labels: documentation

#6785 [docs] update `hooks.js` to `hooks.server.js`
  documentation/docs/07-hooks.md
Labels: documentation

#6776 [docs] note form prop update default behavior
  documentation/docs/06-form-actions.md
Labels: documentation

#6816 [docs] update introduction with RC info
  documentation/docs/00-introduction.md
Labels: documentation

#6877 doc: Improved security in code example
  documentation/docs/06-form-actions.md
Labels: documentation

#6963 rename `App.PageError` to `App.Error`
  .changeset/kind-adults-drum.md
  documentation/docs/07-hooks.md
  packages/create-svelte/templates/default/src/app.d.ts
  packages/create-svelte/templates/skeleton/src/app.d.ts
  packages/create-svelte/templates/skeletonlib/src/app.d.ts
  packages/kit/src/core/sync/sync.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/client/types.d.ts
  packages/kit/src/runtime/control.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/types/ambient.d.ts
  packages/kit/types/index.d.ts
  packages/kit/types/internal.d.ts
Labels: breaking change
