Repository sveltejs/kit, pull requests merged in 2022-02, with the labels that each got.

#3670 add a SvelteKit namespace for app-level types (#3569)
  .changeset/ninety-suns-relax.md
  documentation/docs/01-routing.md
  documentation/docs/02-layouts.md
  documentation/docs/03-loading.md
  documentation/docs/04-hooks.md
  documentation/docs/15-typescript.md
  packages/adapter-cloudflare/README.md
  packages/create-svelte/templates/default/src/app.d.ts
  packages/create-svelte/templates/default/src/global.d.ts
  packages/create-svelte/templates/default/src/lib/types.d.ts
  packages/create-svelte/templates/default/src/routes/todos/[uid].json.ts
  packages/create-svelte/templates/default/src/routes/todos/_api.ts
  packages/create-svelte/templates/default/src/routes/todos/index.json.ts
  packages/create-svelte/templates/skeleton/src/app.d.ts
  packages/create-svelte/templates/skeleton/src/global.d.ts
  packages/kit/.eslintrc.json
  packages/kit/src/core/dev/plugin.js
  packages/kit/src/runtime/server/index.js
  packages/kit/test/apps/basics/src/app.d.ts
  packages/kit/test/apps/basics/src/hooks.js
  packages/kit/test/apps/basics/src/routes/store/index.svelte
  packages/kit/test/apps/basics/src/routes/store/result.svelte
  packages/kit/types/ambient-modules.d.ts
  packages/kit/types/endpoint.d.ts
  packages/kit/types/helper.d.ts
  packages/kit/types/hooks.d.ts
  packages/kit/types/page.d.ts
Labels: types / typescript, breaking change

#3756 [docs] clarify that default value of ssr is true
  documentation/docs/04-hooks.md
Labels: documentation

#3769 [docs] add a bit more help to the changelog for breaking changes
  packages/kit/CHANGELOG.md
Labels: documentation

#3779 [docs] update location of kit.svelte.dev and remove references to docs API
  CONTRIBUTING.md
  documentation/docs/90-additional-resources.md
  sites/kit.svelte.dev/README.md
Labels: documentation

#3717 Full text search
  documentation/docs/00-introduction.md
  documentation/docs/01-routing.md
  documentation/docs/02-layouts.md
  documentation/docs/03-loading.md
  documentation/docs/04-hooks.md
  documentation/docs/05-modules.md
  documentation/docs/06-service-workers.md
  documentation/docs/07-a-options.md
  documentation/docs/09-amp.md
  documentation/docs/10-adapters.md
  documentation/docs/11-page-options.md
  documentation/docs/12-packaging.md
  documentation/docs/13-cli.md
  documentation/docs/14-configuration.md
  documentation/docs/15-typescript.md
  documentation/docs/80-migrating.md
  documentation/docs/90-additional-resources.md
  documentation/faq/30-fallthrough.md
  documentation/faq/65-read-package-json.md
  documentation/faq/80-integrations.md
  documentation/migrating/01-migrating.md
  documentation/migrating/02-pkg.md
  documentation/migrating/03-project-files.md
  documentation/migrating/04-pages.md
  documentation/migrating/05-endpoints.md
  documentation/migrating/99-integrations.md
  packages/create-svelte/templates/default/package.json
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
  sites/kit.svelte.dev/src/lib/actions/focus.js
  sites/kit.svelte.dev/src/lib/docs/Contents.svelte
  sites/kit.svelte.dev/src/lib/docs/index.js
  sites/kit.svelte.dev/src/lib/docs/markdown.js
  sites/kit.svelte.dev/src/lib/search/Search.svelte
  sites/kit.svelte.dev/src/lib/search/SearchBox.svelte
  sites/kit.svelte.dev/src/lib/search/stores.js
  sites/kit.svelte.dev/src/routes/__layout.svelte
  sites/kit.svelte.dev/src/routes/content.json.js
  sites/kit.svelte.dev/src/routes/docs/[slug].json.js
  sites/kit.svelte.dev/src/routes/docs/[slug].svelte
  sites/kit.svelte.dev/src/routes/docs/_/docs.css
  sites/kit.svelte.dev/src/routes/docs/__layout.svelte
  sites/kit.svelte.dev/src/routes/docs/index.js
  sites/kit.svelte.dev/src/routes/docs/index.json.js
  sites/kit.svelte.dev/src/routes/docs/index.svelte
  sites/kit.svelte.dev/src/routes/faq/index.js
  sites/kit.svelte.dev/src/routes/faq/index.svelte
  sites/kit.svelte.dev/src/routes/migrating/index.js
  sites/kit.svelte.dev/src/routes/migrating/index.svelte
  sites/kit.svelte.dev/svelte.config.js
  sites/kit.svelte.dev/tsconfig.json
Labels: documentation

#3809 upgrade to TypeScript 4.5
  .changeset/seven-ads-yawn.md
  package.json
  packages/create-svelte/templates/default/package.json
  packages/kit/src/packaging/index.js
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
Labels: types / typescript

#3868 Adds context to platform in SvelteKit endpoints
  .changeset/sharp-moles-confess.md
  packages/adapter-cloudflare/README.md
  packages/adapter-cloudflare/files/worker.js
Labels: pkg:adapter-cloudflare

#3920 [docs] clarify how to prerender only some pages
  packages/adapter-static/README.md
Labels: documentation

#3771 [docs] update docs for fallthrough routes
  documentation/docs/01-routing.md
Labels: documentation

#3767 [docs] clarify page components
  documentation/docs/02-layouts.md
  documentation/docs/03-loading.md
  documentation/docs/11-page-options.md
  documentation/docs/80-migrating.md
Labels: documentation

#3946 [docs] add SEO docs
  documentation/docs/09-adapters.md
  documentation/docs/09-amp.md
  documentation/docs/10-page-options.md
  documentation/docs/11-packaging.md
  documentation/docs/12-cli.md
  documentation/docs/13-configuration.md
  documentation/docs/14-typescript.md
  documentation/docs/15-seo.md
Labels: documentation

#3984 [docs] flesh out asset handling tips and move to docs
  documentation/docs/16-assets.md
  documentation/faq/45-assets.md
Labels: documentation

#4013 Update 60-env-vars.md
  documentation/faq/60-env-vars.md
Labels: documentation

#4033 Update Endpoints documentation with helpful details.
  documentation/docs/01-routing.md
  sites/kit.svelte.dev/src/lib/docs/client/docs.css
  sites/kit.svelte.dev/src/routes/content.json.js
Labels: documentation

#4058 [docs] remove mention of esbuild from Netlify docs
  packages/adapter-netlify/README.md
Labels: documentation, pkg:adapter-netlify

#4060 [docs] update endpoint documentation
  documentation/docs/01-routing.md
Labels: documentation

#4070 Defer pushState until navigation succeeds
  .changeset/cyan-cobras-explode.md
  .changeset/little-geckos-smell.md
  .changeset/old-years-march.md
  documentation/docs/08-events.md
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/client/router.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/test/ambient.d.ts
  packages/kit/test/apps/basics/src/routes/routing/cancellation/__layout.svelte
  packages/kit/test/apps/basics/src/routes/routing/cancellation/a.svelte
  packages/kit/test/apps/basics/src/routes/routing/cancellation/b.svelte
  packages/kit/test/apps/basics/src/routes/routing/cancellation/index.svelte
  packages/kit/test/apps/basics/test/test.js
  packages/kit/test/utils.d.ts
  packages/kit/test/utils.js
Labels: breaking change

#4096 [fix] Use headers.raw() on `split_headers`
  .changeset/three-elephants-breathe.md
  packages/adapter-netlify/src/handler.js
Labels: pkg:adapter-netlify

#4076 independent page type
  .changeset/serious-panthers-sing.md
  .changeset/stupid-beds-prove.md
  packages/kit/types/ambient.d.ts
  packages/kit/types/index.d.ts
Labels: types / typescript

#4111 rename `__fetch_polyfill` to `installFetch`
  .changeset/slow-dots-know.md
  .changeset/tricky-bees-yell.md
  packages/adapter-netlify/src/shims.js
  packages/adapter-node/src/shims.js
  packages/adapter-vercel/files/shims.js
  packages/kit/src/core/adapt/prerender/prerender.js
  packages/kit/src/core/dev/plugin.js
  packages/kit/src/core/preview/index.js
  packages/kit/src/install-fetch.js
  packages/kit/types/ambient.d.ts
Labels: breaking change

#4124 initial types testing
  packages/kit/package.json
  packages/kit/test/typings/endpoint.test.ts
  packages/kit/test/typings/tsconfig.json
Labels: tests, types / typescript

#4148 [docs] clarify what "it" refers to
  documentation/docs/03-loading.md
Labels: docs

#4130 [docs] fix typo
  packages/kit/types/ambient.d.ts
Labels: docs

#4145 Add Netlify Functions Context to Netlify Adapter
  .changeset/many-pigs-deliver.md
  packages/adapter-netlify/README.md
  packages/adapter-netlify/src/handler.js
Labels: pkg:adapter-netlify

#4128 Improve JSON payload handling
  .changeset/fuzzy-donkeys-warn.md
  packages/kit/src/runtime/client/renderer.js
  packages/kit/src/runtime/server/page/load_node.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/page/types.d.ts
  packages/kit/src/utils/escape.js
  packages/kit/src/utils/escape.spec.js
  packages/kit/test/apps/amp/test/test.js
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/private.d.ts
Labels: security

#4118 generated tsconfig.json
  .changeset/silver-horses-check.md
  packages/create-svelte/shared/+typescript/tsconfig.json
  packages/create-svelte/shared/-typescript/jsconfig.json
  packages/kit/src/core/build/index.js
  packages/kit/src/core/dev/index.js
  packages/kit/src/core/tsconfig.js
Labels: types / typescript
