Repository sveltejs/kit, pull requests merged in 2023-01, with the labels that each got.

#8327 [docs] update FAQ about library inclusion and packaging
  documentation/faq/70-packages.md
Labels: documentation

#8328 [docs] add more info about Svelte vs SvelteKit to intro
  documentation/docs/10-getting-started/10-introduction.md
Labels: documentation

#8315 [docs] remove unused async
  documentation/docs/30-advanced/20-hooks.md
Labels: documentation

#8206 [docs] fix route example in 10-advanced-routing.md
  documentation/docs/30-advanced/10-advanced-routing.md
Labels: documentation

#8347 [docs] change `PageServerLoad` to `PageLoad`
  documentation/docs/20-core-concepts/20-load.md
Labels: documentation

#8321 [docs] add an FAQ regarding separate backend
  documentation/faq/80-integrations.md
Labels: documentation

#8441 [docs] add note about inability to access file system at runtime
  .changeset/polite-stingrays-smell.md
  packages/adapter-cloudflare-workers/README.md
  packages/adapter-cloudflare/README.md
  packages/adapter-netlify/README.md
  packages/adapter-vercel/README.md
Labels: documentation

#8596 docs: alphabetize glossary and add links to options
  documentation/docs/10-getting-started/10-introduction.md
  documentation/docs/20-core-concepts/10-routing.md
  documentation/docs/60-appendix/30-glossary.md
Labels: documentation

#8422 include as many static assets as possible in exclude list
  .changeset/giant-penguins-act.md
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare

#8635 docs: mention Next and Nuxt for people coming from other languages
  documentation/docs/10-getting-started/10-introduction.md
Labels: documentation

#8651 fix: include base path in path to start script
  .changeset/fast-boxes-perform.md
  packages/kit/src/runtime/server/page/render.js
  turbo.json
Labels: paths.base

#8748 fix: take base path into account when preloading code
  .changeset/chilly-hats-wait.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/options/source/pages/preloading/+page.svelte
  packages/kit/test/apps/options/source/pages/preloading/code/+page.svelte
  packages/kit/test/apps/options/test/test.js
Labels: paths.base

#8693 fix: prevent overwriting of CloudFlare `_headers` file
  .changeset/late-insects-mix.md
  packages/adapter-cloudflare/index.js
Labels: breaking change
