Repository sveltejs/kit, pull requests merged in 2023-07, with the labels that each got.

#10313 docs: update modulepreload docs with latest browser support
  packages/kit/src/exports/public.d.ts
Labels: documentation

#10352 fix(migrate): do not downgrade versions
  .changeset/cold-boxes-build.md
  packages/migrate/migrations/svelte-4/migrate.js
  packages/migrate/migrations/svelte-4/migrate.spec.js
  packages/migrate/package.json
  pnpm-lock.yaml
Labels: pkg:svelte-migrate

#10397 docs: update Cloudflare documentation
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
Labels: documentation, pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#10380 docs: new faq describing what can be made with SvelteKit
  documentation/docs/10-getting-started/10-introduction.md
  documentation/faq/10-what-can-i-make-with-sveltekit.md
Labels: documentation

#10404 Mark `cloudflare:email` as external for email routing api
  .changeset/eighty-fans-rescue.md
  .changeset/friendly-dragons-hide.md
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare
