Repository sveltejs/kit, pull requests merged in 2023-05, with the labels that each got.

#9864 document use case for using load in client-side only contexts
  documentation/docs/20-core-concepts/20-load.md
Labels: documentation

#9942 remove `envVarsInUse`
  .changeset/fast-dancers-grab.md
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
  packages/adapter-vercel/index.d.ts
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel

#9885 only cache response if response has cache-control header
  .changeset/tidy-worms-reflect.md
  packages/adapter-cloudflare/src/worker.js
Labels: pkg:adapter-cloudflare

#9988 docs: replace deprecated properties in docs for enhance
  documentation/docs/20-core-concepts/30-form-actions.md
Labels: documentation
