Repository sveltejs/kit, pull requests merged in 2023-06, with the labels that each got.

#10074 fix: Stop warning users that crons don't match paths when they actually do
  .changeset/nervous-balloons-speak.md
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel

#9987 fix: ensure optional routes with matchers and catch-all match correctly
  .changeset/great-beans-retire.md
  packages/kit/src/utils/routing.js
  packages/kit/src/utils/routing.spec.js
Labels: bug

#10096 docs: clarify cloudflare env usage
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
Labels: documentation

#10180 docs: Fixed root import name for `typeVersions`
  .changeset/tiny-insects-repeat.md
  documentation/docs/30-advanced/70-packaging.md
  packages/migrate/migrations/package/migrate_pkg.js
  packages/migrate/migrations/package/migrate_pkg.spec.js
Labels: svelte-package

#10206 docs: clarify "this adapter"
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
Labels: documentation

#10093 fix: correctly close dialog when using enhanced forms
  .changeset/proud-cobras-rhyme.md
  packages/kit/src/runtime/app/forms.js
  packages/kit/test/apps/basics/src/routes/actions/enhance/+page.svelte
  packages/kit/test/apps/basics/test/test.js
Labels: forms

#10086 docs: Clarify the impact of updating contextual store values in SSR
  documentation/docs/20-core-concepts/50-state-management.md
Labels: documentation

#10260 docs: add example for setting outgoing header
  documentation/docs/10-getting-started/40-web-standards.md
Labels: documentation
