Repository sveltejs/kit, pull requests merged in 2023-03, with the labels that each got.

#9280 provide access to request context via `event.platform`
  .changeset/polite-files-relate.md
  packages/adapter-vercel/ambient.d.ts
  packages/adapter-vercel/files/edge.js
  packages/adapter-vercel/index.d.ts
  packages/adapter-vercel/internal.d.ts
  packages/adapter-vercel/tsconfig.json
Labels: pkg:adapter-vercel

#9309 docs: update adapter-node.md
  documentation/docs/25-build-and-deploy/40-adapter-node.md
Labels: documentation

#9305 pause on debugger for full page reloads in dev
  .changeset/good-countries-enjoy.md
  packages/kit/src/runtime/client/client.js
Labels: error handling
