Repository sveltejs/kit, pull requests merged in 2023-12, with the labels that each got.

#11156 docs: link to Cloudflare Page bindings documentation
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
Labels: documentation, pkg:adapter-cloudflare

#11130 docs: add csr warning list
  documentation/docs/20-core-concepts/40-page-options.md
Labels: documentation

#11122 Vite 5
  .changeset/grumpy-sheep-fix.md
  .changeset/itchy-bags-lay.md
  .changeset/nervous-cups-argue.md
  .changeset/silent-donuts-push.md
  .changeset/unlucky-crabs-wonder.md
  package.json
  packages/adapter-cloudflare-workers/package.json
  packages/adapter-cloudflare/package.json
  packages/adapter-netlify/package.json
  packages/adapter-node/package.json
  packages/adapter-static/package.json
  packages/adapter-static/test/apps/prerendered/package.json
  packages/adapter-static/test/apps/spa/package.json
  packages/adapter-vercel/package.json
  packages/create-svelte/templates/default/package.json
  packages/create-svelte/templates/default/package.template.json
  packages/create-svelte/templates/skeleton/package.template.json
  packages/create-svelte/templates/skeletonlib/package.template.json
  packages/enhanced-img/package.json
  packages/enhanced-img/src/index.js
  packages/enhanced-img/src/preprocessor.js
  packages/kit/package.json
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/dev-only/package.json
  packages/kit/test/apps/embed/package.json
  packages/kit/test/apps/options-2/package.json
  packages/kit/test/apps/options/package.json
  packages/kit/test/apps/writes/package.json
  packages/kit/test/build-errors/apps/prerender-entry-generator-mismatch/package.json
  packages/kit/test/build-errors/apps/prerenderable-incorrect-fragment/package.json
  packages/kit/test/build-errors/apps/prerenderable-not-prerendered/package.json
  packages/kit/test/build-errors/apps/private-dynamic-env-dynamic-import/package.json
  packages/kit/test/build-errors/apps/private-dynamic-env/package.json
  packages/kit/test/build-errors/apps/private-static-env-dynamic-import/package.json
  packages/kit/test/build-errors/apps/private-static-env/package.json
  packages/kit/test/build-errors/apps/server-only-folder-dynamic-import/package.json
  packages/kit/test/build-errors/apps/server-only-folder/package.json
  packages/kit/test/build-errors/apps/server-only-module-dynamic-import/package.json
  packages/kit/test/build-errors/apps/server-only-module/package.json
  packages/kit/test/build-errors/apps/syntax-error/package.json
  packages/kit/test/prerendering/basics/package.json
  packages/kit/test/prerendering/options/package.json
  packages/kit/test/prerendering/paths-base/package.json
  playgrounds/basic/package.json
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
Labels: breaking change

#11168 breaking: drop support for Svelte 3
  .changeset/gentle-guests-clean.md
  packages/kit/package.json
Labels: breaking change

#11184 breaking: make `@sveltejs/vite-plugin-svelte` a peer dependency
  .changeset/nervous-snails-chew.md
  packages/adapter-auto/package.json
  packages/adapter-netlify/package.json
  packages/adapter-node/package.json
  packages/adapter-static/package.json
  packages/adapter-static/test/apps/prerendered/package.json
  packages/adapter-static/test/apps/spa/package.json
  packages/adapter-vercel/package.json
  packages/create-svelte/templates/default/package.template.json
  packages/create-svelte/templates/skeleton/package.template.json
  packages/create-svelte/templates/skeletonlib/package.template.json
  packages/kit/package.json
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/dev-only/package.json
  packages/kit/test/apps/embed/package.json
  packages/kit/test/apps/options-2/package.json
  packages/kit/test/apps/options/package.json
  packages/kit/test/apps/writes/package.json
  packages/kit/test/build-errors/apps/prerender-entry-generator-mismatch/package.json
  packages/kit/test/build-errors/apps/prerenderable-incorrect-fragment/package.json
  packages/kit/test/build-errors/apps/prerenderable-not-prerendered/package.json
  packages/kit/test/build-errors/apps/private-dynamic-env-dynamic-import/package.json
  packages/kit/test/build-errors/apps/private-dynamic-env/package.json
  packages/kit/test/build-errors/apps/private-static-env-dynamic-import/package.json
  packages/kit/test/build-errors/apps/private-static-env/package.json
  packages/kit/test/build-errors/apps/server-only-folder-dynamic-import/package.json
  packages/kit/test/build-errors/apps/server-only-folder/package.json
  packages/kit/test/build-errors/apps/server-only-module-dynamic-import/package.json
  packages/kit/test/build-errors/apps/server-only-module/package.json
  packages/kit/test/build-errors/apps/syntax-error/package.json
  packages/kit/test/prerendering/basics/package.json
  packages/kit/test/prerendering/options/package.json
  packages/kit/test/prerendering/paths-base/package.json
  playgrounds/basic/package.json
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
Labels: breaking change

#11216 docs: refer to `@sentry/sveltekit` rather than `@sentry/node`
  documentation/docs/30-advanced/20-hooks.md
  documentation/docs/30-advanced/25-errors.md
Labels: documentation

#11207 breaking: disallow external navigation using `goto`
  .changeset/silent-games-taste.md
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/app/navigation.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/client/utils.js
  packages/kit/test/apps/basics/src/routes/goto/+page.svelte
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/test/apps/basics/test/cross-platform/client.test.js
Labels: breaking change

#11242 docs: update wrangler cli deployment command
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
Labels: documentation, pkg:adapter-cloudflare-workers

#11246 fix: make adapter plugin param type optional
  .changeset/hungry-moles-turn.md
  packages/adapter-cloudflare-workers/index.d.ts
Labels: pkg:adapter-cloudflare-workers

#11235 breaking: Remove `dangerZone.trackServerFetches`
  .changeset/twenty-birds-eat.md
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/sync/write_server.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/server/data/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/load_data.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/src/types/internal.d.ts
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/test/apps/options/svelte.config.js
  packages/kit/test/apps/options/test/test.js
Labels: breaking change

#11185 breaking: undefined is no longer a valid value for paths.relative
  .changeset/tall-suns-protect.md
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/server/page/render.js
  packages/kit/test/apps/basics/test/test.js
Labels: breaking change

#11245 fix: correctly map prerendered pages when base path is set
  .changeset/cold-walls-film.md
  packages/adapter-cloudflare-workers/index.js
Labels: pkg:adapter-cloudflare-workers, paths.base

#11240 breaking: require `path` when setting/deleting/serializing cookies
  .changeset/poor-parrots-own.md
  documentation/docs/20-core-concepts/20-load.md
  packages/create-svelte/templates/default/src/routes/sverdle/+page.server.ts
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/server/cookie.js
  packages/kit/src/runtime/server/cookie.spec.js
  packages/kit/src/runtime/server/fetch.js
  packages/kit/src/runtime/server/page/types.d.ts
  packages/kit/src/utils/url.js
  packages/kit/src/utils/url.spec.js
  packages/kit/test/apps/basics/src/hooks.server.js
  packages/kit/test/apps/basics/src/routes/cookies/delete/+server.js
  packages/kit/test/apps/basics/src/routes/cookies/encoding/not-decoded-twice/+server.js
  packages/kit/test/apps/basics/src/routes/cookies/encoding/set/+server.js
  packages/kit/test/apps/basics/src/routes/cookies/enhanced/basic/+page.server.ts
  packages/kit/test/apps/basics/src/routes/cookies/forwarded-in-etag/+page.server.js
  packages/kit/test/apps/basics/src/routes/cookies/nested/a/+page.server.js
  packages/kit/test/apps/basics/src/routes/cookies/serialize/+server.js
  packages/kit/test/apps/basics/src/routes/cookies/set-in-layout/+layout.server.js
  packages/kit/test/apps/basics/src/routes/cookies/set-more-than-one/+page.server.js
  packages/kit/test/apps/basics/src/routes/cookies/set/+server.js
  packages/kit/test/apps/basics/src/routes/headers/set-cookie/+layout.server.js
  packages/kit/test/apps/basics/src/routes/headers/set-cookie/sub/+page.server.js
  packages/kit/test/apps/basics/src/routes/shadowed/redirect-get-with-cookie/+page.server.js
  packages/kit/test/apps/basics/src/routes/shadowed/redirect-post-with-cookie/+page.server.js
Labels: breaking change

#11176 chore: remove top level promise await behavior
  .changeset/calm-brooms-burn.md
  packages/kit/src/core/sync/write_types/index.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/server/page/load_data.js
  packages/kit/src/utils/promises.js
  packages/kit/test/apps/basics/src/routes/load/fetch-cache-control/headers-diff/+page.js
  packages/kit/test/apps/embed/src/routes/embed/+page.js
  sites/kit.svelte.dev/src/routes/+layout.server.js
Labels: breaking change

#11222 feat: provide SvelteKit html typings
  .changeset/smart-buttons-return.md
  packages/kit/src/core/sync/sync.js
  packages/kit/src/core/sync/write_non_ambient.js
  packages/kit/src/core/sync/write_tsconfig.js
  packages/kit/src/core/sync/write_tsconfig.spec.js
Labels: types / typescript

#11259 breaking: require paths pass to `preloadCode` to be prefixed with basepath
  .changeset/nervous-bananas-search.md
  documentation/docs/60-appendix/30-migrating-to-sveltekit-2.md
  packages/kit/src/runtime/app/navigation.js
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/options/test/test.js
  packages/kit/types/index.d.ts
Labels: breaking change

#11131 fix: Show Internal Error when rendering default Error page when a runtime error occurs on a 404 page
  .changeset/warm-otters-compete.md
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/control.js
  packages/kit/src/runtime/server/respond.js
  packages/kit/src/runtime/server/utils.js
Labels: error handling

#10713 docs: implications for authentication
  documentation/docs/20-core-concepts/20-load.md
Labels: documentation

#10555 fix: add `"false"` value to preload link options
  .changeset/bright-buttons-flash.md
  documentation/docs/30-advanced/30-link-options.md
  packages/kit/src/runtime/client/constants.js
  packages/kit/src/runtime/client/utils.js
Labels: needs-decision

#10553 docs: clean up some confusion about state management and pages.
  documentation/docs/20-core-concepts/50-state-management.md
Labels: documentation

#11230 feat: OpenSearch
  sites/kit.svelte.dev/src/app.html
  sites/kit.svelte.dev/static/opensearch.xml
Labels: enhancement

#9285 Allow service workers to import assets
  .changeset/twelve-seals-vanish.md
  packages/kit/src/exports/vite/build/build_service_worker.js
  packages/kit/src/exports/vite/build/utils.js
  packages/kit/test/apps/options-2/src/image.jpg
  packages/kit/test/apps/options-2/src/service-worker.js
  packages/kit/test/apps/options-2/test/test.js
Labels: service worker

#10535 feat: inline Response.arrayBuffer inside load functions during ssr
  .changeset/fifty-tigers-turn.md
  documentation/docs/20-core-concepts/20-load.md
  packages/kit/src/runtime/client/fetcher.js
  packages/kit/src/runtime/server/page/load_data.js
  packages/kit/src/runtime/server/page/serialize_data.js
  packages/kit/src/runtime/server/page/types.d.ts
  packages/kit/test/apps/basics/src/routes/load/fetch-arraybuffer-b64/+page.js
  packages/kit/test/apps/basics/src/routes/load/fetch-arraybuffer-b64/+page.svelte
  packages/kit/test/apps/basics/src/routes/load/fetch-arraybuffer-b64/data/+server.js
  packages/kit/test/apps/basics/test/test.js
Labels: enhancement

#10763 fix: prevent incorrect trailing slash redirect for prerendered root page when `paths.base` is set
  .changeset/rich-pandas-provide.md
  packages/kit/src/exports/vite/preview/index.js
  packages/kit/src/runtime/client/client.js
Labels: paths.base

#10617 docs: update service-worker example to be type-safe when in ts + handle offline better
  documentation/docs/30-advanced/40-service-workers.md
Labels: documentation

#11277 breaking: serve public env dynamically, prevent use of dynamic env vars during prerendering
  .changeset/calm-pugs-applaud.md
  .changeset/pink-lobsters-protect.md
  documentation/docs/60-appendix/30-migrating-to-sveltekit-2.md
  packages/adapter-static/index.js
  packages/adapter-static/package.json
  packages/adapter-static/test/apps/prerendered/src/routes/public-env/+page.svelte
  packages/adapter-static/test/apps/prerendered/test/test.js
  packages/adapter-static/test/apps/spa/src/routes/fallback/[...rest]/+page.svelte
  packages/kit/src/core/adapt/builder.js
  packages/kit/src/core/postbuild/analyse.js
  packages/kit/src/core/postbuild/prerender.js
  packages/kit/src/core/sync/write_server.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/graph_analysis/index.js
  packages/kit/src/exports/vite/index.js
  packages/kit/src/exports/vite/module_ids.js
  packages/kit/src/runtime/server/env_module.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/respond.js
  packages/kit/src/runtime/shared-server.js
  packages/kit/src/types/internal.d.ts
  packages/kit/src/types/synthetic/$env+dynamic+private.md
  packages/kit/src/types/synthetic/$env+dynamic+public.md
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/basics/playwright.config.js
  packages/kit/test/apps/basics/src/routes/+layout.server.js
  packages/kit/test/apps/basics/src/routes/prerendering/env/+layout.svelte
  packages/kit/test/apps/basics/src/routes/prerendering/env/dynamic/+page.svelte
  packages/kit/test/apps/basics/src/routes/prerendering/env/prerendered/+page.js
  packages/kit/test/apps/basics/src/routes/prerendering/env/prerendered/+page.svelte
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/test/prerendering/basics/src/routes/env/+page.server.js
  packages/kit/test/prerendering/basics/src/routes/env/+page.svelte
  packages/kit/test/prerendering/basics/test/tests.spec.js
  packages/kit/types/index.d.ts
  packages/migrate/migrations/sveltekit-2/migrate.js
Labels: breaking change

#11276 breaking: fix path resolution
  .changeset/twelve-paws-remember.md
  packages/kit/src/core/postbuild/fixtures/base/output.json
  packages/kit/src/core/postbuild/fixtures/basic-href/output.json
  packages/kit/src/core/postbuild/fixtures/href-with-character-reference/output.json
  packages/kit/src/core/postbuild/fixtures/ids/output.json
  packages/kit/src/core/postbuild/fixtures/include-rel-external/output.json
  packages/kit/src/core/postbuild/fixtures/meta/output.json
  packages/kit/src/core/postbuild/fixtures/unquoted-attributes/output.json
  packages/kit/src/utils/url.js
  packages/kit/src/utils/url.spec.js
  packages/kit/test/apps/basics/src/routes/cookies/encoding/set/+server.js
Labels: breaking change

#11294 breaking: remove baseUrl fallback from generated tsconfig
  .changeset/dull-eyes-check.md
  .changeset/loud-parrots-flow.md
  documentation/docs/60-appendix/30-migrating-to-sveltekit-2.md
  packages/kit/src/core/sync/write_tsconfig.js
  packages/kit/src/core/sync/write_tsconfig.spec.js
  packages/migrate/migrations/sveltekit-2/migrate.js
Labels: breaking change

#11289 breaking: tighten up error handling
  .changeset/fast-dolls-clean.md
  .changeset/real-pets-fix.md
  documentation/docs/30-advanced/20-hooks.md
  documentation/docs/30-advanced/25-errors.md
  documentation/docs/60-appendix/30-migrating-to-sveltekit-2.md
  packages/adapter-node/package.json
  packages/adapter-node/src/handler.js
  packages/adapter-vercel/files/serverless.js
  packages/adapter-vercel/package.json
  packages/kit/src/exports/node/index.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/preview/index.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/control.js
  packages/kit/src/runtime/server/data/index.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/actions.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/respond_with_error.js
  packages/kit/src/runtime/server/respond.js
  packages/kit/src/runtime/server/utils.js
  packages/kit/src/utils/error.js
  packages/kit/test/apps/basics/src/hooks.client.js
  packages/kit/test/apps/basics/src/hooks.server.js
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/test/apps/basics/test/cross-platform/client.test.js
  packages/kit/test/apps/basics/test/cross-platform/test.js
  packages/kit/test/apps/basics/test/server.test.js
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/index.d.ts
Labels: error handling, breaking change

#11301 docs: fix wording, note SvelteKit 1.x behavior
  documentation/docs/20-core-concepts/20-load.md
  documentation/docs/30-advanced/25-errors.md
Labels: documentation

#11316 breaking: require SvelteKit 2 for all adapters
  .changeset/hip-spoons-crash.md
  .changeset/silly-frogs-love.md
  packages/adapter-auto/adapters.js
  packages/adapter-auto/package.json
  packages/adapter-cloudflare-workers/package.json
  packages/adapter-cloudflare/package.json
  packages/adapter-netlify/package.json
  packages/create-svelte/templates/default/package.template.json
  packages/create-svelte/templates/skeleton/package.template.json
  packages/create-svelte/templates/skeletonlib/package.template.json
  packages/migrate/migrations/sveltekit-2/migrate.js
  pnpm-lock.yaml
Labels: breaking change

#11328 fix: update adapter-vercel supported node versions
  .changeset/twelve-yaks-travel.md
  documentation/docs/25-build-and-deploy/80-adapter-netlify.md
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel

#11349 chore: simplify `.prettierignore`
  .changeset/stupid-eels-rule.md
  packages/create-svelte/shared/+prettier/.prettierignore
Labels: pkg:create-svelte

#11403 fix: attempt to address issues accessing images on filesystem
  .changeset/popular-buses-behave.md
  packages/enhanced-img/package.json
  pnpm-lock.yaml
Labels: pkg:enhanced-img

#11346 fix: throw an error if image cannot be resolved
  .changeset/polite-rice-burn.md
  packages/enhanced-img/src/index.js
  packages/enhanced-img/src/preprocessor.js
Labels: pkg:enhanced-img

#11407 fix: correct link to docs
  .changeset/chilled-colts-judge.md
  packages/migrate/migrations/sveltekit-2/migrate.js
Labels: pkg:svelte-migrate

#11411 docs: svelte-kit v2 adapter dependencies
  documentation/docs/60-appendix/30-migrating-to-sveltekit-2.md
Labels: documentation

#11413 fix: edit this page on GitHub anchor
  sites/kit.svelte.dev/src/routes/docs/[slug]/+page.svelte
  sites/kit.svelte.dev/src/routes/home/Deployment.svelte
  sites/kit.svelte.dev/src/routes/schema.json
Labels: documentation

#11422 docs: update cookie examples with path
  documentation/docs/20-core-concepts/30-form-actions.md
Labels: documentation

#11453 fix: set ESLint config type to `Config` instead of `FlatConfig`
  .changeset/silver-hornets-eat.md
  packages/create-svelte/shared/+eslint+prettier+typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+prettier-typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint-typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint/package.json
Labels: pkg:create-svelte

#11424 docs: add performance page
  documentation/docs/40-best-practices/05-performance.md
  documentation/docs/40-best-practices/07-images.md
Labels: documentation
