Repository sveltejs/kit, pull requests merged in 2023-11, with the labels that each got.

#10976 remove broken links from `create-svelte` template README.md
  packages/create-svelte/templates/default/README.md
Labels: documentation

#11016 add `@sveltejs/enhanced-img` to top-level readme
  README.md
Labels: documentation

#11029 fix: correctly configure `module` and `noEmit` tsconfig and jsconfig properties
  .changeset/perfect-seahorses-check.md
  packages/create-svelte/shared/+checkjs/jsconfig.json
  packages/create-svelte/shared/+skeletonlib+checkjs/jsconfig.json
  packages/create-svelte/shared/+skeletonlib+typescript/tsconfig.json
  packages/create-svelte/shared/+skeletonlib-typescript/jsconfig.json
  packages/create-svelte/shared/+typescript/tsconfig.json
  packages/create-svelte/templates/skeletonlib/src/lib/index.ts
  packages/kit/src/core/sync/write_tsconfig.js
Labels: types / typescript, pkg:create-svelte

#11038 docs: mention various Svelte CDN libraries
  documentation/docs/30-advanced/60-images.md
Labels: documentation

#11047 fix: avoid creating conflicting import statements
  .changeset/violet-moons-tease.md
  packages/enhanced-img/src/preprocessor.js
  packages/enhanced-img/test/Output.svelte
Labels: bug, pkg:enhanced-img

#11059 @sveltejs/enhanced-img: Fix client component compilation
  .changeset/slow-students-run.md
  packages/enhanced-img/src/preprocessor.js
  packages/enhanced-img/test/Output.svelte
Labels: pkg:enhanced-img
