Repository sveltejs/kit, pull requests merged in 2023-10, with the labels that each got.

#10793 fix: specified 'initial-scale=1' on all viewport meta tags
  .changeset/bright-cycles-argue.md
  packages/adapter-static/test/apps/prerendered/src/app.html
  packages/adapter-static/test/apps/spa/src/app.html
  packages/create-svelte/templates/default/src/app.html
  packages/create-svelte/templates/skeleton/src/app.html
  packages/kit/test/apps/amp/src/app.html
  packages/kit/test/apps/basics/src/app.html
  packages/kit/test/apps/dev-only/src/app.html
  packages/kit/test/apps/options-2/src/app.html
  packages/kit/test/apps/options/source/template.html
  packages/kit/test/apps/writes/src/app.html
  packages/kit/test/build-errors/apps/prerender-entry-generator-mismatch/src/app.html
  packages/kit/test/build-errors/apps/prerenderable-incorrect-fragment/src/app.html
  packages/kit/test/build-errors/apps/prerenderable-not-prerendered/src/app.html
  packages/kit/test/build-errors/apps/private-dynamic-env-dynamic-import/src/app.html
  packages/kit/test/build-errors/apps/private-dynamic-env/src/app.html
  packages/kit/test/build-errors/apps/private-static-env-dynamic-import/src/app.html
  packages/kit/test/build-errors/apps/private-static-env/src/app.html
  packages/kit/test/build-errors/apps/server-only-folder-dynamic-import/src/app.html
  packages/kit/test/build-errors/apps/server-only-folder/src/app.html
  packages/kit/test/build-errors/apps/server-only-module-dynamic-import/src/app.html
  packages/kit/test/build-errors/apps/server-only-module/src/app.html
  packages/kit/test/build-errors/apps/syntax-error/src/app.html
  packages/kit/test/prerendering/basics/src/app.html
  packages/kit/test/prerendering/options/src/app.html
  packages/kit/test/prerendering/paths-base/src/app.html
  playgrounds/basic/src/app.html
  sites/kit.svelte.dev/src/app.html
Labels: pkg:create-svelte

#10083 docs: improve deploy-to-github-pages action example
  documentation/docs/25-build-and-deploy/50-adapter-static.md
Labels: documentation, pkg:adapter-static

#10759 docs: clarify customizing `use:enhance` behaviour
  documentation/docs/20-core-concepts/30-form-actions.md
Labels: documentation
