Repository sveltejs/kit, pull requests merged in 2024-11, with the labels that each got.

#12822 [enhanced-image] support svelte 5 + fix types
  .changeset/witty-years-relate.md
  packages/enhanced-img/package.json
  packages/enhanced-img/src/preprocessor.js
  packages/enhanced-img/test/Input.svelte
  packages/enhanced-img/test/Output.svelte
  packages/enhanced-img/types/internal.d.ts
  packages/kit/src/exports/vite/index.js
  pnpm-lock.yaml
Labels: pkg:enhanced-img, svelte 5

#12907 fix: set no-op proxy config to get Vite HTTPS working
  .changeset/unlucky-walls-drum.md
  packages/kit/src/exports/vite/index.js
Labels: vite

#12878 feat: add action failure helper
  .changeset/fresh-guests-knock.md
  packages/kit/src/exports/index.js
  packages/kit/types/index.d.ts
Labels: forms

#12966 fix: disregard presence/absence of trailing slash in prerendered redirect
  .changeset/seven-kangaroos-talk.md
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel

#12988 docs: remove outdated FAQ
  documentation/docs/60-appendix/10-faq.md
Labels: documentation

#12991 docs: fix title for the code block
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
  documentation/docs/30-advanced/25-errors.md
Labels: documentation

#12969 docs: block controls visible #815
  documentation/docs/98-reference/54-types.md
Labels: documentation

#13011 docs: update vitePreprocess section for Svelte 5
  documentation/docs/60-appendix/20-integrations.md
Labels: documentation

#13030 docs: use svelte 5 syntax
  documentation/docs/20-core-concepts/10-routing.md
  documentation/docs/20-core-concepts/20-load.md
  documentation/docs/20-core-concepts/30-form-actions.md
  documentation/docs/30-advanced/67-shallow-routing.md
Labels: documentation

#13007 fix: update inline css url in dev
  .changeset/ninety-dragons-carry.md
  packages/kit/src/exports/vite/dev/index.js
Labels: vite
