Repository sveltejs/kit, pull requests merged in 2024-10, with the labels that each got.

#12749 feat: pass filename to `migrate`
  .changeset/dry-feet-wink.md
  packages/migrate/migrations/svelte-5/index.js
  packages/migrate/migrations/svelte-5/migrate.js
Labels: pkg:svelte-migrate, svelte 5

#12748 fix: prompt SvelteKit 2 migration during Svelte 5 migration if necessary
  .changeset/warm-moose-argue.md
  packages/migrate/migrations/svelte-5/index.js
Labels: pkg:svelte-migrate, svelte 5

#12717 fix: updated `@default` annotation for runtime
  .changeset/curly-crews-hide.md
  packages/adapter-vercel/index.d.ts
Labels: pkg:adapter-vercel

#12763 fix: add node custom inspect for `URL.searchParams`
  .changeset/rude-shirts-raise.md
  packages/kit/src/utils/url.js
Labels: bug

#12395 fix: Allow `#top` and the empty string as special-case non-missing IDs
  packages/kit/src/core/postbuild/prerender.js
  packages/kit/test/prerendering/basics/.gitignore
  packages/kit/test/prerendering/basics/globalSetup.js
  packages/kit/test/prerendering/basics/package.json
  packages/kit/test/prerendering/basics/src/routes/missing-id/+page.svelte
  packages/kit/test/prerendering/basics/svelte.config.js
  packages/kit/test/prerendering/basics/test/tests.spec.js
  packages/kit/test/prerendering/basics/vite.config.js
Labels: router

#12546 docs: clarify `use:enhance` compatibility with `method="POST"`
  documentation/docs/20-core-concepts/30-form-actions.md
Labels: documentation

#12775 fix: catch stack trace fixing errors thrown in web containers
  .changeset/polite-games-smash.md
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/runtime/server/utils.js
Labels: bug, needs-decision

#12773 fix: only preload link if the URL differs from current page
  .changeset/calm-fireants-hug.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/routing/hashes/a/+page.svelte
  packages/kit/test/apps/basics/test/cross-platform/client.test.js
Labels: bug

#12607 chore: upgrade to ts-morph 23
  .changeset/kind-rabbits-talk.md
  packages/migrate/migrations/svelte-4/migrate.js
  packages/migrate/migrations/sveltekit-2/migrate.js
  packages/migrate/package.json
  pnpm-lock.yaml
Labels: pkg:svelte-migrate

#12372 feat: mark scripts in libraries as being side effect free by default
  .changeset/clean-wolves-bathe.md
  documentation/docs/30-advanced/70-packaging.md
  packages/create-svelte/templates/skeletonlib/package.template.json
Labels: documentation, pkg:create-svelte

#12418 fix: page response missing CSP and Link headers when return promise in `load`
  .changeset/tidy-timers-perform.md
  packages/kit/src/runtime/server/page/render.js
  packages/kit/test/apps/options/source/pages/csp-with-stream/+page.server.js
  packages/kit/test/apps/options/source/pages/csp-with-stream/+page.svelte
  packages/kit/test/apps/options/test/test.js
Labels: bug

#12429 docs: add note to vercel isr on prerender page options conflict
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
Labels: documentation, pkg:adapter-vercel

#12448 feat: update service worker when new version is detected
  .changeset/unlucky-cars-swim.md
  packages/kit/src/runtime/client/client.js
Labels: feature request, service worker

#12788 docs: add report uri directive to CSP example
  packages/kit/src/exports/public.d.ts
  packages/kit/types/index.d.ts
Labels: documentation

#12699 fix: decode hash when clicking on same hash to correctly scroll on non ascii hashes
  .changeset/smooth-dogs-travel.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/anchor/anchor/+page.svelte
  packages/kit/test/apps/basics/test/cross-platform/client.test.js
Labels: bug

#12113 fix: handle relative assets paths in server `fetch` correctly
  .changeset/dirty-rivers-tickle.md
  packages/adapter-cloudflare-workers/files/entry.js
  packages/adapter-cloudflare/src/worker.js
  packages/adapter-netlify/src/edge.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/preview/index.js
  packages/kit/src/runtime/server/fetch.js
  packages/kit/test/apps/basics/src/routes/endpoint-output/fetch-asset/absolute/+server.js
  packages/kit/test/apps/basics/src/routes/endpoint-output/fetch-asset/relative/+server.js
  packages/kit/test/apps/basics/src/routes/endpoint-output/fetch-asset/test.txt
  packages/kit/test/apps/basics/test/server.test.js
Labels: bug

#12793 chore: upgrade svelte-parse-markup
  .changeset/fuzzy-bats-dance.md
  packages/enhanced-img/package.json
  pnpm-lock.yaml
Labels: pkg:enhanced-img, svelte 5

#12063 fix: add warning for form action responses lost without SSR
  .changeset/many-cats-breathe.md
  packages/kit/src/runtime/server/page/index.js
Labels: forms

#12804 docs: @sveltejs/enhanced-img reference
  documentation/docs/40-best-practices/05-performance.md
Labels: documentation

#12852 fix: bump enhanced-img version to avoid peer dep warning
  .changeset/shy-seals-draw.md
  packages/migrate/migrations/svelte-5/migrate.js
Labels: pkg:svelte-migrate

#12820 fix: include importer in illegal import error message
  .changeset/dry-cows-smash.md
  packages/kit/src/exports/vite/index.js
  packages/kit/test/apps/dev-only/test/test.js
Labels: feature request

#12876 fix: revert using server read for load function fetch
  .changeset/eight-insects-live.md
  packages/kit/src/runtime/server/fetch.js
Labels: pkg:adapter-vercel

#12871 docs: more Svelte 5 conversion
  documentation/docs/20-core-concepts/10-routing.md
  documentation/docs/20-core-concepts/20-load.md
  documentation/docs/20-core-concepts/30-form-actions.md
  documentation/docs/20-core-concepts/50-state-management.md
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
  documentation/docs/30-advanced/10-advanced-routing.md
  documentation/docs/30-advanced/65-snapshots.md
  documentation/docs/30-advanced/67-shallow-routing.md
  documentation/docs/98-reference/26-$lib.md
  packages/kit/src/exports/public.d.ts
  packages/kit/types/index.d.ts
Labels: documentation

#12810 docs: auth guide
  documentation/docs/30-advanced/20-hooks.md
  documentation/docs/40-best-practices/03-auth.md
  packages/kit/src/exports/public.d.ts
  packages/kit/src/types/ambient.d.ts
  packages/kit/types/index.d.ts
Labels: documentation

#12886 docs: elaborate on duplicate setHeaders calls
  documentation/docs/20-core-concepts/20-load.md
Labels: documentation

#12866 fix: defer when clicking hash links with data-sveltekit-reload
  .changeset/chilled-cats-hang.md
  .changeset/strange-buckets-sell.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/data-sveltekit/reload/hash/+page.svelte
  packages/kit/test/apps/basics/src/routes/data-sveltekit/reload/hash/new/+page.svelte
  packages/kit/test/apps/basics/src/routes/routing/hashes/focus/+page.svelte
  packages/kit/test/apps/basics/test/cross-platform/client.test.js
Labels: router

#12888 docs: elaborate on setHeaders in SSR
  documentation/docs/20-core-concepts/20-load.md
Labels: documentation

#12908 docs: delete the 'In Svelte 4' redundancy in the doc.
  documentation/docs/20-core-concepts/20-load.md
  documentation/docs/20-core-concepts/30-form-actions.md
Labels: documentation
