Repository sveltejs/kit, pull requests merged in 2024-08, with the labels that each got.

#12584 fix: use dynamic components in `root.svelte` instead of `svelte:component` for svelte 5
  .changeset/cyan-hounds-refuse.md
  packages/kit/src/core/sync/write_root.js
Labels: svelte 5

#12586 chore(deps): use vite-plugin-svelte 4 in svelte5 template of create-svelte
  .changeset/thick-spies-hope.md
  packages/create-svelte/shared/+svelte5/package.json
  packages/create-svelte/test/check.js
Labels: pkg:create-svelte, svelte 5

#12621 perf: apply performance optimization to dev srcset
  .changeset/tricky-hats-flow.md
  packages/enhanced-img/src/preprocessor.js
  packages/enhanced-img/test/Input.svelte
  packages/enhanced-img/test/Output.svelte
  packages/enhanced-img/test/preprocessor.spec.js
Labels: pkg:enhanced-img

#12196 fix: exclude service worker directory from tsconfig
  .changeset/red-ladybugs-press.md
  packages/kit/src/core/sync/write_tsconfig.js
Labels: types / typescript, service worker
