Repository sveltejs/kit, pull requests merged in 2024-01, with the labels that each got.

#11472 docs: remove outdated section from SEO docs
  documentation/docs/40-best-practices/20-seo.md
Labels: documentation

#11519 Clarify docs on context-based store value propagation behavior during SSR
  documentation/docs/20-core-concepts/50-state-management.md
Labels: documentation

#11388 fix: respect trailing slash option when navigating from the root page of the basepath
  .changeset/five-garlics-greet.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/options-2/src/routes/+page.svelte
  packages/kit/test/apps/options-2/test/test.js
Labels: paths.base

#10994 feat: Expose `$env/static/public` in Service Workers
  .changeset/proud-pandas-fold.md
  packages/kit/src/core/sync/write_tsconfig.js
  packages/kit/src/exports/vite/build/build_service_worker.js
  packages/kit/src/exports/vite/index.js
  packages/kit/test/apps/basics/src/service-worker.js
  packages/kit/test/apps/options-2/src/service-worker.js
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/.env
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/.gitignore
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/.npmrc
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/package.json
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/src/app.html
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/src/routes/+page.svelte
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/src/service-worker.js
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/static/favicon.png
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/svelte.config.js
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/tsconfig.json
  packages/kit/test/build-errors/apps/service-worker-dynamic-public-env/vite.config.js
  packages/kit/test/build-errors/apps/service-worker-private-env/.env
  packages/kit/test/build-errors/apps/service-worker-private-env/.gitignore
  packages/kit/test/build-errors/apps/service-worker-private-env/.npmrc
  packages/kit/test/build-errors/apps/service-worker-private-env/package.json
  packages/kit/test/build-errors/apps/service-worker-private-env/src/app.html
  packages/kit/test/build-errors/apps/service-worker-private-env/src/routes/+page.svelte
  packages/kit/test/build-errors/apps/service-worker-private-env/src/service-worker.js
  packages/kit/test/build-errors/apps/service-worker-private-env/static/favicon.png
  packages/kit/test/build-errors/apps/service-worker-private-env/svelte.config.js
  packages/kit/test/build-errors/apps/service-worker-private-env/tsconfig.json
  packages/kit/test/build-errors/apps/service-worker-private-env/vite.config.js
  packages/kit/test/build-errors/env.spec.js
  pnpm-lock.yaml
Labels: service worker

#11569 docs: add `@since` tags
  packages/kit/src/exports/public.d.ts
  packages/kit/types/index.d.ts
Labels: documentation

#11566 docs: .nojekyll in static folder.
  documentation/docs/25-build-and-deploy/50-adapter-static.md
Labels: documentation, pkg:adapter-static

#11602 fix: correct images cache key to avoid collisions when images have same name
  .changeset/rare-lizards-wonder.md
  packages/enhanced-img/src/preprocessor.js
Labels: pkg:enhanced-img

#10979 feat: include server assets for Vercel serverless functions
  .changeset/loud-needles-refuse.md
  .changeset/selfish-bobcats-run.md
  documentation/docs/25-build-and-deploy/80-adapter-netlify.md
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
  packages/adapter-vercel/.gitignore
  packages/adapter-vercel/index.js
  packages/adapter-vercel/package.json
  packages/adapter-vercel/test/apps/split/.gitignore
  packages/adapter-vercel/test/apps/split/.npmrc
  packages/adapter-vercel/test/apps/split/package.json
  packages/adapter-vercel/test/apps/split/playwright.config.js
  packages/adapter-vercel/test/apps/split/src/app.d.ts
  packages/adapter-vercel/test/apps/split/src/app.html
  packages/adapter-vercel/test/apps/split/src/hooks.server.js
  packages/adapter-vercel/test/apps/split/src/lib/+error.svelte.txt
  packages/adapter-vercel/test/apps/split/src/lib/+layout.js.txt
  packages/adapter-vercel/test/apps/split/src/lib/+layout.server.js.txt
  packages/adapter-vercel/test/apps/split/src/lib/+layout.svelte.txt
  packages/adapter-vercel/test/apps/split/src/lib/+page.js.txt
  packages/adapter-vercel/test/apps/split/src/lib/+page.server.js.txt
  packages/adapter-vercel/test/apps/split/src/lib/+page.svelte.txt
  packages/adapter-vercel/test/apps/split/src/lib/+server.js.txt
  packages/adapter-vercel/test/apps/split/src/lib/component.svelte
  packages/adapter-vercel/test/apps/split/src/lib/hooks.server.js.txt
  packages/adapter-vercel/test/apps/split/src/lib/root_error.txt
  packages/adapter-vercel/test/apps/split/src/lib/root_layout.txt
  packages/adapter-vercel/test/apps/split/src/lib/transitive.js
  packages/adapter-vercel/test/apps/split/src/lib/transitive.txt
  packages/adapter-vercel/test/apps/split/src/routes/+error.svelte
  packages/adapter-vercel/test/apps/split/src/routes/+layout.js
  packages/adapter-vercel/test/apps/split/src/routes/+layout.server.js
  packages/adapter-vercel/test/apps/split/src/routes/+page.server.js
  packages/adapter-vercel/test/apps/split/src/routes/+page.svelte
  packages/adapter-vercel/test/apps/split/src/routes/api/+server.js
  packages/adapter-vercel/test/apps/split/src/routes/load/+error.svelte
  packages/adapter-vercel/test/apps/split/src/routes/load/+layout.js
  packages/adapter-vercel/test/apps/split/src/routes/load/+layout.svelte
  packages/adapter-vercel/test/apps/split/src/routes/load/+page.js
  packages/adapter-vercel/test/apps/split/src/routes/load/+page.server.js
  packages/adapter-vercel/test/apps/split/src/routes/load/+page.svelte
  packages/adapter-vercel/test/apps/split/svelte.config.js
  packages/adapter-vercel/test/apps/split/test/test.js
  packages/adapter-vercel/test/apps/split/tsconfig.json
  packages/adapter-vercel/test/apps/split/vite.config.js
  packages/adapter-vercel/test/utils.js
  packages/adapter-vercel/tsconfig.json
  packages/kit/src/core/adapt/builder.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/utils/set.js
  packages/kit/types/index.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg:adapter-vercel

#10544 Mark `node:` as external for Node.js compatibility
  .changeset/pretty-geese-drum.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
  packages/adapter-cloudflare-workers/index.d.ts
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#11649 feat: implement `read`
  .changeset/rude-apples-jam.md
  .changeset/tasty-masks-talk.md
  .changeset/tiny-maps-chew.md
  documentation/docs/25-build-and-deploy/99-writing-adapters.md
  documentation/docs/30-advanced/50-server-only-modules.md
  packages/adapter-netlify/index.js
  packages/adapter-netlify/package.json
  packages/adapter-netlify/src/serverless.js
  packages/adapter-node/ambient.d.ts
  packages/adapter-node/index.js
  packages/adapter-node/package.json
  packages/adapter-node/src/handler.js
  packages/adapter-vercel/files/serverless.js
  packages/adapter-vercel/index.js
  packages/adapter-vercel/package.json
  packages/kit/scripts/generate-dts.js
  packages/kit/src/core/adapt/builder.js
  packages/kit/src/core/generate_manifest/find_server_assets.js
  packages/kit/src/core/generate_manifest/index.js
  packages/kit/src/core/postbuild/analyse.js
  packages/kit/src/core/postbuild/prerender.js
  packages/kit/src/core/sync/create_manifest_data/index.js
  packages/kit/src/core/sync/write_server.js
  packages/kit/src/exports/node/index.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/exports/vite/build/utils.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/graph_analysis/index.js
  packages/kit/src/exports/vite/index.js
  packages/kit/src/exports/vite/module_ids.js
  packages/kit/src/exports/vite/preview/index.js
  packages/kit/src/runtime/app/server/index.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/runtime/server/page/index.js
  packages/kit/src/runtime/server/page/load_page_nodes.js
  packages/kit/src/runtime/server/respond.js
  packages/kit/src/types/ambient-private.d.ts
  packages/kit/src/types/global-private.d.ts
  packages/kit/src/types/internal.d.ts
  packages/kit/src/utils/features.js
  packages/kit/src/utils/route_config.js
  packages/kit/test/apps/basics/src/routes/read-file/+page.server.js
  packages/kit/test/apps/basics/src/routes/read-file/+page.svelte
  packages/kit/test/apps/basics/src/routes/read-file/auto.txt
  packages/kit/test/apps/basics/src/routes/read-file/url.txt
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/index.d.ts
  pnpm-lock.yaml
  sites/kit.svelte.dev/package.json
  sites/kit.svelte.dev/src/constants.js
  sites/kit.svelte.dev/src/lib/server/docs/index.js
  sites/kit.svelte.dev/src/routes/+layout.server.js
  sites/kit.svelte.dev/src/routes/content.json/content.server.js
  sites/kit.svelte.dev/src/routes/docs/+layout.server.js
  sites/kit.svelte.dev/src/routes/docs/+layout.svelte
  sites/kit.svelte.dev/src/routes/docs/[slug]/+page.server.js
  sites/kit.svelte.dev/src/routes/nav.json/+server.js
Labels: enhancement

#11716 fix: version range handling in update_pkg function
  .changeset/silly-donkeys-shout.md
  packages/migrate/README.md
  packages/migrate/migrations/package/migrate_pkg.js
  packages/migrate/migrations/routes/migrate_page_js/index.js
  packages/migrate/migrations/routes/migrate_page_server/index.js
  packages/migrate/migrations/routes/migrate_server/index.js
  packages/migrate/migrations/svelte-4/migrate.spec.js
  packages/migrate/package.json
  packages/migrate/utils.js
  packages/migrate/utils.spec.js
Labels: pkg:svelte-migrate
