Repository sveltejs/kit, pull requests merged in 2024-02, with the labels that each got.

#11827 docs: update static adapter deploy to pages workflow
  documentation/docs/25-build-and-deploy/50-adapter-static.md
Labels: documentation

#11845 chore: bump typescript-eslint to v7
  .changeset/mighty-radios-know.md
  packages/create-svelte/shared/+eslint+typescript/package.json
  packages/create-svelte/shared/+eslint/package.json
Labels: pkg:create-svelte

#11869 docs: link to max duration vercel docs
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
Labels: documentation, pkg:adapter-vercel

#11886 fix: tsconfig includes should cover svelte.config.js
  .changeset/sixty-files-lay.md
  packages/kit/src/core/sync/write_tsconfig.js
  packages/kit/src/core/sync/write_tsconfig.spec.js
Labels: types / typescript

#11897 docs: mention that rest of example follows
  documentation/docs/20-core-concepts/10-routing.md
Labels: documentation
