Repository sveltejs/kit, pull requests merged in 2024-04, with the labels that each got.

#12011 feat: add `platformProxy` option to configure `getPlatformProxy`
  .changeset/tough-dolphins-kick.md
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
  packages/adapter-cloudflare-workers/index.d.ts
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare/index.d.ts
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#12089 feat: upgrade eslint in create-svelte to v9
  .changeset/kind-cats-argue.md
  packages/create-svelte/shared/+eslint+prettier+typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+prettier+typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+prettier-typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+prettier-typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+svelte5/package.json
  packages/create-svelte/shared/+eslint+typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+typescript/package.json
  packages/create-svelte/shared/+eslint-typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint-typescript/eslint.config.js
  packages/create-svelte/shared/+eslint/.eslintignore
  packages/create-svelte/shared/+eslint/package.json
Labels: meta, pkg:create-svelte

#12110 fix: set the correct for the ESLint config ignores
  .changeset/chilly-wombats-roll.md
  packages/create-svelte/shared/+eslint+prettier+typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+prettier-typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+typescript/eslint.config.js
  packages/create-svelte/shared/+eslint-typescript/eslint.config.js
Labels: meta, pkg:create-svelte

#12117 fix: set peerDependencies based on chosen Svelte version
  .changeset/tall-goats-warn.md
  packages/create-svelte/shared/+skeletonlib+svelte5/package.json
Labels: bug, pkg:create-svelte, svelte 5
