Repository sveltejs/kit, pull requests merged in 2024-09, with the labels that each got.

#12513 fix: emulate `event.platform` during development even if route is undefined
  .changeset/shiny-suns-scream.md
  packages/kit/src/runtime/server/respond.js
Labels: adapters - general, pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#12653 fix: use render tag when generating a default fallback page
  .changeset/pretty-planets-deliver.md
  packages/kit/.prettierignore
  packages/kit/src/core/sync/create_manifest_data/index.js
  packages/kit/src/runtime/components/svelte-4/error.svelte
  packages/kit/src/runtime/components/svelte-4/layout.svelte
  packages/kit/src/runtime/components/svelte-5/error.svelte
  packages/kit/src/runtime/components/svelte-5/layout.svelte
Labels: svelte 5

#12655 docs: clarify load `parent()` behaviour
  documentation/docs/20-core-concepts/20-load.md
Labels: documentation

#12612 fix(package): use provided tsconfig when calling emitDts
  .changeset/nine-rings-pretend.md
  packages/package/package.json
  packages/package/src/index.js
  packages/package/src/typescript.js
  packages/package/test/fixtures/javascript/expected/Test.svelte.d.ts
  packages/package/test/fixtures/javascript/expected/Test2.svelte.d.ts
  packages/package/test/fixtures/javascript/expected/internal/Test.svelte.d.ts
  packages/package/test/fixtures/resolve-alias/expected/Test.svelte.d.ts
  packages/package/test/fixtures/svelte-3-types/tsconfig.json
  packages/package/test/fixtures/svelte-kit/expected/Test.svelte.d.ts
  packages/package/test/fixtures/typescript-esnext/expected/Plain.svelte.d.ts
  packages/package/test/fixtures/typescript-esnext/expected/Test.svelte.d.ts
  packages/package/test/fixtures/typescript-esnext/expected/Test2.svelte.d.ts
  packages/package/test/fixtures/typescript-esnext/tsconfig.json
  packages/package/test/fixtures/typescript-nodenext/expected/Test.svelte.d.ts
  packages/package/test/fixtures/typescript-nodenext/tsconfig.json
  packages/package/test/watch/expected/Test.svelte
  packages/package/test/watch/expected/Test.svelte.d.ts
  pnpm-lock.yaml
Labels: pkg:svelte-package

#12613 fix: asynchronously instantiate components when using Svelte 5
  .changeset/big-vans-destroy.md
  packages/kit/src/runtime/client/client.js
Labels: svelte 5

#12627 perf: hoist vite asset declarations to module block
  .changeset/friendly-wasps-return.md
  packages/enhanced-img/src/preprocessor.js
  packages/enhanced-img/test/Output.svelte
Labels: pkg:enhanced-img, svelte 5

#12673 fix: avoid duplicating width/height attributes
  .changeset/thirty-cups-sleep.md
  packages/enhanced-img/src/preprocessor.js
  packages/enhanced-img/test/Output.svelte
Labels: pkg:enhanced-img

#12675 chore: simplify output of hoisted declarations
  packages/enhanced-img/src/preprocessor.js
  packages/enhanced-img/test/Output.svelte
Labels: pkg:enhanced-img

#12641 fix: add `node:` prefix and import instead of using globals
  .changeset/smart-buttons-provide.md
  eslint.config.js
  packages/adapter-auto/adapters.js
  packages/adapter-auto/index.js
  packages/adapter-netlify/index.js
  packages/adapter-netlify/src/serverless.js
  packages/adapter-node/src/env.js
  packages/adapter-node/src/handler.js
  packages/adapter-node/src/index.js
  packages/adapter-static/platforms.js
  packages/adapter-static/test/utils.js
  packages/adapter-vercel/files/edge.js
  packages/adapter-vercel/files/serverless.js
  packages/adapter-vercel/index.js
  packages/create-svelte/bin.js
  packages/create-svelte/scripts/update-template-repo-contents.js
  packages/create-svelte/utils.js
  packages/enhanced-img/src/index.js
  packages/kit/postinstall.js
  packages/kit/scripts/cp.js
  packages/kit/src/cli.js
  packages/kit/src/core/config/index.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/core/sync/create_manifest_data/index.js
  packages/kit/src/core/sync/write_server.js
  packages/kit/src/core/sync/write_tsconfig.js
  packages/kit/src/core/sync/write_types/index.js
  packages/kit/src/core/utils.js
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/src/exports/vite/index.js
  packages/kit/src/utils/fork.js
  packages/kit/src/utils/import.js
  packages/kit/test/utils.js
  packages/migrate/bin.js
  packages/migrate/migrations/package/index.js
  packages/migrate/migrations/routes/index.js
  packages/migrate/migrations/self-closing-tags/index.js
  packages/migrate/migrations/svelte-4/index.js
  packages/migrate/migrations/sveltekit-2/index.js
  packages/migrate/utils.js
  packages/package/src/cli.js
  packages/package/src/config.js
  packages/package/test/index.js
Labels: pkg:adapter-node

#12693 chore: upgrade polka to 1.0.0-next.28
  .changeset/rotten-kangaroos-enjoy.md
  packages/adapter-node/package.json
  pnpm-lock.yaml
Labels: pkg:adapter-node

#11936 fix: allow native form submission for `<form target="_blank">` and `<button formtarget="_blank">`
  .changeset/great-cooks-hunt.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/routing/form-target-blank/+page.svelte
  packages/kit/test/apps/basics/test/cross-platform/client.test.js
Labels: forms

#11968 fix: better error message when calling push/replaceState before router is initialized
  .changeset/breezy-ravens-reply.md
  packages/kit/src/runtime/client/client.js
Labels: router

#12519 feat: add Svelte 5 migration
  .changeset/hip-kings-kiss.md
  packages/migrate/migrations/svelte-5/index.js
  packages/migrate/migrations/svelte-5/migrate.js
  packages/migrate/migrations/svelte-5/migrate.spec.js
  packages/migrate/utils.js
Labels: pkg:svelte-migrate, svelte 5
