Repository sveltejs/kit, pull requests merged in 2024-07, with the labels that each got.

#12427 chore: make build script runnable on Windows
  packages/adapter-netlify/package.json
Labels: pkg:adapter-netlify

#12426 chore: rename styles.css to app.css
  .changeset/neat-keys-join.md
  packages/create-svelte/templates/default/src/app.css
  packages/create-svelte/templates/default/src/routes/+layout.svelte
Labels: pkg:create-svelte

#12439 fix: copy `.eot`, `.otf`, `.ttf`, `.woff`, and `woff2` font files when bundling
  .changeset/silver-bears-melt.md
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare/index.js
  packages/adapter-netlify/index.js
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel, pkg:adapter-netlify, pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#12363 fix(enhanced-img): preserve ambient context for `*?enhanced` imports
  .changeset/afraid-llamas-build.md
  packages/enhanced-img/package.json
  packages/enhanced-img/types/ambient.d.ts
Labels: types / typescript, pkg:enhanced-img

#12453 fix: remove unnecessary `tslib` dependency
  .changeset/slow-beans-develop.md
  packages/create-svelte/shared/+typescript/package.json
  packages/create-svelte/templates/skeletonlib/package.template.json
Labels: pkg:create-svelte

#12075 fix: correctly match asset filenames if base path is set
  .changeset/dry-mirrors-shout.md
  packages/adapter-cloudflare-workers/files/entry.js
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare-workers/placeholders.d.ts
  packages/adapter-cloudflare/index.js
  packages/adapter-cloudflare/placeholders.d.ts
  packages/adapter-cloudflare/src/worker.js
Labels: pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#12199 feat: append prerendered redirects to `_redirects` file
  .changeset/ten-shirts-add.md
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare

#12496 chore: bump @types/eslint to v9
  .changeset/yellow-queens-shop.md
  eslint.config.js
  packages/create-svelte/shared/+eslint+prettier+typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+prettier-typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+typescript/eslint.config.js
  packages/create-svelte/shared/+eslint-typescript/eslint.config.js
  packages/create-svelte/shared/+eslint/package.json
Labels: types / typescript, pkg:create-svelte

#12528 chore: upgrade to typescript-eslint 8 final
  .changeset/tricky-beers-remember.md
  package.json
  packages/create-svelte/shared/+eslint+typescript/package.json
  pnpm-lock.yaml
Labels: pkg:create-svelte
