Repository sveltejs/kit, pull requests merged in 2024-06, with the labels that each got.

#12280 fix: remove `images` from route-level config
  .changeset/stupid-lies-remain.md
  packages/adapter-vercel/index.d.ts
  packages/adapter-vercel/index.js
  packages/adapter-vercel/tsconfig.json
Labels: pkg:adapter-vercel

#12302 docs: correct example of persist usage
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
Labels: documentation, pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#12153 feat: adapter-node shutdown event
  .changeset/cuddly-otters-repeat.md
  .changeset/gold-turkeys-pump.md
  documentation/docs/25-build-and-deploy/40-adapter-node.md
  packages/adapter-node/src/index.js
Labels: pkg:adapter-node

#12336 docs: overhual integrations page
  documentation/docs/60-appendix/20-integrations.md
Labels: documentation

#12337 chore: remove noisy output and update text about svelte-add
  .changeset/old-jars-work.md
  packages/create-svelte/bin.js
Labels: pkg:create-svelte

#12361 docs: add JS syntax highlighting for Vercel images config example
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
Labels: documentation, pkg:adapter-vercel

#12226 docs: note that the prerenderer can't crawl pages that have SSR disabled
  documentation/docs/20-core-concepts/40-page-options.md
Labels: documentation

#12071 docs: update requirements for generated types
  documentation/docs/50-reference/40-types.md
Labels: documentation

#12320 docs: replace `dotenv` with `--env-file`
  documentation/docs/25-build-and-deploy/40-adapter-node.md
Labels: documentation, pkg:adapter-node

#11935 docs: update pattern matcher type
  documentation/docs/30-advanced/10-advanced-routing.md
Labels: documentation

#12360 feat: throw error if routes are configured in _routes.json
  .changeset/angry-spies-rule.md
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare

#12290 docs: consider ctrl clicking an anchor
  documentation/docs/30-advanced/67-shallow-routing.md
Labels: documentation

#11680 feat: add unit suffix support for `BODY_SIZE_LIMIT`
  .changeset/great-hats-cough.md
  documentation/docs/25-build-and-deploy/40-adapter-node.md
  packages/adapter-node/src/handler.js
Labels: pkg:adapter-node

#12212 docs: add breakpoint debugging guide
  documentation/docs/60-appendix/25-debugging.md
Labels: documentation

#10691 docs: add information about "sideEffects"
  documentation/docs/30-advanced/70-packaging.md
Labels: documentation

#12371 docs: add `Other Editors` section to debugging documentation
  documentation/docs/60-appendix/25-debugging.md
Labels: documentation

#11720 docs: summarize behavior of routes files
  documentation/docs/20-core-concepts/10-routing.md
Labels: documentation

#12384 docs: typo for use:enhance update function
  packages/kit/src/runtime/app/forms.js
  packages/kit/types/index.d.ts
Labels: documentation

#12198 fix: add `Content-Type` header for `POST` requests made by `enhance`
  .changeset/hot-papayas-jam.md
  .changeset/strange-planets-fly.md
  packages/kit/src/runtime/app/forms.js
  packages/kit/test/apps/basics/src/routes/actions/enhance/+page.server.js
  packages/kit/test/apps/basics/src/routes/actions/enhance/+page.svelte
  packages/kit/test/apps/basics/test/test.js
Labels: forms
