Repository sveltejs/kit, pull requests merged in 2024-05, with the labels that each got.

#12175 fix: Continue traversing a non-self-closing element's children
  .changeset/smart-donkeys-destroy.md
  packages/migrate/migrations/self-closing-tags/migrate.js
  packages/migrate/migrations/self-closing-tags/migrate.spec.js
Labels: pkg:svelte-migrate

#12182 fix: configure Vite config `optimizeDeps.entries` option
  .changeset/stale-otters-yell.md
  packages/kit/src/exports/vite/index.js
  packages/kit/test/apps/dev-only/_test_dependencies/cjs-only/index.js
  packages/kit/test/apps/dev-only/_test_dependencies/cjs-only/package.json
  packages/kit/test/apps/dev-only/package.json
  packages/kit/test/apps/dev-only/src/hooks.client.js
  packages/kit/test/apps/dev-only/src/hooks.js
  packages/kit/test/apps/dev-only/src/routes/+page.svelte
  packages/kit/test/apps/dev-only/src/routes/optimize-deps/+error.svelte
  packages/kit/test/apps/dev-only/src/routes/optimize-deps/+layout.js
  packages/kit/test/apps/dev-only/src/routes/optimize-deps/+layout.server.js
  packages/kit/test/apps/dev-only/src/routes/optimize-deps/+layout.svelte
  packages/kit/test/apps/dev-only/src/routes/optimize-deps/+page.js
  packages/kit/test/apps/dev-only/src/routes/optimize-deps/+page.server.js
  packages/kit/test/apps/dev-only/src/routes/optimize-deps/+page.svelte
  packages/kit/test/apps/dev-only/src/routes/optimize-deps/+server.js
  packages/kit/test/apps/dev-only/test/test.js
  packages/kit/test/apps/dev-only/vite.config.js
  packages/kit/test/utils.js
  pnpm-lock.yaml
Labels: vite

#12223 docs: update link to vercel ISR page
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
Labels: documentation, pkg:adapter-vercel

#12186 feat: make TypeScript the default for apps
  .changeset/twelve-singers-bake.md
  packages/create-svelte/bin.js
Labels: pkg:create-svelte

#12224 fix: use correct type for '*?enhanced' imports
  .changeset/cool-grapes-remain.md
  packages/enhanced-img/types/ambient.d.ts
  packages/enhanced-img/types/index.d.ts
Labels: types / typescript, pkg:enhanced-img

#12238 docs: more details for using import.meta.glob with enhanced-img
  documentation/docs/40-best-practices/07-images.md
Labels: documentation, pkg:enhanced-img

#12261 fix: update default playwright test case for lib-project
  .changeset/sixty-dingos-invent.md
  packages/create-svelte/shared/+playwright+default/tests/test.ts
  packages/create-svelte/shared/+playwright+skeleton/tests/test.ts
  packages/create-svelte/shared/+playwright+skeletonlib/tests/test.ts
  packages/create-svelte/shared/+playwright/tests/test.ts
Labels: pkg:create-svelte

#12268 feat: upgrade eslint to v9
  .changeset/young-monkeys-learn.md
  .eslintrc.json
  eslint.config.js
  package.json
  packages/adapter-netlify/src/edge.js
  packages/create-svelte/shared/+eslint+prettier+typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+prettier+typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+prettier-typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+prettier-typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+svelte5/package.json
  packages/create-svelte/shared/+eslint+typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint+typescript/eslint.config.js
  packages/create-svelte/shared/+eslint+typescript/package.json
  packages/create-svelte/shared/+eslint-typescript/.eslintrc.cjs
  packages/create-svelte/shared/+eslint-typescript/eslint.config.js
  packages/create-svelte/shared/+eslint/.eslintignore
  packages/create-svelte/shared/+eslint/package.json
  packages/enhanced-img/src/preprocessor.js
  packages/kit/src/core/config/options.js
  packages/kit/src/exports/vite/index.js
  packages/kit/src/runtime/app/stores.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/server/data/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/runtime/server/respond.js
  packages/kit/test/apps/basics/src/routes/load/fetch-cache-control/load-data/+server.js
  packages/migrate/migrations/self-closing-tags/index.js
  packages/package/src/typescript.js
  pnpm-lock.yaml
Labels: pkg:create-svelte

#12274 chore(deps): upgrade to `@vercel/nft` version 0.27.1
  .changeset/small-pugs-dance.md
  packages/adapter-vercel/package.json
  pnpm-lock.yaml
Labels: pkg:adapter-vercel
