Repository sveltejs/kit, pull requests merged in 2024-12, with the labels that each got.

#13082 chore: upgrade @vercel/nft to 0.27.7
  .changeset/few-lamps-work.md
  packages/adapter-vercel/package.json
  pnpm-lock.yaml
Labels: pkg:adapter-vercel

#13099 fix: correctly match route groups preceding optional parameters
  .changeset/fifty-cars-lie.md
  packages/kit/src/core/sync/create_manifest_data/index.spec.js
  packages/kit/src/core/sync/create_manifest_data/sort.js
  packages/kit/src/core/sync/create_manifest_data/test/samples/optional-group/[[optional]]/(group)/+page.svelte
Labels: router

#13035 perf: directly inline values since Svelte no longer inlines
  .changeset/wild-flies-run.md
  packages/enhanced-img/src/preprocessor.js
  packages/enhanced-img/test/Output.svelte
Labels: pkg:enhanced-img

#13126 feat: set intrinsic width and height for SVGs
  .changeset/tricky-squids-provide.md
  packages/enhanced-img/package.json
  packages/enhanced-img/src/preprocessor.js
  packages/enhanced-img/test/Input.svelte
  packages/enhanced-img/test/Output.svelte
  packages/enhanced-img/test/preprocessor.spec.js
  playgrounds/basic/package.json
  playgrounds/basic/src/routes/+page.svelte
  playgrounds/basic/src/routes/about/+page.svelte
  playgrounds/basic/src/routes/images/+page.svelte
  playgrounds/basic/src/routes/images/state-of-js-chart.png
  playgrounds/basic/src/routes/images/svelte-logo.svg
  playgrounds/basic/vite.config.js
  pnpm-lock.yaml
Labels: feature / enhancement

#13133 docs: reword `beforeNavigate` description so that it includes navigations to the same URL
  packages/kit/src/runtime/client/client.js
  packages/kit/types/index.d.ts
Labels: documentation

#13103 feat: server and client `init` hook
  .changeset/eight-poems-learn.md
  documentation/docs/30-advanced/20-hooks.md
  packages/kit/src/core/sync/write_client_manifest.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/server/index.js
  packages/kit/src/types/internal.d.ts
  packages/kit/test/apps/basics/src/hooks.client.js
  packages/kit/test/apps/basics/src/hooks.server.js
  packages/kit/test/apps/basics/src/routes/init-hooks/+page.server.ts
  packages/kit/test/apps/basics/src/routes/init-hooks/+page.svelte
  packages/kit/test/apps/basics/src/routes/init-hooks/navigate/+page.svelte
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/test/apps/basics/test/server.test.js
  packages/kit/types/index.d.ts
Labels: feature / enhancement

#13146 chore: update node-adapter listening address
  .changeset/angry-pumas-develop.md
  packages/adapter-node/src/index.js
Labels: pkg:adapter-node

#13148 Support wrangler.json configuration file in adapter-cloudflare-workers
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
  packages/adapter-cloudflare-workers/index.js
Labels: pkg:adapter-cloudflare-workers

#13151 chore: forgot to add changeset
  .changeset/flat-onions-speak.md
Labels: pkg:adapter-cloudflare-workers

#13152 docs: explain that `+layout` files do not affect `+server.js`
  documentation/docs/20-core-concepts/10-routing.md
Labels: documentation

#13143 fix: adhere to Vite `build.minify` setting when building service worker
  .changeset/rotten-cheetahs-complain.md
  packages/kit/src/exports/vite/build/build_service_worker.js
  packages/kit/src/exports/vite/index.js
Labels: service worker

#13109 feat: generate `.assetsignore` file for Cloudflare deployment
  .changeset/proud-taxis-admire.md
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#13173 feat: add `bundleStrategy` option
  .changeset/beige-carpets-wave.md
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/config/options.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/exports/vite/build/build_server.js
  packages/kit/src/exports/vite/index.js
  packages/kit/src/runtime/client/bundle.js
  packages/kit/src/runtime/client/client.js
  packages/kit/src/runtime/client/types.d.ts
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/types/internal.d.ts
  packages/kit/test/apps/options-2/src/routes/+page.svelte
  packages/kit/test/apps/options-2/src/routes/deeply/nested/page/+page.svelte
  packages/kit/test/apps/options-2/src/routes/hello/+page.svelte
  packages/kit/test/apps/options-2/svelte.config.js
  packages/kit/test/apps/options-2/test/test.js
  packages/kit/types/index.d.ts
Labels: feature / enhancement

#13228 docs: don't advise to use loading="eager" on images because it's already the default
  documentation/docs/40-best-practices/07-images.md
Labels: documentation

#13132 feat: remove esbuild step
  .changeset/famous-rules-lick.md
  packages/adapter-cloudflare/index.js
  packages/adapter-cloudflare/package.json
  pnpm-lock.yaml
Labels: breaking change, pkg:adapter-cloudflare
