Repository sveltejs/kit, pull requests merged in 2024-03, with the labels that each got.

#11698 feat: support specifying the tsconfig in svelte-package
  .changeset/clean-dots-switch.md
  documentation/docs/30-advanced/70-packaging.md
  packages/package/src/cli.js
  packages/package/src/index.js
  packages/package/src/types.d.ts
  packages/package/src/typescript.js
  packages/package/test/fixtures/tsconfig-specified/expected/runes.svelte.d.ts
  packages/package/test/fixtures/tsconfig-specified/expected/runes.svelte.js
  packages/package/test/fixtures/tsconfig-specified/package.json
  packages/package/test/fixtures/tsconfig-specified/src/lib/runes.svelte.ts
  packages/package/test/fixtures/tsconfig-specified/svelte.config.js
  packages/package/test/fixtures/tsconfig-specified/tsconfig.build.json
  packages/package/test/fixtures/tsconfig-specified/tsconfig.json
  packages/package/test/index.js
Labels: pkg:svelte-package

#11945 breaking: precompress by default
  .changeset/strong-rocks-perform.md
  documentation/docs/25-build-and-deploy/40-adapter-node.md
  packages/adapter-node/index.js
Labels: pkg:adapter-node, breaking change

#11653 feat: graceful shutdown and systemd socket activation in adapter-node
  .changeset/early-peas-listen.md
  .changeset/stale-donkeys-mix.md
  documentation/docs/25-build-and-deploy/40-adapter-node.md
  packages/adapter-node/src/env.js
  packages/adapter-node/src/index.js
Labels: pkg:adapter-node, breaking change

#11957 docs: describe how to compress adapter-node responses
  documentation/docs/25-build-and-deploy/40-adapter-node.md
Labels: documentation, pkg:adapter-node

#11732 feat: implement `adapter.emulate`
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare-workers/package.json
  packages/adapter-cloudflare/ambient.d.ts
  packages/adapter-cloudflare/index.js
  packages/adapter-cloudflare/package.json
  pnpm-lock.yaml
Labels: pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#11974 chore: docs and changeset for #11732
  .changeset/lucky-chefs-sleep.md
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
Labels: documentation, pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#11837 docs: show how options are passed on `adapter-vercel` page
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
Labels: documentation, pkg:adapter-vercel

#11788 fix: truncated comment when running create-svelte
  .changeset/sweet-weeks-pretend.md
  packages/create-svelte/shared/+checkjs/jsconfig.json
  packages/create-svelte/shared/+typescript/tsconfig.json
Labels: documentation, pkg:create-svelte

#11792 docs: revise documentation for best image practices
  documentation/docs/40-best-practices/07-images.md
Labels: documentation, pkg:enhanced-img

#11800 feat: add framework metadata in Vercel build output files
  .changeset/hot-clocks-unite.md
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel

#11992 docs: specify emulated bindings are local-only
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
Labels: documentation, pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#11987 feat: implement skew protection
  .changeset/slow-drinks-burn.md
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
  packages/adapter-vercel/files/edge.js
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel

#12019 docs: correct mistake on database setup guide
  documentation/docs/60-appendix/10-faq.md
Labels: documentation

#12033 docs: fix custom server link in adapter-node compressing responses section
  documentation/docs/25-build-and-deploy/40-adapter-node.md
Labels: documentation

#12015 feat: support Google Cloud in adapter-auto
  .changeset/young-dolls-exist.md
  documentation/docs/25-build-and-deploy/30-adapter-auto.md
  packages/adapter-auto/adapters.js
Labels: pkg:adapter-auto

#12055 chore(deps): upgrade vite-imagetools to v7
  .changeset/weak-seas-approve.md
  documentation/docs/40-best-practices/07-images.md
  packages/enhanced-img/package.json
  pnpm-lock.yaml
Labels: pkg:enhanced-img

#12058 docs: highlight that enhanced-img only works with local files
  documentation/docs/40-best-practices/07-images.md
Labels: documentation, pkg:enhanced-img
