Repository sveltejs/kit, pull requests merged in 2025-08, with the labels that each got.

#14101 docs: corrections
  .changeset/light-facts-hope.md
  documentation/docs/20-core-concepts/20-load.md
  documentation/docs/20-core-concepts/60-remote-functions.md
  documentation/docs/60-appendix/30-migrating-to-sveltekit-2.md
  packages/kit/src/core/generate_manifest/index.js
  packages/kit/src/runtime/server/page/render.js
  packages/kit/src/types/internal.d.ts
  packages/kit/types/index.d.ts
Labels: documentation

#14097 docs: add missing `await` to remote query
  documentation/docs/20-core-concepts/60-remote-functions.md
Labels: documentation

#14090 docs: correct .refresh() example
  documentation/docs/20-core-concepts/60-remote-functions.md
Labels: documentation

#14085 docs: mention `read` works in edge environments
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/80-adapter-netlify.md
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
Labels: documentation

#12355 fix: use correct cache result when fetching same url multiple times
  .changeset/seven-gorillas-protect.md
  packages/kit/src/runtime/client/fetcher.js
  packages/kit/test/apps/basics/src/routes/load/fetch-same-url/+page.js
  packages/kit/test/apps/basics/src/routes/load/fetch-same-url/+page.svelte
  packages/kit/test/apps/basics/src/routes/load/fetch-same-url/data.json/+server.js
  packages/kit/test/apps/basics/test/client.test.js
Labels: bug, needs-decision

#14183 docs: switch to https link
  documentation/docs/25-build-and-deploy/40-adapter-node.md
Labels: documentation

#13639 docs: update `navigation` descriptions
  packages/kit/src/exports/public.d.ts
  packages/kit/types/index.d.ts
Labels: documentation

#11154 fix: Fallback to Host header when the custom HOST_HEADER is not in the request
  .changeset/spotty-yaks-lie.md
  packages/adapter-node/src/handler.js
Labels: pkg:adapter-node

#14233 fix: conditionally access builder properties that only exist on the latest SvelteKit
  .changeset/pretty-fans-peel.md
  packages/adapter-auto/index.js
  packages/adapter-auto/tsconfig.json
  packages/adapter-cloudflare/index.js
  packages/adapter-cloudflare/src/worker.js
  packages/adapter-cloudflare/tsconfig.json
  packages/adapter-netlify/index.js
  packages/adapter-netlify/src/serverless.js
  packages/adapter-netlify/tsconfig.json
  packages/adapter-node/index.js
  packages/adapter-node/src/handler.js
  packages/adapter-node/tsconfig.json
  packages/adapter-static/index.js
  packages/adapter-static/internal.d.ts
  packages/adapter-static/platforms.js
  packages/adapter-static/tsconfig.json
  packages/adapter-vercel/index.js
  packages/adapter-vercel/tsconfig.json
Labels: pkg:adapter-vercel, pkg:adapter-node, pkg:adapter-netlify, pkg:adapter-cloudflare

#14228 docs: expand on async Svelte in Remote Functions
  documentation/docs/20-core-concepts/60-remote-functions.md
Labels: documentation

#14214 fix: don't exclude remote functions when deploying to Netlify edge functions
  .changeset/dirty-rats-switch.md
  packages/adapter-netlify/index.js
Labels: pkg:adapter-netlify

#14147 fix: bypass deployment protection for `read` when fetching files in an edge function
  .changeset/early-lions-occur.md
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
  packages/adapter-vercel/files/edge.js
Labels: pkg:adapter-vercel

#11637 docs: further clarify and reinforce the performance impacts of single page apps (SPAs)
  documentation/docs/25-build-and-deploy/50-adapter-static.md
  documentation/docs/25-build-and-deploy/55-single-page-apps.md
  documentation/docs/40-best-practices/05-performance.md
  documentation/docs/40-best-practices/20-seo.md
  documentation/docs/60-appendix/60-glossary.md
Labels: documentation

#13055 feat(package): add --preserve-output flag
  .changeset/mean-ladybugs-sparkle.md
  documentation/docs/30-advanced/70-packaging.md
  packages/package/src/cli.js
  packages/package/src/index.js
  packages/package/src/types.d.ts
  packages/package/test/fixtures/preserve-output/expected/assets/theme.css
  packages/package/test/fixtures/preserve-output/expected/index.d.ts
  packages/package/test/fixtures/preserve-output/expected/index.js
  packages/package/test/fixtures/preserve-output/package.json
  packages/package/test/fixtures/preserve-output/src/lib/index.ts
  packages/package/test/fixtures/preserve-output/tsconfig.json
  packages/package/test/index.spec.js
Labels: feature / enhancement, pkg:svelte-package
