Repository sveltejs/kit, pull requests merged in 2025-06, with the labels that each got.

#13850 fix: handle non-semver-style dependency versions
  .changeset/smooth-trains-applaude.md
  packages/package/src/typescript.js
Labels: pkg:svelte-package

#10856 fix: hash link to new page focuses the correct element
  .changeset/big-pants-peel.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/routing/focus/+page.svelte
  packages/kit/test/apps/basics/src/routes/routing/focus/a/+page.svelte
  packages/kit/test/apps/basics/test/cross-platform/client.test.js
Labels: router

#13870 docs: correct link to locals
  documentation/docs/40-best-practices/03-auth.md
Labels: documentation

#13893 chore: Correct transport docs
  documentation/docs/30-advanced/20-hooks.md
Labels: documentation

#13936 chore: split out pre-1.0 changesets into separate changelog
  packages/kit/CHANGELOG-pre-1.md
  packages/kit/CHANGELOG.md
Labels: documentation

#13856 fix: deprecate cloudflare platform.context in favor for platform.ctx
  .changeset/moody-baboons-drum.md
  .prettierrc
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
  packages/adapter-cloudflare/ambient.d.ts
  packages/adapter-cloudflare/index.js
  packages/adapter-cloudflare/src/worker.js
  packages/adapter-cloudflare/test/apps/pages/src/routes/+page.server.js
  packages/adapter-cloudflare/test/apps/pages/test/test.js
  packages/adapter-cloudflare/test/apps/workers/package.json
  packages/adapter-cloudflare/test/apps/workers/src/app.d.ts
  packages/adapter-cloudflare/test/apps/workers/src/routes/+page.server.js
  packages/adapter-cloudflare/test/apps/workers/src/routes/ctx/+server.js
  packages/adapter-cloudflare/test/apps/workers/test/test.js
  packages/adapter-cloudflare/test/utils.js
  packages/kit/test/apps/amp/package.json
  packages/kit/test/apps/basics/package.json
  packages/kit/test/apps/dev-only/package.json
  packages/kit/test/apps/embed/package.json
  packages/kit/test/apps/hash-based-routing/package.json
  packages/kit/test/apps/no-ssr/package.json
  packages/kit/test/apps/options-2/package.json
  packages/kit/test/apps/options/package.json
  packages/kit/test/apps/prerendered-app-error-pages/package.json
  packages/kit/test/apps/writes/package.json
  packages/kit/test/build-errors/apps/private-static-env/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg:adapter-cloudflare

#13945 docs: fix syntax highlighting for shell commands
  documentation/docs/10-getting-started/30-project-structure.md
  documentation/docs/25-build-and-deploy/40-adapter-node.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
  documentation/docs/30-advanced/70-packaging.md
  documentation/docs/60-appendix/10-faq.md
Labels: documentation
