Repository sveltejs/kit, pull requests merged in 2025-03, with the labels that each got.

#13437 chore: add test for parsing body size limit
  eslint.config.js
  packages/adapter-node/package.json
  packages/adapter-node/src/handler.js
  packages/adapter-node/tests/smoke.spec_disabled.js
  packages/adapter-node/tests/utils.spec.js
  packages/adapter-node/tsconfig.json
  packages/adapter-node/utils.js
Labels: pkg:adapter-node

#13492 fix: correct hash routing behavior
  .changeset/angry-peaches-beam.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/hash-based-routing/src/routes/+layout.svelte
  packages/kit/test/apps/hash-based-routing/test/test.js
Labels: router, needs-decision

#13541 docs: add `@since` annotation for the `normalizeUrl` helper
  packages/kit/src/exports/index.js
  packages/kit/types/index.d.ts
Labels: documentation

#13542 chore: fix types for universal and server fields
  packages/kit/src/runtime/server/page/actions.js
  packages/kit/src/types/internal.d.ts
  packages/kit/src/utils/options.js
  packages/kit/types/index.d.ts
Labels: types / typescript

#13444 docs: add new project types page
  documentation/docs/10-getting-started/10-introduction.md
  documentation/docs/10-getting-started/25-project-types.md
  documentation/docs/30-advanced/40-service-workers.md
  documentation/docs/60-appendix/10-faq.md
  documentation/docs/60-appendix/60-glossary.md
Labels: documentation

#13563 docs: update `package.json` import
  documentation/docs/60-appendix/10-faq.md
Labels: documentation

#13544 docs: fix links to point to docs rather than source
  documentation/docs/20-core-concepts/40-page-options.md
  documentation/docs/60-appendix/40-migrating.md
Labels: documentation

#13562 docs: add type to request handler
  documentation/docs/20-core-concepts/10-routing.md
Labels: documentation

#13581 docs: explain why route id can be null
  packages/kit/src/exports/public.d.ts
  packages/kit/types/index.d.ts
Labels: documentation

#13560 docs: fix naming in 60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
Labels: documentation

#13582 feat: add `getRequestEvent` to `$app/server`
  .changeset/red-jokes-ring.md
  documentation/docs/20-core-concepts/20-load.md
  packages/kit/src/runtime/app/server/event.js
  packages/kit/src/runtime/app/server/index.js
  packages/kit/src/runtime/server/endpoint.js
  packages/kit/src/runtime/server/page/actions.js
  packages/kit/src/runtime/server/page/load_data.js
  packages/kit/src/runtime/server/respond.js
  packages/kit/test/apps/basics/src/app.d.ts
  packages/kit/test/apps/basics/src/hooks.server.js
  packages/kit/test/apps/basics/src/routes/get-request-event/+page.svelte
  packages/kit/test/apps/basics/src/routes/get-request-event/endpoint/+server.js
  packages/kit/test/apps/basics/src/routes/get-request-event/with-message/+page.server.ts
  packages/kit/test/apps/basics/src/routes/get-request-event/with-message/+page.svelte
  packages/kit/test/apps/basics/test/server.test.js
  packages/kit/test/apps/basics/test/test.js
  packages/kit/types/index.d.ts
  playgrounds/basic/src/routes/request-event/+page.server.ts
  playgrounds/basic/src/routes/request-event/+page.svelte
Labels: feature / enhancement

#13227 fix: copy `_headers` and `_redirects` from project root instead of `/static`
  .changeset/afraid-rules-fold.md
  .changeset/few-apricots-study.md
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/80-adapter-netlify.md
  packages/adapter-cloudflare/index.js
  packages/adapter-netlify/index.js
Labels: breaking change, pkg:adapter-cloudflare

#13615 feat: update Cloudflare and Netlify adapter major versions
  .changeset/shaggy-rats-laugh.md
  packages/adapter-auto/adapters.js
Labels: pkg:adapter-auto

#13622 fix: revert writing server files to the cloudflare build directory
  .changeset/silent-tables-raise.md
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare

#13593 fix: only call `afterNavigate` once on start when SSR is disabled
  .changeset/angry-ravens-eat.md
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/no-ssr/after-navigate/+page.svelte
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/test/apps/basics/test/cross-platform/client.test.js
  packages/kit/types/index.d.ts
Labels: router

#13555 docs: flesh out icons section and make standalone page
  documentation/docs/40-best-practices/06-icons.md
  documentation/docs/40-best-practices/07-images.md
Labels: documentation
