Repository sveltejs/kit, pull requests merged in 2025-04, with the labels that each got.

#13634 feat: deprecate `adapter-cloudflare-workers` in favour of `adapter-cloudflare`
  .changeset/kind-carrots-deliver.md
  README.md
  documentation/docs/25-build-and-deploy/20-adapters.md
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
  eslint.config.js
  packages/adapter-cloudflare-workers/CHANGELOG.md
  packages/adapter-cloudflare-workers/README.md
  packages/adapter-cloudflare-workers/ambient.d.ts
  packages/adapter-cloudflare-workers/files/_package.json
  packages/adapter-cloudflare-workers/files/entry.js
  packages/adapter-cloudflare-workers/index.d.ts
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare-workers/internal.d.ts
  packages/adapter-cloudflare-workers/package.json
  packages/adapter-cloudflare-workers/tsconfig.json
  packages/adapter-cloudflare/README.md
  packages/adapter-cloudflare/ambient.d.ts
  packages/adapter-cloudflare/index.d.ts
  packages/adapter-cloudflare/index.js
  packages/adapter-cloudflare/package.json
  packages/adapter-cloudflare/src/worker.js
  packages/adapter-cloudflare/test/apps/pages/.gitignore
  packages/adapter-cloudflare/test/apps/pages/package.json
  packages/adapter-cloudflare/test/apps/pages/playwright.config.js
  packages/adapter-cloudflare/test/apps/pages/server-side-dep/index.d.ts
  packages/adapter-cloudflare/test/apps/pages/server-side-dep/index.js
  packages/adapter-cloudflare/test/apps/pages/server-side-dep/package.json
  packages/adapter-cloudflare/test/apps/pages/src/app.html
  packages/adapter-cloudflare/test/apps/pages/src/routes/+page.server.js
  packages/adapter-cloudflare/test/apps/pages/src/routes/+page.svelte
  packages/adapter-cloudflare/test/apps/pages/svelte.config.js
  packages/adapter-cloudflare/test/apps/pages/test/test.js
  packages/adapter-cloudflare/test/apps/pages/tsconfig.json
  packages/adapter-cloudflare/test/apps/pages/vite.config.js
  packages/adapter-cloudflare/test/apps/workers/.gitignore
  packages/adapter-cloudflare/test/apps/workers/package.json
  packages/adapter-cloudflare/test/apps/workers/playwright.config.js
  packages/adapter-cloudflare/test/apps/workers/server-side-dep/index.d.ts
  packages/adapter-cloudflare/test/apps/workers/server-side-dep/index.js
  packages/adapter-cloudflare/test/apps/workers/server-side-dep/package.json
  packages/adapter-cloudflare/test/apps/workers/src/app.html
  packages/adapter-cloudflare/test/apps/workers/src/routes/+page.server.js
  packages/adapter-cloudflare/test/apps/workers/src/routes/+page.svelte
  packages/adapter-cloudflare/test/apps/workers/svelte.config.js
  packages/adapter-cloudflare/test/apps/workers/test/test.js
  packages/adapter-cloudflare/test/apps/workers/tsconfig.json
  packages/adapter-cloudflare/test/apps/workers/vite.config.js
  packages/adapter-cloudflare/test/apps/workers/wrangler.jsonc
  packages/adapter-cloudflare/test/utils.js
  packages/adapter-cloudflare/tsconfig.json
  playgrounds/basic/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#13660 docs: avoid using titles that have `_` in them
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
Labels: documentation, pkg:adapter-cloudflare

#13671 fix: correctly resolve paths provided through Wrangler config on Windows
  .changeset/bright-houses-kick.md
  .changeset/gentle-parrots-clap.md
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare

#13691 fix: handle missing package.json gracefully
  .changeset/red-pugs-smell.md
  packages/package/src/config.js
  packages/package/src/validate.js
Labels: pkg:svelte-package

#13720 feat: use edge-light condition when building for Vercel Edge Runtime
  .changeset/silly-ears-visit.md
  packages/adapter-vercel/index.js
Labels: pkg:adapter-vercel

#13727 Update reroute async example
  documentation/docs/30-advanced/20-hooks.md
Labels: documentation

#13725 docs: change "Cloudflare Pages" title to just "Cloudflare"
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
Labels: documentation, pkg:adapter-cloudflare
