Repository sveltejs/kit, pull requests merged in 2025-07, with the labels that each got.

#13964 chore: replace `@ts-expect-error` with `@ts-ignore` so it doesn't error when `rolldown-vite` is installed
  packages/kit/src/exports/vite/build/build_service_worker.js
  packages/kit/src/exports/vite/index.js
Labels: vite

#13965 chore: replace "pnpm test" with "pnpm test:kit" in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#13982 fix: extend Svelte Config type
  .changeset/mean-horses-divide.md
  packages/kit/src/exports/public.d.ts
  packages/kit/types/index.d.ts
Labels: types / typescript

#13935 feat: Support svelte.config.ts
  .changeset/twenty-pants-fetch.md
  .github/workflows/ci.yml
  eslint.config.js
  packages/kit/src/cli.js
  packages/kit/src/core/config/fixtures/multiple/svelte.config.js
  packages/kit/src/core/config/fixtures/multiple/svelte.config.ts
  packages/kit/src/core/config/fixtures/typescript/svelte.config.ts
  packages/kit/src/core/config/index.js
  packages/kit/src/core/config/index.spec.js
  packages/kit/src/core/sync/create_manifest_data/index.js
  packages/kit/src/exports/public.d.ts
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/types/index.d.ts
  packages/package/src/config.js
  packages/package/test/fixtures/typescript-svelte-config/expected/Test.svelte
  packages/package/test/fixtures/typescript-svelte-config/expected/Test.svelte.d.ts
  packages/package/test/fixtures/typescript-svelte-config/expected/index.d.ts
  packages/package/test/fixtures/typescript-svelte-config/expected/index.js
  packages/package/test/fixtures/typescript-svelte-config/expected/runes.svelte.d.ts
  packages/package/test/fixtures/typescript-svelte-config/expected/runes.svelte.js
  packages/package/test/fixtures/typescript-svelte-config/package.json
  packages/package/test/fixtures/typescript-svelte-config/src/lib/Test.svelte
  packages/package/test/fixtures/typescript-svelte-config/src/lib/index.ts
  packages/package/test/fixtures/typescript-svelte-config/src/lib/runes.svelte.ts
  packages/package/test/fixtures/typescript-svelte-config/svelte.config.ts
  packages/package/test/fixtures/typescript-svelte-config/tsconfig.json
  packages/package/test/index.js
Labels: feature / enhancement

#13941 fix: regression with `rolldown-vite` and single JS bundle apps
  .changeset/sharp-experts-unite.md
  packages/kit/src/exports/vite/build/build_service_worker.js
  packages/kit/src/exports/vite/index.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: vite

#13967 refactor: enhanced-img with v-p-s6 preprocessor support
  .changeset/rude-jeans-yell.md
  packages/enhanced-img/package.json
  packages/enhanced-img/src/vite-plugin.js
  packages/enhanced-img/test/markup-plugin.spec.js
Labels: pkg:enhanced-img

#13859 feat: add support for read in edge environments
  .changeset/moody-birds-help.md
  .changeset/old-moons-lick.md
  .changeset/weak-pillows-doubt.md
  eslint.config.js
  package.json
  packages/adapter-cloudflare/index.js
  packages/adapter-cloudflare/package.json
  packages/adapter-cloudflare/src/worker.js
  packages/adapter-cloudflare/test/apps/workers/src/routes/read/+server.js
  packages/adapter-cloudflare/test/apps/workers/src/routes/read/file.txt
  packages/adapter-cloudflare/test/apps/workers/test/test.js
  packages/adapter-netlify/index.js
  packages/adapter-netlify/package.json
  packages/adapter-netlify/rollup.config.js
  packages/adapter-netlify/src/edge.js
  packages/adapter-netlify/test/apps/basic/.gitignore
  packages/adapter-netlify/test/apps/basic/netlify.toml
  packages/adapter-netlify/test/apps/basic/package.json
  packages/adapter-netlify/test/apps/basic/playwright.config.js
  packages/adapter-netlify/test/apps/basic/src/app.html
  packages/adapter-netlify/test/apps/basic/src/routes/read/+server.js
  packages/adapter-netlify/test/apps/basic/src/routes/read/file.txt
  packages/adapter-netlify/test/apps/basic/svelte.config.js
  packages/adapter-netlify/test/apps/basic/test/test.js
  packages/adapter-netlify/test/apps/basic/tsconfig.json
  packages/adapter-netlify/test/apps/basic/vite.config.ts
  packages/adapter-netlify/test/apps/edge/.gitignore
  packages/adapter-netlify/test/apps/edge/netlify.toml
  packages/adapter-netlify/test/apps/edge/package.json
  packages/adapter-netlify/test/apps/edge/playwright.config.js
  packages/adapter-netlify/test/apps/edge/src/app.html
  packages/adapter-netlify/test/apps/edge/src/routes/read/+server.js
  packages/adapter-netlify/test/apps/edge/src/routes/read/file.txt
  packages/adapter-netlify/test/apps/edge/svelte.config.js
  packages/adapter-netlify/test/apps/edge/test/test.js
  packages/adapter-netlify/test/apps/edge/tsconfig.json
  packages/adapter-netlify/test/apps/edge/vite.config.ts
  packages/adapter-netlify/test/utils.js
  packages/adapter-netlify/tsconfig.json
  packages/adapter-node/package.json
  packages/adapter-node/rollup.config.js
  packages/adapter-vercel/files/edge.js
  packages/adapter-vercel/files/serverless.js
  packages/adapter-vercel/index.js
  packages/adapter-vercel/tsconfig.json
  packages/amp/package.json
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/server/index.js
  packages/kit/src/version.js
  packages/kit/types/index.d.ts
  packages/package/src/filesystem.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: adapters - general, pkg:adapter-vercel, pkg:adapter-netlify, pkg:adapter-cloudflare

#14019 fix: support assets-only workers in wrangler validation
  .changeset/warm-rats-say.md
  packages/adapter-cloudflare/index.js
  packages/adapter-cloudflare/utils.js
  packages/adapter-cloudflare/utils.spec.js
Labels: pkg:adapter-cloudflare
