Repository sveltejs/kit, pull requests merged in 2025-02, with the labels that each got.

#13406 docs: remove mention of non-existent `publicModule` option
  documentation/docs/60-appendix/30-migrating-to-sveltekit-2.md
Labels: documentation

#13420 fix: form action submit function callback return type
  .changeset/clean-dancers-type.md
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/app/forms.js
  packages/kit/test/apps/basics/src/routes/actions/enhance/+page.svelte
  packages/kit/types/index.d.ts
Labels: types / typescript

#13450 docs: improve FAQ navbar
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
  documentation/docs/60-appendix/10-faq.md
  documentation/docs/60-appendix/20-integrations.md
Labels: documentation

#13483 docs: fix endpoint filename, types
  documentation/docs/98-reference/54-types.md
Labels: documentation

#13467 feat: implements .jsonc support to adapter-cloudflare-workers
  .changeset/strong-ravens-film.md
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
  package.json
  packages/adapter-cloudflare-workers/index.d.ts
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare-workers/package.json
  pnpm-lock.yaml
Labels: pkg:adapter-cloudflare-workers
