Repository sveltejs/kit, pull requests merged in 2025-01, with the labels that each got.

#13258 docs: note that universal page and layout files still run on the server when `ssr = false`
  documentation/docs/20-core-concepts/40-page-options.md
Labels: documentation

#13242 docs: reword `afterNavigate` description so that it includes navigations to the same URL
  packages/kit/src/runtime/client/client.js
  packages/kit/types/index.d.ts
Labels: documentation

#13286 fix: make param matcher generated type import with a `.js` extension
  .changeset/slimy-cows-listen.md
  packages/kit/src/core/sync/write_types/index.js
Labels: types / typescript

#13294 docs: clarify how to inline assets
  packages/kit/src/exports/public.d.ts
  packages/kit/types/index.d.ts
Labels: documentation

#13153 docs: mention the `building` variable to execute non-prerenderable code in server handle
  documentation/docs/30-advanced/20-hooks.md
Labels: documentation

#12005 fix: handle redirect thrown from root layout load when client-side navigating to a non-existent page
  .changeset/silver-schools-battle.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/no-ssr/src/routes/+layout.js
  packages/kit/test/apps/no-ssr/src/routes/+page.svelte
  packages/kit/test/apps/no-ssr/test/test.js
Labels: router

#12830 fix: prevent vitest from hanging
  .changeset/six-goats-ring.md
  packages/adapter-cloudflare-workers/index.js
  packages/adapter-cloudflare/index.js
Labels: pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#11731 chore: flesh out cloudflare bindings docs
  documentation/docs/25-build-and-deploy/60-adapter-cloudflare.md
  documentation/docs/25-build-and-deploy/70-adapter-cloudflare-workers.md
Labels: documentation, types / typescript, pkg:adapter-cloudflare-workers, pkg:adapter-cloudflare

#12157 fix: remove ":$" from virtual module ids to allow dev server to work with proxies
  .changeset/eleven-colts-relax.md
  packages/kit/src/exports/vite/build/build_service_worker.js
  packages/kit/src/exports/vite/graph_analysis/index.js
  packages/kit/src/exports/vite/graph_analysis/index.spec.js
  packages/kit/src/exports/vite/index.js
  packages/kit/src/exports/vite/module_ids.js
  packages/kit/src/exports/vite/utils.js
Labels: vite

#12925 fix: fix `popState` race-condition when not using SSR
  .changeset/angry-months-speak.md
  packages/kit/src/runtime/client/client.js
Labels: needs-decision

#12030 docs: Add some helpful notes for Incremental Static Regeneration
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
Labels: documentation, pkg:adapter-vercel

#13022 docs: add options for enhance update
  packages/kit/src/runtime/app/forms.js
  packages/kit/types/index.d.ts
Labels: documentation

#13308 feat: provide PageProps, LayoutProps types
  .changeset/ten-onions-talk.md
  documentation/docs/20-core-concepts/10-routing.md
  documentation/docs/20-core-concepts/20-load.md
  documentation/docs/20-core-concepts/30-form-actions.md
  documentation/docs/20-core-concepts/50-state-management.md
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
  documentation/docs/98-reference/54-types.md
  packages/kit/src/core/sync/write_types/index.js
Labels: types / typescript

#12955 fix: use arrow function types over bound functions
  .changeset/wet-dancers-kneel.md
  packages/kit/src/exports/public.d.ts
  packages/kit/src/runtime/server/cookie.js
  packages/kit/types/index.d.ts
Labels: types / typescript

#12577 fix: service worker base path in dev mode
  .changeset/nice-geese-serve.md
  packages/kit/src/exports/vite/dev/index.js
  packages/kit/test/apps/options-2/test/test.js
Labels: service worker, paths.base

#13301 docs: added most common status codes to redirect() doc
  .changeset/quick-crabs-camp.md
  packages/kit/src/exports/index.js
  packages/kit/types/index.d.ts
Labels: documentation

#13256 feat: Add ability to invalidate a custom identifier on goto()
  .changeset/nasty-spoons-kick.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/apps/basics/src/routes/load/invalidation/depends-goto/+layout.js
  packages/kit/test/apps/basics/src/routes/load/invalidation/depends-goto/+page.js
  packages/kit/test/apps/basics/src/routes/load/invalidation/depends-goto/+page.server.js
  packages/kit/test/apps/basics/src/routes/load/invalidation/depends-goto/+page.svelte
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/types/index.d.ts
Labels: feature / enhancement

#12740 fix: use resolve_symlinks for node.universal and node.server
  .changeset/great-badgers-sing.md
  packages/kit/src/exports/vite/build/build_server.js
Labels: bug

#12217 fix: support absolute URLs with `data-sveltekit-preload-code="viewport"`
  .changeset/fluffy-coats-laugh.md
  packages/kit/src/runtime/client/client.js
  packages/kit/test/ambient.d.ts
  packages/kit/test/apps/basics/src/routes/data-sveltekit/preload-code/+page.svelte
  packages/kit/test/apps/basics/src/routes/data-sveltekit/preload-code/target/eager/+page.js
  packages/kit/test/apps/basics/src/routes/data-sveltekit/preload-code/target/eager/+page.svelte
  packages/kit/test/apps/basics/src/routes/data-sveltekit/preload-code/target/hover/+page.js
  packages/kit/test/apps/basics/src/routes/data-sveltekit/preload-code/target/hover/+page.svelte
  packages/kit/test/apps/basics/src/routes/data-sveltekit/preload-code/target/tap/+page.js
  packages/kit/test/apps/basics/src/routes/data-sveltekit/preload-code/target/tap/+page.svelte
  packages/kit/test/apps/basics/src/routes/data-sveltekit/preload-code/target/viewport/+page.js
  packages/kit/test/apps/basics/src/routes/data-sveltekit/preload-code/target/viewport/+page.svelte
  packages/kit/test/apps/basics/test/client.test.js
  packages/kit/test/apps/basics/test/cross-platform/client.test.js
  packages/kit/test/utils.d.ts
  packages/kit/test/utils.js
Labels: bug

#12088 fix: correctly include ambient types from adapters
  .changeset/shaggy-walls-wave.md
  packages/adapter-cloudflare-workers/internal.d.ts
  packages/adapter-cloudflare-workers/tsconfig.json
  packages/adapter-cloudflare/internal.d.ts
  packages/adapter-cloudflare/tsconfig.json
  packages/adapter-netlify/index.d.ts
  packages/adapter-netlify/internal.d.ts
  packages/adapter-netlify/tsconfig.json
  packages/adapter-node/ambient.d.ts
  packages/adapter-node/internal.d.ts
  packages/adapter-node/package.json
  packages/adapter-node/tsconfig.json
  packages/adapter-vercel/package.json
Labels: types / typescript, pkg:adapter-vercel, pkg:adapter-node

#13348 docs: mention `page` state object when describing `Page` type
  packages/kit/src/exports/public.d.ts
  packages/kit/types/index.d.ts
Labels: documentation

#13346 docs: document derived use of $app/state's page
  packages/kit/src/runtime/app/state/index.js
  packages/kit/types/index.d.ts
Labels: documentation

#12052 fix: prevent conflict between Netlify Identity and edge function rendering
  .changeset/witty-teachers-film.md
  packages/adapter-netlify/index.js
  packages/adapter-netlify/internal.d.ts
  packages/adapter-netlify/src/edge.js
Labels: pkg:adapter-netlify

#8843 fix: adjust declaration map paths
  .changeset/dirty-doors-hide.md
  .changeset/pretty-lizards-attend.md
  documentation/docs/30-advanced/70-packaging.md
  packages/package/package.json
  packages/package/src/index.js
  packages/package/src/typescript.js
  packages/package/test/fixtures/typescript-declaration-map/expected/Test.svelte
  packages/package/test/fixtures/typescript-declaration-map/expected/Test.svelte.d.ts
  packages/package/test/fixtures/typescript-declaration-map/expected/Test.svelte.d.ts.map
  packages/package/test/fixtures/typescript-declaration-map/expected/index.d.ts
  packages/package/test/fixtures/typescript-declaration-map/expected/index.d.ts.map
  packages/package/test/fixtures/typescript-declaration-map/expected/index.js
  packages/package/test/fixtures/typescript-declaration-map/package.json
  packages/package/test/fixtures/typescript-declaration-map/src/lib/Test.svelte
  packages/package/test/fixtures/typescript-declaration-map/src/lib/index.ts
  packages/package/test/fixtures/typescript-declaration-map/svelte.config.js
  packages/package/test/fixtures/typescript-declaration-map/tsconfig.json
  packages/package/test/index.js
  pnpm-lock.yaml
Labels: documentation, types / typescript, pkg:svelte-package

#12543 docs: handle immutable headers error
  documentation/docs/30-advanced/20-hooks.md
Labels: documentation

#13372 docs: fix 32 character long generation code snippet
  documentation/docs/25-build-and-deploy/90-adapter-vercel.md
Labels: documentation, pkg:adapter-vercel

#13114 feat: validate values for `cache-control` and `content-type` headers in dev mode
  .changeset/rich-pants-beam.md
  packages/kit/src/runtime/server/respond.js
  packages/kit/src/runtime/server/validate-headers.js
  packages/kit/src/runtime/server/validate-headers.spec.js
  packages/kit/test/apps/dev-only/src/routes/headers/invalid/+server.js
Labels: feature / enhancement
